﻿@model CGSilent.Models.RoleViewModel

@{
    ViewBag.Title = "افزودن";
}

<h2>افزودن.</h2>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>نقش.</h4>
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="افزودن" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("بازگشت", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
else
{
    <aside class="row">
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <aside style="height:50px; font-size:12px; color:#c0d846; font-weight:bold; text-align:center;">
                صفحه مورد نظر یافت نشد
            </aside>
        </aside>
    </aside>
}