﻿@model AspNet.Identity.MongoDB.IdentityRole

@{
    ViewBag.Title = "جزییات";
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <h2>جزییات.</h2>

    <div>
        <h4>نقش ها.</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    </div>
    <h4>لیست کاربران با نقش فوق</h4>
    if (ViewBag.UserCount == 0)
    {
        <hr />
        <p>کاربری در این نقش یافت نشد</p>
    }

    <table class="table">

        @foreach (var item in ViewBag.Users)
    {
    <tr>
        <td>
            @item.UserName
        </td>
    </tr>
    }
    </table>
    <p>
        @Html.ActionLink("ویرایش", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("بازگشت", "Index")
    </p>


}
else
{
    <aside class="row">
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <aside style="height:50px; font-size:12px; color:#c0d846; font-weight:bold; text-align:center;">
                صفحه مورد نظر یافت نشد
            </aside>
        </aside>
    </aside>
}
