﻿@model CGSilent.Models.GroupForDropDown

@{
    ViewBag.Title = "ویرایش گروه";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ویرایش گروه</h2>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>ویرایش گروه</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Group.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
                    </div>
                    @Html.Label("انتخاب والد :", htmlAttributes: new { @class = "col-md-12 text-right largetextbox pull-right" })
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.DropDownListFor(model => model.Group.ParentId, Model.Groups, htmlAttributes: new { @class = "form-control", @id = "ddl_Group" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Group.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Group.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Group.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="دخیره" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
else
{
    <aside class="row">
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <aside style="height:50px; font-size:12px; color:#c0d846; font-weight:bold; text-align:center;">
                صفحه مورد نظر یافت نشد
            </aside>
        </aside>
    </aside>
}