﻿@model IEnumerable<CGSilent.Areas.Article.Controllers.GroupController.GroupWithParent>

@{
    ViewBag.Title = "گروه های خبری";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <h2>گروه های خبری</h2>

    <p>
        @Html.ActionLink("ایجاد گروه", "AddGroup")
    </p>

    <table class="table">
        <tr>
            <th style="text-align:right;">
                نام
            </th>
            <th style="text-align:right;">
                نام گروه والد
            </th>
            <th style="text-align:right;">
                تاریخ ایجاد
            </th>
            <th style="text-align:right;">
                عملیات
            </th>
        </tr>
        @if (Model != null)
    {
        foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.ActionLink("ویرایش", "EditGroup", new { id = item.Id }) |
            @* @Html.ActionLink("Details", "Details", new {/* id=item.PrimaryKey */}) |*@
            @Html.ActionLink("حذف", "DeleteGroup", new { id = item.Id })
        </td>
    </tr>
        }
    }
    </table>
}
else
{
    <aside class="row">
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <aside style="height:50px; font-size:12px; color:#c0d846; font-weight:bold; text-align:center;">
                صفحه مورد نظر یافت نشد
            </aside>
        </aside>
    </aside>
}