﻿@model IEnumerable<CGSilent.Models.PaymentModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentIsFinished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyDateTime)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.PaymentStatus == "-100")
                {
                    <span>
                       تراکنش کامل نشده
                    </span>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.PaymentStatus)
                }
                </td >
                <td >
                @Html.DisplayFor(modelItem => item.PaymentIsFinished)
                </td >
                <td >
                @Html.DisplayFor(modelItem => item.Amount)
                </td >
                <td >
                @Html.DisplayFor(modelItem => item.BankName)
                </td >
                <td >
                @Html.DisplayFor(modelItem => item.BuyDateTime)
                </td >
                </tr >
            }
</table>
