﻿@model CGSilent.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<link href="@Url.Content("~/Content/Style/Register.css")" rel="stylesheet" />

@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <aside id="div_title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 registerTitle">
                <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 registerheader" style="padding: 0px !important; padding-left:18PX !important;">تغییر رمز عبور</aside>
                <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 leftsideRegisterHeader"></aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 attentionsentence"> 
                </aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    رمز عبور قبلی
                </aside>
                <aside class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
                    @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control inputtextbox", @id = "txb_username" })
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    رمز عبور فعلی
                </aside>
                <aside class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
                    @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control inputtextbox", @id = "txb_username" })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    تایید رمز عبور فعلی
                </aside>
                <aside class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control inputtextbox", @id = "txb_username" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2"></aside>
                <aside class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                    <input type="submit" value="تایید" class="btn loginregisterButton registerbutton" />
                </aside>
                <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
            </aside>
        </aside>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
else
{
    <aside class="row">
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <aside style="height:50px; font-size:12px; color:#c0d846; font-weight:bold; text-align:center;">
                صفحه مورد نظر یافت نشد
            </aside>
        </aside>
    </aside>
}
