﻿@model CGSilent.Models.IndexViewModel
@using System.Web.Security
@using Microsoft.AspNet.Identity
@using App.Extensions
@{
    ViewBag.Title = "مدیریت حساب کاربری";
}
<link href="@Url.Content("~/Content/Style/Home.css")" rel="stylesheet" />
@if (User.Identity.IsAuthenticated)
{
    <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 backofuserimage">
        <div style="margin-top: 50px;">
            <div class="userProfileName">
                @User.Identity.GetUserName()
                <div class="userrole">
                    @ViewBag.UserRoles
                </div>
            </div>
            <aside style="position:relative;">
                <aside class="userinfoimage">
                    @{
                        Html.RenderAction("UserImage", "Account", new { area = "" });
                    }
                </aside>
            </aside>
        </div>
    </aside>
    <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 form-group profileTable">
        <table class="profileTable" cellspacing="10">
            <tbody>
                <tr>
                    <td class="profileheader">
                        <span class="profileheader">
                            ایمیل کاربر
                        </span>
                    </td>
                    <td class="profileData">
                        <span class="profileData">
                            @User.Identity.GetuserEmail()
                        </span>
                    </td>
                    <td class="profileheader">
                        <span class="profileheader">
                            تعداد نطرات کاربر
                        </span>
                    </td>
                    <td class="profileData">
                        <span class="profileData">
                            @ViewBag.LikeCount
                        </span>
                    </td>
                    <td class="profileheader">
                        <span class="profileheader">
                            تاریخ عضویت
                        </span>
                    </td>
                    <td class="profileData">
                        <span class="profileData">
                            @User.Identity.GetuserCreatedDate()
                        </span>
                    <td>
                    <td class="profileData">
                        <span class="profileData">
                            <a href="@Url.Content("~/Manage/ManageUserBasket")">
                                <img src="@Url.Content("~/Content/Images/Article/basket-2.png")" />
                            </a>
                        </span>
                    <td>
                </tr>
            </tbody>
        </table>
    </aside> <br />
    <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 form-group">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        @Html.ActionLink("تغییر رمز عبور", "ChangePassword", "Manage", routeValues: null, htmlAttributes: new { @class = "loginregisterButton col-lg-6 col-md-6 col-sm-12 col-xs-12" })</div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            @Html.ActionLink("پرداخت های VIP", "BuyVIP", "Manage", routeValues: null, htmlAttributes: new { @class = "loginregisterButton col-lg-6 col-md-6 col-sm-12 col-xs-12" })
        </div> 
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
    </aside>
}
else
{
    <aside class="row">
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <aside style="height:50px; font-size:12px; color:#c0d846; font-weight:bold; text-align:center;">
                صفحه مورد نظر یافت نشد
            </aside>
        </aside>
    </aside>
}

