﻿@model IEnumerable<CGSilent.Models.Articles>

@{
    ViewBag.Title = "سبد خرید کاربر";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Style/Basket.css" rel="stylesheet" />
<style type="text/css">
    .StatusLink {
        color:#337ab7 !important;
    }
</style>
<h2 class="TitleStyle">سبد خرید</h2>
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("AcceptBasket", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        if (Model.Count() > 0)
        {
            <table class="table" cellpadding="0" cellspacing="0" style=" border:1px solid #fff;">
                <tr>
                    <th class="HeaderStyle">ردیف</th>
                    <th class="HeaderStyle">تیتر خبر</th>
                    <th class="HeaderStyle">قیمت</th>
                    <th class="HeaderStyle">حذف</th>
                </tr>
                @{ var index = 0; var prices = 0;}
                @foreach (var item in Model)
                {
                    index = index + 1;
                    prices = prices + @item.Price;
                    <tr>
                        <td class="ContentOfTableStyle">index</td>
                        <td class="ContentOfTableStyle">
                            @item.Title
                        </td>
                        <td class="ContentOfTableStyle">
                            @item.Price
                        </td>
                        <td class="ContentOfTableStyle">
                            @Html.ActionLink("Delete", "DeleteFromBasket", new { id = item.Id }, new { @class = "RemoveButton", @title = "حذف" })
                        </td>
                    </tr>
                }
            </table>

            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <input type="submit" id="btn_Accept" class="ButtonStyle" value="تایید نهایی" title="تایید نهایی" />
            </aside>
            <aside style="height:20px; line-height:20px; clear:both;"></aside>
                    }
                    if (ViewBag.BasketList != null)
                    {
                        <table class="table" cellpadding="0" cellspacing="0" style="border:1px solid #fff;">
                            <tr>
                                <th class="HeaderStyle">
                                    ردیف
                                </th>
                                <th class="HeaderStyle">
                                    کاربر درخواست کننده
                                </th>
                                <th class="HeaderStyle">
                                    تاریخ درخواست
                                </th>
                                <th class="HeaderStyle">
                                    لینک درخواست
                                </th>
                                <th class="HeaderStyle">
                                    وضعیت
                                </th>
                                <th class="HeaderStyle">
                                    عملیات
                                </th>
                            </tr>

                            @{ var index = 1;}
                            @foreach (var item in ViewBag.BasketList)
                            {
                                <tr>
                                    <td class="ContentOfTableStyle">
                                        @index
                                    </td>
                                    <td class="ContentOfTableStyle">
                                        @item.UserName
                                    </td>
                                    <td class="ContentOfTableStyle">
                                        @item.CreatedDate
                                    </td>
                                    <td class="ContentOfTableStyle">
                                        @for (int i = 0; i < item.ArticleTitle.Count; i++)
                                        {
                                            var articleid = item.ArticleId[i];
                                            <aside class="btn-link" target="_blank">
                                                @item.ArticleTitle[i]
                                            </aside>
                                            <br />
                                        }
                                    </td>
                                    <td class="ContentOfTableStyle">
                                        @if (item.Status == 0)
                                        {
                                            <aside class="ContentOfTableStyle">در حال انجام</aside>
                                        }
                                        @if (item.Status == 2)
                                        {
                                            <aside class="ContentOfTableStyle">انجام نشده</aside>
                                        }
                                        @if (item.Status == 1)
                                        {
                                            <aside class="ContentOfTableStyle">انجام شد</aside>
                                        }
                                    </td>
                                    <td class="ContentOfTableStyle">
                                        @if (User.IsInRole("Admin"))
                                        {
                                            if (item.Status == 0)
                                            {
                                                @Html.ActionLink("انجام شد", "ChangeStatus", new { id = item.Id, status = "1" },new {@class="StatusLink" })
                                                <br />
                                                @Html.ActionLink("انجام نشده", "ChangeStatus", new { id = item.Id, status = "2" }, new { @class = "StatusLink" })
                                            }
                                            if (item.Status == 2)
                                            {
                                                @Html.ActionLink("در حال انجام", "ChangeStatus", new { id = item.Id, status = "0" }, new { @class = "StatusLink" })
                                                <br />
                                                @Html.ActionLink("انجام شد", "ChangeStatus", new { id = item.Id, status = "1" }, new { @class = "StatusLink" })
                                            }
                                            if (item.Status == 1)
                                            {
                                                @Html.ActionLink("در حال انجام", "ChangeStatus", new { id = item.Id, status = "0" }, new { @class = "StatusLink" })
                                                <br />
                                                @Html.ActionLink("انجام نشده", "ChangeStatus", new { id = item.Id, status = "2" }, new { @class = "StatusLink" })
                                            }
                                        }
                                    </td>
                                </tr>
                                index = index + 1;
                            }
                        </table>
                                        }
                                    }
                                }
                                else
                                {
                                    <aside class="row">
                                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <aside style="height:50px; font-size:12px; color:#c0d846; font-weight:bold; text-align:center;">
                                                صفحه مورد نظر یافت نشد
                                            </aside>
                                        </aside>
                                    </aside>
                                }