﻿
@{
    ViewBag.Title = "SiteManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="@Url.Content("~/Content/Style/SiteManagement.css")" rel="stylesheet" />
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <aside class="box">
        <ul class="nav nav-tabs tabpanel">
            <li class="active tabStyle">
                <a data-toggle="tab" href="#AddArticle" title="ثبت خبر">
                    ثبت خبر
                </a>
            </li>
            <li class="tabStyle">
                <a data-toggle="tab" href="#ArticleManagement" title="مدیریت اخبار">
                    مدیریت اخبار
                </a>
            </li>
            <li class="tabStyle">
                <a data-toggle="tab" href="#UserManagement" title="مدیریت کاربران">
                    مدیریت کاربران
                </a>
            </li>
            <li class="tabStyle">
                <a data-toggle="tab" href="#GroupManagement" title="مدیریت گروه ها">
                    مدیریت گروه ها
                </a>
            </li>
            <li class="tabStyle">
                <a data-toggle="tab" href="#RequestManagement" title="مدیریت درخواست ها">
                    <img src="~/Content/Images/Request/Request_AddRequest.png" />
                </a>
            </li>
            <li class="tabStyle">
                <a data-toggle="tab" href="#SiteStatics" title="آمار سایت">
                    آمار سایت
                </a>
            </li>
        </ul>
    </aside>
    <div class="tab-content">
        <div id="AddArticle" class="tab-pane fade in active">
            <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @{Html.RenderAction("InsertArticle", "ArticleManagement"); }
            </section>
        </div>
        <div id="ArticleManagement" class="tab-pane fade in">
            <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @{Html.RenderAction("ArticleByNumber", "ArticleManagement"); }
            </section>
        </div>
        <div id="UserManagement" class="tab-pane fade in">
            <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @*@Html.Partial("_BuyExtra")*@
            </section>
        </div>
        <div id="GroupManagement" class="tab-pane fade in">
            <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @*@{Html.RenderAction("AddRequest", "RequestAdmin"); }*@
            </section>
        </div>
        <div id="RequestManagement" class="tab-pane fade in">
            <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @*@Html.Partial("_ViewRequests")*@
            </section>
        </div>
        <div id="SiteStatics" class="tab-pane fade in">
            <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @*@Html.Partial("_BuyLink")*@
            </section>
        </div>
    </div>
                    }
                    else
                    {
                        <aside class="row">
                            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <aside style="height:50px; font-size:12px; color:#c0d846; font-weight:bold; text-align:center;">
                                    صفحه مورد نظر یافت نشد
                                </aside>
                            </aside>
                        </aside>
                    }