﻿@*@model CGSilent.Models.SearchArticle*@
@{
    ViewBag.Title = "صفحه ی اصلی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PagedList.Mvc; @*//import this so we get our HTML Helper*@
@using PagedList; @*//import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@
@using System.Globalization;

<link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Style/Article.css")" rel="stylesheet" />

<script type="text/javascript">
    function DisableButton(id) {

    }
</script>
@using (Html.BeginForm("Index", "ArticleAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br />
    if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <p class="text-right container">
            @Html.ActionLink("ثبت خبر", "AddArticle", "", new { @class = "addicon", title = "ثبت خبر جدید" })
        </p>
        <br />
    }

    <span style="font-size:20px; font-weight:bold;">
        @ViewBag.error
    </span>
    foreach (var item in ViewBag.ArticleDataForPageingAndView)
    {
        if (item != null)
        {
            if (item.ArticleGroupsData.Count > 0)
            {
                var insert = false;
                var groups = "";
                foreach (var group in item.ArticleGroupsData)
                {
                    if (group.GroupId.ToString() != "5a526a33e290b819dc102a35" && group.GroupId.ToString() != "5a87bcf3e290b822a801fe91")
                    {
                        insert = true;
                        foreach (var g in ViewBag.AllData.GroupList)
                        {
                            if (g.Id == group.GroupId)
                            {
                                groups += g.Name + " , ";
                            }
                        }
                    }
                }
                if (groups.Length > 3)
                {
                    groups = groups.Substring(0, groups.Length - 3);
                }
                if (insert)
                {
                    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ArticleHeader">
                           <a class="btn-link" target="_blank" href=@Url.Action("DetailArticle", "ArticleAdmin", routeValues: new { area = "Article", item.Article.Id })>
                                @item.Article.Title
                            </a> 
                    </aside>
                    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ArticleBody ">
                        <aside class="ArticleTitleBar">
                            <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 Icon">
                                <img src="~/Content/Images/All/Author.png" class="ImageIcon" />
                                @item.Article.Author
                            </aside>
                            <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 Icon">
                                <img src="~/Content/Images/All/Clock.png" class="ImageIcon" />
                                @{ string[] str = item.Article.CreatedDate.Split('T');
                                    PersianCalendar p = new PersianCalendar();
                                    DateTime date = DateTime.Parse(item.Article.CreatedDate);
                                    int year = p.GetYear(date);
                                    int month = p.GetMonth(date);
                                    int day = p.GetDayOfMonth(date);
                                    var persiandate = year + "-" + month + "-" + day + "T" + str[1];
                                    string[] datetime = persiandate.Split('T');

                                    <span>@datetime[1]</span>
                                }
                            </aside>
                            <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 Icon">
                                <img src="~/Content/Images/All/Calender.png" class="ImageIcon" />
                                @datetime[0]
                            </aside>
                            <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 Icon">
                                <img src="~/Content/Images/All/Sharp.png" class="ImageIcon" />
                                @item.Article.ArticleNumber
                            </aside>
                            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3">
                                @if (item.Article.FilePermisionId.ToString() == "5a47dd2ee290b822d04ff282")
                                {<img src="~/Content/Images/Article/DokmeVIP.png" style="float:left; vertical-align:top;" />}
                            </div>
                        </aside>
                        <aside class="row" id="div_ArticleImage">
                            <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1 "></aside>
                            <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 ">
                                <img class="img-responsive ArticleImage" src="@Url.Content(item.Article.ImagePath)" />
                                <aside class="row summery" id="div_Summery">
                                    @item.Article.Summery
                                </aside>
                            </aside>
                            <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1 "></aside>
                        </aside>
                        <aside class="groupdata" id="div_Group">
                            <span class="grouptitle">دسته بندی : </span>
                            <span class="groups">
                                <span>@groups</span>
                                @*@for (var i = 0; i < item.ArticleGroupsData.Count; i++)
                                    {
                                        for (int j = 0; j < ViewBag.AllData.GroupList.Count; j++)
                                        {
                                            if (item.ArticleGroupsData[i].GroupId == ViewBag.AllData.GroupList[j].Id &&
                                                 ViewBag.AllData.GroupList[j].Id.ToString() != "5a526a33e290b819dc102a35")
                                            {
                                                if (i == item.ArticleGroupsData.Count - 1)
                                                { <span>@ViewBag.AllData.GroupList[j].Name </span>}
                                                else
                                                {  <span>@ViewBag.AllData.GroupList[j].Name,</span>}

                                            }
                                        }
                                    }*@
                            </span>
                            <aside id="div_ArticleActivities" class="position-relative">
                                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divwithnopadding">
                                    <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-left Detail">
                                        <a class="btn-link" target="_blank" href=@Url.Action("DetailArticle", "ArticleAdmin", routeValues: new { area = "Article", item.Article.Id })>
                                            <div style="width:100%;">
                                                ادامه مطلب
                                            </div>
                                        </a>
                                    </aside>
                                    <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pull-left empty"></aside>
                                    <aside class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-left Activities">
                                        <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-right">
                                            <img src="~/Content/Images/All/Comments.png" />
                                            @item.ArticleComments.Count
                                        </aside>
                                        <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-right">
                                            <img src="~/Content/Images/All/ViewCount.png" />
                                            @item.Article.ViewCount
                                        </aside>
                                        <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-right">
                                            @Ajax.ActionLink(
                                                                                  linkText: " ",
                                                                                  actionName: "DisLikeArticle",
                                                                                  controllerName: "ArticleAdmin",
                                                                                  routeValues: new { Id = item.Article.Id },
                                                                                  htmlAttributes: new { @class = "dislike" },
                                                                                      ajaxOptions: new AjaxOptions
                                                                                      {
                                                                                          HttpMethod = "Post",
                                                                                          InsertionMode = InsertionMode.Replace,
                                                                                          LoadingElementId = "Progrees_" + item.Article.Id,
                                                                                          UpdateTargetId = "refTable"
                                                                                      }
                                                                                 )
                                            <span>@item.LikeDislike.DislikeCount</span>
                                        </aside>
                                        <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-right">

                                            @Ajax.ActionLink(
                                                                         linkText: " ",
                                                                         actionName: "LikeArticle",
                                                                         controllerName: "ArticleAdmin",
                                                                         routeValues: new { item.Article.Id },
                                                                         htmlAttributes: new { @class = "like", @id = item.Article.Id },
                                                                             ajaxOptions: new AjaxOptions
                                                                             {
                                                                                 HttpMethod = "Post",
                                                                                 InsertionMode = InsertionMode.Replace,
                                                                                 LoadingElementId = "Progrees_" + item.Article.Id,
                                                                                 UpdateTargetId = "refTable",
                                                                                 OnComplete = "DisableButton(@item.ArticleId)"
                                                                             }
                                                                        )
                                            <span>@item.LikeDislike.LikeCount</span>
                                            <img src="~/Content/Images/All/loading.gif" id="Progrees_@(item.Article.Id)" style="display:none; width:30px; height:30px;" />

                                        </aside>
                                    </aside>
                                </aside>
                            </aside>
                        </aside>
                    </aside>
                                                }
                                            }
                                        }
                                    }
                                    @Html.PagedListPager((IPagedList)ViewBag.ArticleDataForPageingAndView, page => Url.Action("Index", "ArticleAdmin", new { page }))
                                    }
<script>
    $(document).ready(function () {
        var lastpagetext = $(".PagedList-skipToLast a").text();
        if (lastpagetext == "»»") {
            var pagenumber = $(".PagedList-skipToLast a").attr("href");
            var indexofpage = pagenumber.indexOf("?page=");
            pagenumber = pagenumber.substring(indexofpage + 6);
            $(".PagedList-skipToLast a").text(pagenumber);
        }
    });
</script>
