﻿@model CGSilent.Models.Articles

@{
    ViewBag.Title = "حذف خبر";
    Layout = "~/Areas/Management/Views/Shared/_Management.cshtml";
}

<div class="container-fluid arrow light-bg">
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        using (Html.BeginForm("DeleteArticle", "ArticleAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <h2 class="TitleStyle">حذف خبر</h2>
            <div>
                <hr />
                @Html.HiddenFor(model => model.ImagePath, new { @id = "hide_ImagePath" })
                @*@Html.HiddenFor(model => model.ImageId, new { @id = "hide_ImageId" })*@

                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ArticleHeader">
                    @Model.Title
                </aside>
                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ArticleBody ">
                    <aside class="ArticleTitleBar">
                        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 Icon">
                            <img src="~/Content/Images/All/Author.png" class="ImageIcon" />
                            @Model.Author
                        </aside>
                        <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1 Icon">
                            <img src="~/Content/Images/All/Clock.png" class="ImageIcon" />
                            @{ string[] datetime = Model.CreatedDate.Split('T');

                        <span>@datetime[1]</span>
                            }
                        </aside>
                        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 Icon">
                            <img src="~/Content/Images/All/Calender.png" class="ImageIcon" />
                            <span>@datetime[0]</span>
                        </aside>
                        <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1 Icon">
                            <img src="~/Content/Images/All/Sharp.png" class="ImageIcon" />
                            @Model.ArticleNumber
                        </aside>
                    </aside>
                    <aside class="row" id="div_ArticleImage">
                        <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1 "></aside>
                        <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 ">
                            <img class="img-responsive ArticleImage" src="@Url.Content(Model.ImagePath)" />
                            <aside class="row summery" id="div_Summery">
                                @Model.Summery
                            </aside>
                        </aside>

                        <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1 "></aside>
                    </aside>
                    <aside class="row" id="div_ArticleImage">
                        <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1 "></aside>
                        <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 ">
                            <aside class="row summery" id="div_Description">
                                @Html.Raw(Model.Description)
                            </aside>
                        </aside>

                        <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1 "></aside>
                    </aside>
                </aside>

                @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat">
                <input type="submit" value="حذف" class="btn btn-default ButtonStyle" /> |
                @Html.ActionLink("بازگشت به لیست اخبار", "Index", new { area = "Article" })
            </aside>
            <div style="clear:both; height:30px;"></div>
            }
            </div>
                                    }
                                }
                                else
                                {
                                    <span> شما مجوز دسترسی به این صفحه را ندارید.</span>
                                }

</div>