﻿﻿@model CGSilent.Models.ArticleListComplete
@using System.Globalization;
@{
    ViewBag.Title = "جزییات خبر";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Content/ckeditor/ckeditor.js")"></script>
<link href="@Url.Content("~/Content/ckeditor/contents.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/ckeditor/config.js")"></script>
<link href="@Url.Content("~/Content/Style/jplayer/css/jplayer.blue.monday.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Style/Article.css")" rel="stylesheet" />
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.jplayer.min.js")"></script>
<link href="@Url.Content("~/Content/Style/gallerybox.css")" rel="stylesheet" />
<style>
    .cke_top {
    }

    #div_ArticleActivities {
        bottom: 0px !important;
        height: 40px !important;
        line-height: 40px !important;
    }

    .arrowwithnobackground {
        background-image: unset !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        //debugger;
        //($(".relatedtext").text().length > 50) ? $(".relatedtext").text().substring(0, 50) + '...' : text;
    });
    //<![CDATA[
    function LoadVideo(videotitle, videoAddress, containerId, divID) {
        var id = divID.id;
        $("#" + id).jPlayer({
            ready: function () {
                // alert("gg");
                $(this).jPlayer("setMedia", {
                    title: videotitle,
                    m4v: videoAddress,
                    poster: "@Url.Content("~/Content/Images/All/Video_thumbnail.jpg")"
                });
            },
            play: function () { // To avoid multiple jPlayers playing together.
                $(this).jPlayer("pauseOthers");
            },
            swfPath: "Scripts/jplayer",
            supplied: "webmv, ogv, m4v",
            cssSelectorAncestor: "#" + containerId.id,//"#jp_container_",
            globalVolume: true,
            useStateClassSkin: true,
            autoBlur: false,
            smoothPlayBar: true,
            keyEnabled: true
        });
    }

    function ResponseToComment(commentid, username, articleId) {
        debugger;
        $("#hide_commentId").val(commentid);
        $("#div_ResponseComment").css("display", "block");
        $("#lb_UserName").text(username);
        $("#hide_ArticleId").val(articleId);
        $("#btn_AddComment").val("پاسخ به نظر");
    }

    function loginForAddComment() {
        alert("جهت ثبت نظر خود با حساب کاربری وارد شوید.");
    }

    function DisableButton(buttonid) {
        $("#" + buttonid).hide();
    }

</script>

<aside class="arrow light-bg" id="refTable">
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ArticleHeader">
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="width: 30px; line-height: 40px;">
                @Html.ActionLink(" ", "EditArticle", new { id = Model.ArticleList[0].Article.Id }, htmlAttributes: new { @class = "editicon text-right", @title = "ویرایش" })
            </aside>
            <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="width: 30px; line-height: 40px;">
                @Html.ActionLink(" ", "DeleteArticle", new { id = Model.ArticleList[0].Article.Id }, htmlAttributes: new { @class = "removeicon  text-right", @title = "حذف" })
            </aside>
        }
        <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            @Model.ArticleList[0].Article.Title
        </aside>
    </aside>
    <aside class="rel">
        <aside class="div_Propgress">
            <img src="~/Content/Images/Article/wheel.gif" id="Progrees"
                 style="display:none; width:30px; height:30px; right: 200px; top: -10px; position: absolute;" />
        </aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ArticleBody ">
        <aside class="ArticleTitleBar">
            <aside class="col-lg-2 col-md-2 col-sm-6 col-xs-6 Icon">
                <img src="~/Content/Images/All/Author.png" class="ImageIcon" />
                @Model.ArticleList[0].Article.Author
            </aside>
            <aside class="col-lg-2 col-md-2 col-sm-6 col-xs-6 Icon">
                <img src="~/Content/Images/All/Clock.png" class="ImageIcon" />
                @{ string[] str = Model.ArticleList[0].Article.CreatedDate.Split('T');
                    PersianCalendar p = new PersianCalendar();
                    DateTime date = DateTime.Parse(Model.ArticleList[0].Article.CreatedDate);
                    int year = p.GetYear(date);
                    int month = p.GetMonth(date);
                    int day = p.GetDayOfMonth(date);
                    var persiandate = year + "-" + month + "-" + day + "T" + str[1];
                    string[] datetime = persiandate.Split('T');
                    <span>@datetime[1]</span>
                }
            </aside>
            <aside class="col-lg-2 col-md-2 col-sm-6 col-xs-6 Icon">
                <img src="~/Content/Images/All/Calender.png" class="ImageIcon" />
                <span>@datetime[0]</span>
            </aside>
            <aside class="col-lg-1 col-md-1 col-sm-6 col-xs-6 Icon">
                <img src="~/Content/Images/All/Sharp.png" class="ImageIcon" />
                @Model.ArticleList[0].Article.ArticleNumber
            </aside>
        </aside>
        <aside class="row" id="div_ArticleImage">
            <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1 "></aside>
            <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 ">
                <img class="img-responsive ArticleImage" src="@Url.Content(Model.ArticleList[0].Article.ImagePath)" />
                <aside class="row summery" id="div_Summery">
                    @Model.ArticleList[0].Article.Summery
                </aside>
            </aside>
            <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1 "></aside>
        </aside>
        <aside class="row" id="div_ArticleDescription">
            <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1 "></aside>
            <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 ">
                <aside class="row DetailArticle" id="div_Description">
                    @Html.Raw(Model.ArticleList[0].Article.Description)
                </aside>
            </aside>
            <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1 "></aside>
        </aside>
        <aside class="col-lg-12 col-md-12 cl-sm-12 col-xs-12 groupdata" id="div_Group">
            <aside class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <span class="grouptitle">دسته بندی : </span>
                <span class="groups">
                    @for (var i = 0; i < @Model.ArticleList[0].ArticleGroupsData.Count; i++)
                    {
                        for (int j = 0; j < Model.GroupList.Count; j++)
                        {
                            if (Model.ArticleList[0].ArticleGroupsData[i].GroupId == Model.GroupList[j].Id)
                            {
                                if (i == Model.ArticleList[0].ArticleGroupsData.Count - 1)
                                {
                                    <span>@Model.GroupList[j].Name </span>
                                }
                                else
                                {
                                    <span>@Model.GroupList[j].Name , </span>
                                }
                            }
                        }
                    }
                </span>
            </aside>
            <aside id="div_ArticleActivities" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 position-relative Detail">
                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divwithnopadding">
                    <aside class="col-lg-2 col-md-2 hidden-sm hidden-xs pull-left empty"></aside>
                    <aside class="col-lg-10 col-md-10 col-sm-12 col-xs-12 pull-left ">
                        @*<aside class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                            </aside>*@
                        <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
                            <img src="~/Content/Images/All/Comments.png" />
                            @Model.ArticleList[0].ArticleComments.Count
                        </aside>
                        <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
                            <img src="~/Content/Images/All/Author.png" />
                            @Model.ArticleList[0].Article.ViewCount
                            @*@Model.ArticleList[0].Article.Author*@
                        </aside>
                        <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3 " id="likecount">
                            @Ajax.ActionLink(
                            linkText: " ",
                            actionName: "LikeArticle",
                            controllerName: "ArticleAdmin",
                            routeValues: new { @Model.ArticleList[0].Article.Id },
                            htmlAttributes: new { @class = "like", @id = @Model.ArticleList[0].Article.Id },

                            ajaxOptions: new AjaxOptions
                            {
                                HttpMethod = "Post",
                                InsertionMode = InsertionMode.Replace,
                                LoadingElementId = "Progrees_" + @Model.ArticleList[0].Article.Id,
                                UpdateTargetId = "likecount",
                                OnSuccess = "DisableButton(Progrees_@Model.ArticleList[0].Article.Id)"
                                //OnComplete = "DisableButton(Progrees_@item.ArticleId)"
                            }
                            )
                            @Html.DisplayFor(modelItem => @Model.ArticleList[0].LikeDislike.LikeCount)
                            <img src="~/Content/Images/Article/wheel.gif" id="Progrees_@(@Model.ArticleList[0].Article.Id)" style="display:none; width:30px; height:30px;" />
                        </aside>
                        <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3 " id="dislikecount">
                            @Ajax.ActionLink(
                            linkText: " ",
                            actionName: "DisLikeArticle",
                            controllerName: "ArticleAdmin",
                            routeValues: new { Id = @Model.ArticleList[0].Article.Id },
                            htmlAttributes: new { @class = "dislike" },
                            ajaxOptions: new AjaxOptions
                            {
                                HttpMethod = "Post",
                                InsertionMode = InsertionMode.Replace,
                                LoadingElementId = "Progrees_" + @Model.ArticleList[0].Article.Id,
                                UpdateTargetId = "dislikecount",
                                OnSuccess = "DisableButton(Progrees_@Model.ArticleList[0].Article.Id)"
                            }
                            )
                            @Html.DisplayFor(modelItem => @Model.ArticleList[0].LikeDislike.DislikeCount)
                        </aside>
                    </aside>
                </aside>
            </aside>
        </aside>
    </aside>
    @if (ViewBag.ArticleDetailImageGalary != null)
    {
        if (ViewBag.ArticleDetailImageGalary.Count > 0)
        {
            <aside id="div_title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ArticleTitle">
                <aside class="col-lg-2 col-md-2 col-sm-4 col-xs-6 Articleheader" style="padding: 0px !important; padding-left:18PX !important;">عکس</aside>
                <aside class="col-lg-10 col-md-10 col-sm-8 col-xs-6 leftsideArticleHeader"></aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group Articlemediacontent">

                @foreach (var item in ViewBag.ArticleDetailImageGalary)
                {
                    <aside class="col-md-3 col-lg-3 col-sm-6 col-xs-12 form-group">
                        <img class="col-lg-12 col-md-12 col-sm-12 col-xs-12 galaryitem demo form-group img-responsive"
                             src="@Url.Content(item.ImagePath)" />
                    </aside>
                }

            </aside>
        }
    }
    @if (Model.ArticleList[0].Article.VideoAddress != null)
    {
        if (Model.ArticleList[0].Article.VideoAddress != "")
        {
            <aside id="div_title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ArticleTitle">
                <aside class="col-lg-2 col-md-2 col-sm-4 col-xs-6 Articleheader" style="padding: 0px !important; padding-left:18PX !important;">فیلم</aside>
                <aside class="col-lg-10 col-md-10 col-sm-8 col-xs-6 leftsideArticleHeader"></aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group Articlemediacontent">
                @{var index = 0;
                    var str_videotitle = Model.ArticleList[index].Article.VideoName.Split(',');
                    var str_Video1 = Model.ArticleList[index].Article.VideoAddress.Split(',');
                    foreach (var video in str_Video1)
                    {
                        <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center form-group">
                            <video width="90%" controls>
                                <source src="@video" type="video/mp4">
                            </video>
                        </aside>
                        <aside class="col-md-3 col-lg-3 col-sm-3 col-xs-3 form-group hidden">
                            <img class="col-lg-12 col-md-12 col-sm-12 col-xs-12 galaryitem form-group img-responsive" onclick="playvideo(video, str_videotitle[index])"
                                 src="~/Content/Images/All/Video-Thumbnail.jpg" title="@str_videotitle"
                                 data-toggle="modal" data-target=".bs-example-modal-lg" />
                        </aside>
                        index = index + 1;
                    }
                }
                <script type="text/javascript">
                    function playvideo(video, title) {
                        var videopath = video;
                        var videotitle = title;
                        LoadVideo(videotitle, videopath, jp_container, jquery_jplayer);
                    }
                </script>
            </aside>
        }
    }
    <aside id="div_title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ArticleTitle">
        <aside class="col-lg-2 col-md-2 col-sm-4 col-xs-6 Articleheader" style="padding: 0px !important; padding-left:18PX !important;">دانلود و خرید پستی</aside>
        <aside class="col-lg-10 col-md-10 col-sm-8 col-xs-6 leftsideArticleHeader"></aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group ArticleDownloadcontent" style="margin-bottom:28px;">
        <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <aside class="col-lg-2 col-md-2 col-sm-4 col-xs-6 articleDownloadInnerTitle">
                <span class="text-center">خرید پستی فایل</span>
            </aside>
            <aside class="col-lg-10 col-md-10 col-sm-8 col-xs-6"></aside>
        </aside>
        <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 div_downflesh">
                <img class="articleDownloaddownflesh" src="~/Content/Images/Article/downFlesh.png" />
            </aside>
            <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 div_leftsideofimagedown"></aside>
            <aside class="text-center div_FileDownloadContent">
                <aside style="background-color:#101a22; width:100%; height:100%; ">
                    <aside class="col-lg-6 col-md-6 col-sm-12 col-xs-12 div_fileDownloadDescription">
                        <span style="padding-right:15px;">
                            شما می توانید برای خرید پستی این فایل به صورت
                        </span>
                        <span style="color:#d5f04d;">
                            DVD
                        </span>
                        <br />
                        <span style="padding-right:15px;">
                            آنرا به سبد خرید خود اضافه نموده و درب منزل تحویل بگیرید.
                        </span>
                    </aside>
                    <aside class="col-lg-3 col-md-3 col-sm-12 col-xs-12 div_articlePrice">
                        <aside style="height:28px; width:139px;">
                            <aside class="articlePrice">
                                <span>@Model.ArticleList[0].Article.Price</span>
                                <span>تومان</span>
                            </aside>
                            <aside style="float:right;">
                                <img src="~/Content/Images/Article/price.png" />
                            </aside>
                        </aside>
                    </aside>
                    <aside class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="height:50px; top:8px;">
                        @if (Request.IsAuthenticated)
                        {
                            @Html.AntiForgeryToken()
                            <aside style="height:28px; width:139px;top: -4px; position: relative;">


                                <a class="btn btn-link left" id="@Model.ArticleList[0].Article.Id" title="افزودن به سبد خرید"
                                   onclick="AddBasket('@Model.ArticleList[0].Article.Id')">
                                    <img src="~/Content/Images/Article/basket.png" />
                                </a>
                            </aside>
                            <script type="text/javascript">
                    function AddBasket(buttonid)
                    {
                    $("#Progrees_Basket").show();
                    var id = buttonid;
                    $.ajax({
                    url: '@Url.Action("AddBasket", "ArticleAdmin", new { area = "" })',
                    type: "Post",
                    datatype: "text",
                    data: { id: id },
                    UpdateTargetId: "Progrees_Basket",
                    success: function() {
                    debugger;
                    alert("محصول فوق به لیست درخواست های شما افزوده شد.");
                    $("#Progrees_Basket").hide();
                    },
                    error: function() {
                    alert("لطفا جددا تلاش نمایید.");
                    $("#Progrees_Basket").hide();
                    }
                    });
                    }
                            </script>
                            <img src="~/Content/Images/Article/wheel.gif" id="Progrees_Basket" style="position:absolute; top:10px; display:none; width:30px; height:30px;" />
                        }
                        else
                        {
                            <aside style="min-height:28px; width:50%; top: 4px; position: relative;">
                                <img src="~/Content/Images/Article/basket.png" alt="لطفا برای خرید این محصول با حساب کاربری خود وارد شوید." />
                            </aside>
                        }
                    </aside>
                </aside>
            </aside>
        </aside>
        <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="height:28px;"></aside>
        <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <aside class="col-lg-2 col-md-2 col-sm-4 col-xs-6 articleDownloadInnerTitle">
                <span class="text-center">دانلود فایل</span>
            </aside>
            <aside class="col-lg-10 col-md-10 col-sm-8 col-xs-6"></aside>
        </aside>
        <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 div_downflesh">
                <img class="articleDownloaddownflesh" src="~/Content/Images/Article/downFlesh.png" />
            </aside>
            <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 div_leftsideofimagedown"></aside>
            <aside class="text-center div_FileDownloadlinks">
                @if (Request.IsAuthenticated)
                {
                    if ((ViewBag.roleid != null) && ViewBag.roleid == Model.ArticleList[0].Article.FilePermisionId.ToString())
                    {
                        if (Model.ArticleList[0].Article.FileAddress != null)
                        {
                            if (Model.ArticleList[0].Article.FileAddress != "")
                            {
                                if (Model.ArticleList[0].Article.FileAddress == "شما مجوز لازم برای مشاهده ی لینک های دانلود را ندارید")
                                {
                                    <aside style="background-color:#606065; width:100%; min-height:100px; height:auto; overflow:auto;">

                                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right" style="padding-top:9px; padding-right:15px !important; background-color:#606065;">
                                            <br />
                                            <h6 style="color:#9ea0a3;">
                                                شما می توانید این فایل ها را از لینک های زیر دانلود نمایید
                                            </h6>
                                            <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 div_filesfordownload"
                                                   style="padding-left:22px !important; text-align:left; direction:ltr;">

                                                @foreach (var item in @ViewBag.fileType)
                                                {
                                                    string key = item.Key.ToString();
                                                    <h3 class="fileLinkWithSize">
                                                        @key
                                                    </h3>
                                                    <br /> <br />
                                                    for (int i = 0; i < item.Value.Count; i++)
                                                    {
                                                        var value = item.Value[i];
                                                        string filename = value.Name + " (" + value.Size + ") ";
                                                        <span style="color:#9ea0a3;">
                                                            @filename
                                                        </span>
                                                        <br />
                                                    }
                                                }
                                            </aside>
                                        </aside>
                                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                               style="height:200px;background-color:#606065; ">
                                            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:30px;">
                                                <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></aside>
                                                <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6 div_vipLink" style="padding-right:30px !important;">
                                                            <span class="viplinkSpanWhiteColor">
                                                                فقط کاربران
                                                            </span>
                                                            <span class="viplinkspanblackcolor">
                                                                VIP
                                                            </span>
                                                            <span class="viplinkSpanWhiteColor">
                                                                قادر به دانلود این فایل می باشند.
                                                            </span>
                                                        </aside>
                                                        <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6 div_vipLink"
                                                               style="padding-right:30px !important; margin-top:24px;">
                                                            <span class="viplinkSpanWhiteColor">
                                                                جهت ارتقا حساب کاربری خود به
                                                            </span>
                                                            <span class="viplinkspanblackcolor">
                                                                VIP
                                                            </span>
                                                            <span class="viplinkSpanWhiteColor">
                                                                از منوی سایت و قسمت اکانت
                                                            </span>
                                                            <span class="viplinkspanblackcolor">
                                                                VIP
                                                            </span>
                                                            <span class="viplinkSpanWhiteColor">
                                                                اقدام نمایید.
                                                            </span>
                                                        </aside>
                                                    </aside>
                                                </aside>
                                                <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></aside>
                                            </aside>
                                        </aside>
                                    </aside>
                                }
                                else
                                {
                                    <aside style="background-color:#101a22; width:100%; min-height:100px; height:auto; overflow:auto;">
                                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right" style="padding-top:9px; padding-right:15px !important;">
                                            <br />
                                            <span>
                                                شما می توانید این فایل ها را از لینک های زیر دانلود نمایید
                                            </span>
                                            <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 div_filesfordownload" style="padding-left:22px !important;">

                                                @foreach (var item in @ViewBag.fileType)
                                                {
                                                    string key = item.Key.ToString();
                                                    <h3 class="fileLinkWithSize">
                                                        @key
                                                    </h3>
                                                    <br /> <br />
                                                    for (int i = 0; i < item.Value.Count; i++)
                                                    {
                                                        var value = item.Value[i];
                                                        string filename = value.Name + " (" + value.Size + ") ";
                                                        @Html.ActionLink(filename, "GetFile", "ArticleAdmin", new { filePath = value.Link, fName = value.Name }, new { @class = "fileLinkWithSize" })
                                                        <br />
                                                    }
                                                }
                                                @*}*@
                                            </aside>
                                        </aside>
                                    </aside>
                                }
                            }
                        }
                    }
                    else
                    {
                        <aside style="background-color:#606065; width:100%; min-height:100px; height:auto; overflow:auto;">
                            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right" style="padding-top:9px; padding-right:15px !important; background-color:#606065;">
                                <br />
                                <h6 style="color:#9ea0a3;">
                                    شما می توانید این فایل ها را از لینک های زیر دانلود نمایید
                                </h6>
                                <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 div_filesfordownload"
                                       style="padding-left:22px !important; text-align:left; direction:ltr;">

                                    @foreach (var item in @ViewBag.fileType)
                                    {
                                        string key = item.Key.ToString();
                                        <h3 class="fileLinkWithSize">
                                            @key
                                        </h3>
                                        <br /> <br />
                                        for (int i = 0; i < item.Value.Count; i++)
                                        {
                                            var value = item.Value[i];
                                            string filename = value.Name + " (" + value.Size + ") ";
                                            <span style="color:#9ea0a3;">
                                                @filename
                                            </span>
                                            <br />
                                        }
                                    }
                                </aside>
                            </aside>
                            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                   style="height:200px;background-color:#606065; ">
                                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:30px;">
                                    <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></aside>
                                    <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6 div_vipLink" style="padding-right:30px !important;">
                                                <span class="viplinkSpanWhiteColor">
                                                    فقط کاربران
                                                </span>
                                                <span class="viplinkspanblackcolor">
                                                    VIP
                                                </span>
                                                <span class="viplinkSpanWhiteColor">
                                                    قادر به دانلود این فایل می باشند.
                                                </span>
                                            </aside>
                                            <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6 div_vipLink"
                                                   style="padding-right:30px !important; margin-top:24px;">
                                                <span class="viplinkSpanWhiteColor">
                                                    جهت ارتقا حساب کاربری خود به
                                                </span>
                                                <span class="viplinkspanblackcolor">
                                                    VIP
                                                </span>
                                                <span class="viplinkSpanWhiteColor">
                                                    از منوی سایت و قسمت اکانت
                                                </span>
                                                <span class="viplinkspanblackcolor">
                                                    VIP
                                                </span>
                                                <span class="viplinkSpanWhiteColor">
                                                    اقدام نمایید.
                                                </span>
                                            </aside>
                                        </aside>
                                    </aside>
                                    <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></aside>
                                </aside>
                            </aside>
                        </aside>
                    }
                }
                else
                {
                    <aside style="background-color:#606065; width:100%; min-height:100px; height:auto; overflow:auto;">
                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right" style="padding-top:9px; padding-right:15px !important;background-color:#606065;">
                            <br />
                            <h6 style="color:#9ea0a3;">
                                شما می توانید این فایل ها را از لینک های زیر دانلود نمایید
                            </h6>
                            <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 div_filesfordownload"
                                   style="padding-left:22px !important;text-align:left; direction:ltr;">

                                @foreach (var item in @ViewBag.fileType)
                                {
                                    string key = item.Key.ToString();
                                    <h3 class="fileLinkWithSize">
                                        @key
                                    </h3>
                                    <br /> <br />
                                    for (int i = 0; i < item.Value.Count; i++)
                                    {
                                        var value = item.Value[i];

                                        string filename = value.Name + " (" + value.Size + ") ";
                                        <span style="color:#9ea0a3;">
                                            @filename
                                        </span>
                                        <br />
                                    }
                                }
                            </aside>
                        </aside>
                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                               style="height:200px;background-color:#606065; ">
                            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:30px;">
                                <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></aside>
                                <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6 div_vipLink" style="padding-right:30px !important;">
                                    <span class="viplinkSpanWhiteColor">
                                        لطفا برای دانلود فایل با حساب کاربری خود وارد شوید.
                                    </span>
                                </aside>
                                <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></aside>
                            </aside>
                        </aside>
                    </aside>
                }
                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:0px!important"></aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="width:100%; height: 52px; margin-top: 10px; margin-bottom: 10px;">
                <aside class="text-center div_filePassword">
                    <span class="text-center">  رمز فایل : www.cgsilent.ir</span>
                </aside>
            </aside>
        </aside>
    </aside>
    <aside id="div_title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ArticleTitle">
        <aside class="col-lg-2 col-md-2 col-sm-4 col-xs-6 Articleheader" style="padding: 0px !important; padding-left:18PX !important;">مطالب مرتبط</aside>
        <aside class="col-lg-10 col-md-10 col-sm-8 col-xs-6 leftsideArticleHeader"></aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group Articlemediacontent">
        <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                @if (ViewBag.RelatedArticles != null)
                {
                    foreach (var item in ViewBag.RelatedArticles)
                    {
                        <aside class="col-md-3 col-lg-3 col-sm-6 col-xs-12 form-group">
                            <img class="col-lg-12 col-md-12 col-sm-12 col-xs-12 RelatedArticleImage img-responsive"
                                 data-toggle="modal" data-target=".bs-example-modal-lg" src="@Url.Content(item.ImagePath)" />
                            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 RelatedArticleTitle">
                                <a class="btn-link ArticleTitle relatedtext" target="_blank" href=@Url.Action("DetailArticle", "ArticleAdmin", routeValues: new { area = "Article", item.Id })>
                                    <p style="overflow: hidden;display: -webkit-box;-webkit-line-clamp: 3; -webkit-box-orient: vertical; height:30px;"> @item.Title</p>
                                </a>
                            </aside>
                        </aside>
                    }
                }
            </aside>
        </aside>
    </aside>
    <aside id="div_title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ArticleTitle">
        <aside class="col-lg-2 col-md-2 col-sm-4 col-xs-6 Articleheader" style="padding: 0px !important; padding-left:18PX !important;">ثبت نظر</aside>
        <aside class="col-lg-10 col-md-10 col-sm-8 col-xs-6 leftsideArticleHeader"></aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group Articlemediacontent">
        <aside class="div_Comments">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ArticleList[0].Comment.ArticleId, new { @id = "hide_ArticleId" })
            @Html.HiddenFor(model => model.ArticleList[0].Comment.Id, new { @id = "hide_commentId" })
            @if (Request.IsAuthenticated)
            {
                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="div_ResponseComment" style="display:none; background-color:#e7e8e9; width:180px;">
                    <span style="color: #0ab491">پاسخ به نظر  </span>
                    <span style="color: #fff" id="lb_UserName"></span>
                </aside>
                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.EditorFor(model => model.ArticleList[0].Comment.CommentBody, new { htmlAttributes = new { @class = "form-control", @id = "txb_Description" } })
                    @Html.ValidationMessageFor(model => model.ArticleList[0].Comment.CommentBody, "", new { @class = "text-danger" })
                </aside>
                <script type="text/javascript">
                    CKEDITOR.replace('txb_Description', {
                        toolbar: 'MyToolbar',
                        filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
                        filebrowserUploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
                    });
                </script>
                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <input type="submit" value="ثبت نظر" id="btn_AddComment" name="submitButton" class="pull-left addcomment" />
                </aside>
                <aside class="rel">
                    <aside class="div_PropgressComment">
                        <img src="~/Content/Images/Article/wheel.gif" id="ProgreesComment" style="display:none; width:30px; height:30px;" />
                    </aside>
                </aside>
                <aside class="div_Alert">
                    <span id="span_Alert" style="text-align:center; color:#fff;"></span>
                </aside>
                <script>
                            $("#btn_AddComment").on("click", function () {
                                $("#ProgreesComment").show();
                                if ($("#btn_AddComment").val() == "ثبت نظر") {
                                    var text = CKEDITOR.instances["txb_Description"].getData();
                                    var srtarticleid = $("#hide_ArticleId").val();

                                    var data = JSON.stringify({
                                        'articleID': srtarticleid,
                                        'comment': text
                                    });
                                    debugger;
                                    $.ajax({
                                        type: "POST",
                                        url: '@Url.Action("Comments", "ArticleAdmin", new { Area = "Article" })',
                                        data: data,
                                        cache: false,
                                        UpdateTargetId: "refTable",
                                        contentType: 'application/json; charset=utf-8',
                                        success: function (mess) {
                                            alert(mess);
                                            $("#ProgreesComment").hide();
                                            $("#span_Alert").text(mess);
                                            $(".div_Alert").fadeIn('1000').delay(5000).fadeOut('1000');
                                        }
                                    });
                                }
                                else {
                                    $("#ProgreesComment").show();
                                    var comment = CKEDITOR.instances["txb_Description"].getData();
                                    var srtArticleId = $("#hide_ArticleId").val();
                                    var srtCommentId = $("#hide_commentId").val();
                                    var data = JSON.stringify({
                                        'articleID': srtArticleId,
                                        'commentId': srtCommentId,
                                        'answer': comment
                                    });
                                    $.ajax({
                                        type: "POST",
                                        url: '@Url.Action("AnswerComments", "ArticleAdmin", new { Area = "Article" })',
                                        data: data,
                                        cache: false,
                                        UpdateTargetId: "refTable",
                                        contentType: 'application/json; charset=utf-8',
                                        success: function (mess) {
                                            $("#ProgreesComment").hide();
                                            $("#span_Alert").text(mess);
                                            $(".div_Alert").fadeIn('1000').delay(5000).fadeOut('1000');

                                        }
                                    });
                                }
                            });
                </script>
            }
            else
            {
                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.EditorFor(model => model.ArticleList[0].Comment.CommentBody, new { htmlAttributes = new { @disabled = "disabled", @class = "form-control", @id = "txb_Description" } })
                    @Html.ValidationMessageFor(model => model.ArticleList[0].Comment.CommentBody, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.ArticleList[0].Comment.CommentId, "", new { @class = "text-danger" })
                </aside>
                <script>
                    CKEDITOR.replace('txb_Description', {
                        toolbar: 'MyToolbar',
                        filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
                        filebrowserUploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
                    });
                </script>
                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <input type="submit" value="ثبت نظر" id="btn_AddComment" name="submitButton" onclick="loginForAddComment()" disabled class="pull-left addcomment" />
                </aside>
                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                       style="position:absolute; padding-top:150px; width:95%; background-color:#d1d2d3; opacity:0.5; height:300px;"></aside>
                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="position:absolute; top:150px;">
                    <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></aside>
                    <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6 div_CommentPermision" style="padding-right:30px !important;">
                        <span>
                            لطفا برای ثبت نظر با حساب کاربری خود وارد شوید.
                        </span>
                    </aside>
                    <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></aside>
                </aside>
            }
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:20px; "></aside>
            @if (Model.ArticleList[0].ArticleComments != null)
            {
                if (Model.ArticleList[0].ArticleComments.Count > 0)
                {
                    for (var i = 0; i < Model.ArticleList[0].ArticleComments.Count; i++)
                    {
                        @Html.HiddenFor(model => model.ArticleList[0].ArticleComments[i].ArticleId, new { @id = "hide_ArId" })
                        @Html.HiddenFor(model => model.ArticleList[0].ArticleComments[i].Id, new { @id = "hide_commentId" })
                        if (@Model.ArticleList[0].ArticleComments[i].IsPublished | User.IsInRole("Admin"))
                        {
                            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 align-baseline text-center" style="background-color:#0ab491; width:102px; height:104px;">
                                    <span class="align-middle">
                                        <img src="~/Content/Images/Article/EmptyAvatarComment.png" class="avatarforcomments" />
                                    </span>
                                </aside>
                                <aside class="col-lg-9 col-md-9 col-sm-9 col-xs-9 commentdivtext" style="padding-left: 0px !important;
                                         padding-right: 0px !important;">

                                    <span class="UserNameComment">@Model.ArticleList[0].ArticleComments[i].UserName :</span>
                                    <br />
                                    <aside class="commentBody">
                                        @Html.Raw(Model.ArticleList[0].ArticleComments[i].CommentBody)
                                    </aside>

                                </aside>
                                <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1 comment_dateinfo">
                                    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px !important; margin:0px !important">
                                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <img src="~/Content/Images/Article/calender.png" />
                                            @{ string[] str1 = Model.ArticleList[0].ArticleComments[i].CreatedDate.ToString().Split('T');
                                                PersianCalendar p1 = new PersianCalendar();
                                                DateTime date1 = DateTime.Parse(Model.ArticleList[0].ArticleComments[i].CreatedDate.ToString());
                                                int year1 = p1.GetYear(date1);
                                                int month1 = p1.GetMonth(date1);
                                                int day1 = p1.GetDayOfMonth(date1);
                                                var persiandate1 = year1 + "-" + month1 + "-" + day1 + "T" + str1[1];
                                                string[] datetime1 = persiandate1.Split('T');
                                            }
                                            <span style="text-align:left;color:#8b8c8b; float:left; font-size:10px">
                                                @datetime1[0]
                                            </span>
                                        </aside>
                                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:12px;">
                                            <img src="~/Content/Images/Article/clock.png" />
                                            <span style="text-align:left;color:#8b8c8b;float:left; font-size:10px;">
                                                @datetime1[1]
                                            </span>
                                        </aside>
                                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <aside style="color:#8b8c8b; padding-top:12px; cursor:pointer;" onclick="ResponseToComment('@Model.ArticleList[0].ArticleComments[i].Id','@Model.ArticleList[0].ArticleComments[i].UserName','@Model.ArticleList[0].ArticleComments[i].ArticleId')">
                                                پاسخ به نظر
                                            </aside>
                                        </aside>
                                    </aside>
                                </aside>
                            </aside>
                            if (Model.ArticleList[0].ArticleComments[i].Answer != null)
                            {
                                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:5px;">
                                    <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 align-baseline text-center" style="background-color:#0ab491; width:102px; height:104px;">
                                        <span class="align-middle">
                                            <img src="~/Content/Images/Article/EmptyAvatarComment.png" class="avatarforcomments" />
                                        </span>
                                    </aside>
                                    <aside class="col-lg-9 col-md-9 col-sm-9 col-xs-9 commentdivtext" style="padding-left: 0px !important;
                                         padding-right: 0px !important;">
                                        <span class="UserNameComment">@Model.ArticleList[0].ArticleComments[i].UserName :</span>
                                        <span style="color: #0ab491">پاسخ به نظر  </span>
                                        <span style="color: #000; font-size:12px;" id="lb_UserName">@Model.ArticleList[0].ArticleComments[i].AnswerBy</span>
                                        <br />
                                        <aside class="commentBody">
                                            @Html.Raw(Model.ArticleList[0].ArticleComments[i].Answer)
                                        </aside>
                                    </aside>
                                    <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1 comment_dateinfo">
                                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px !important; margin:0px !important">
                                            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <img src="~/Content/Images/Article/calender.png" />
                                                @{ string[] str2 = Model.ArticleList[0].ArticleComments[i].UpdateDate.ToString().Split('T');
                                                    PersianCalendar p2 = new PersianCalendar();
                                                    DateTime date2 = DateTime.Parse(Model.ArticleList[0].ArticleComments[i].UpdateDate.ToString());
                                                    int year2 = p2.GetYear(date1);
                                                    int month2 = p2.GetMonth(date1);
                                                    int day2 = p2.GetDayOfMonth(date1);
                                                    var persiandate2 = year2 + "-" + month2 + "-" + day2 + "T" + str2[1];
                                                    string[] datetime2 = persiandate1.Split('T');
                                                }
                                                <span style="text-align:left;color:#8b8c8b; float:left; font-size:10px">
                                                    @datetime1[0]
                                                </span>
                                            </aside>
                                            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:12px;">
                                                <img src="~/Content/Images/Article/clock.png" />
                                                <span style="text-align:left;color:#8b8c8b;float:left; font-size:10px;">
                                                    @datetime1[1]
                                                </span>
                                            </aside>
                                            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <aside style="color:#8b8c8b; padding-top:12px; cursor:pointer;">
                                                    پاسخ به نظر
                                                </aside>
                                            </aside>
                                        </aside>
                                    </aside>
                                </aside>
                            }
                        }
                    }
                }
            }
        </aside>
    </aside>

</aside>
<script src="@Url.Content("~/Scripts/JqueryFullScreenGalary/jquery.gallerybox.js")"></script>
<script>

    $('.demo').gallerybox();
</script>
