﻿@model CGSilent.Models.ArticleComplate

@{
    ViewBag.Title = "ویرایش خبر";
    Layout = "~/Areas/Management/Views/Shared/_Management.cshtml";
}

<script src="@Url.Content("~/Scripts/JalaliJSCalendar-1.4/jalali.js")"></script>
<script src="@Url.Content("~/Scripts/JalaliJSCalendar-1.4/calendar.js")"></script>
<script src="@Url.Content("~/Scripts/JalaliJSCalendar-1.4/calendar-setup.js")"></script>
<script src="@Url.Content("~/Scripts/JalaliJSCalendar-1.4/lang/calendar-fa.js")"></script>

<link href="@Url.Content("~/Content/Style/JalaliJSCalendar-1.4/aqua/theme.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Style/JalaliJSCalendar-1.4/styles/calendar-blue.css")" rel="stylesheet" />

<link href="@Url.Content("~/Content/Style/Article.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/ckeditor/ckeditor.js")"></script>
<link href="@Url.Content("~/Content/ckeditor/contents.css")" rel="stylesheet" />

<script>
    $(document).ready(function () {
        $(".radioAccess").click(function () {
            $("#hide_Access").val("1");
        });

        CKEDITOR.instances["txb_Description"].setData($('#txb_Description').val());

        $("#FileUploader").change(function () {
            var filelength = $("#FileUploader")[0].files.length;
            var fileNames = "";
            for (var i = 0; i < filelength; i++) {
                fileNames += $("#FileUploader")[0].files[i].name + ",";
            }
            fileNames = fileNames.substring(0, fileNames.length - 1);
            $("#lb_FileNameUploaded").text(fileNames);
            $("#FileName").val(fileNames);
            $("#FileUploader").val(null);
        });

        $("#ImageUploader").change(function () {
            //تعداد کارکترهای اسم فایل
            var filename = $("#ImageUploader")[0].files[0].name;
            if (filename.length > 100) {
                alert("اسم عکس باید کمتر از 100 کارکتر باشد");
                $("#ImageUploader").val(null);
                return false;
            }
            //فایل نباید از 2مگابایت بزرگتر باشد
            if ($("#ImageUploader")[0].files[0].size > (1024 * 1024 * 2)) {
                alert("حجم عکس خبر باید کمتر از2 مگابایت باشد.");
                $("#ImageUploader").val(null);
                return false;
            }
            var lastdotlocation = filename.lastIndexOf(".");
            var extension = filename.substring(lastdotlocation);
            extension = extension.toLowerCase();
            if (!(extension == ".jpg" || extension == ".png" || extension == ".gif")) {
                alert("فایل انتخابی شما برای عکس معنبر نمی باشد.");
                return false;
            }
        });


        $("#GalaryUploader").change(function () {

            if ($("#GalaryUploader")[0].files.length > 1) {
                for (var i = 0; i < $("#GalaryUploader")[0].files.length; i++) {
                    //تعداد کارکترهای اسم فایل
                    var filename = $("#GalaryUploader")[0].files[i].name;
                    if (filename.length > 100) {
                        alert("اسم عکس انتخابی برای گالری باید کمتر از 100 کارکتر باشد");
                        $("#GalaryUploader").val(null);
                        return false;
                    }
                    //فایل نباید از 2مگابایت بزرگتر باشد
                    if ($("#GalaryUploader")[0].files[i].size > (1024 * 1024 * 2)) {
                        alert("حجم عکس خبر باید کمتر از 2 مگابایت باشد.");
                        $("#GalaryUploader").val(null);
                        return false;
                    }
                    var lastdotlocation = filename.lastIndexOf(".");
                    var extension = filename.substring(lastdotlocation);
                    extension = extension.toLowerCase();
                    if (!(extension == ".jpg" || extension == ".png" || extension == ".gif")) {
                        alert("فایل انتخابی شما برای عکس معنبر نمی باشد.");
                        $("#GalaryUploader").val(null);
                        return false;
                    }
                }
            }
            else {
                //تعداد کارکترهای اسم فایل
                var filename = $("#GalaryUploader")[0].files[0].name;
                if (filename.length > 100) {
                    alert("اسم عکس انتخابی برای گالری باید کمتر از 100 کارکتر باشد");
                    $("#GalaryUploader").val(null);
                    return false;
                }
                if ($("#GalaryUploader")[0].files[0].size > (1024 * 1024 * 2)) {
                    alert("حجم عکس خبر باید کمتر از 2 مگابایت باشد.");
                    $("#GalaryUploader").val(null);
                    return false;
                }
                var lastdotlocation = filename.lastIndexOf(".");
                var extension = filename.substring(lastdotlocation);
                extension = extension.toLowerCase();
                if (!(extension == ".jpg" || extension == ".png" || extension == ".gif")) {
                    alert("فایل انتخابی شما برای عکس معنبر نمی باشد.");
                    $("#GalaryUploader").val(null);
                    return false;
                }
            }
        });

        $("#VideoUploader").change(function () {
            var filelength = $("#VideoUploader")[0].files.length;
            var fileNames = "";
            if (filelength > 1) {
                for (var i = 0; i < filelength; i++) {
                    var lastdotlocation = $("#VideoUploader")[0].files[i].name.lastIndexOf(".");
                    var extension = $("#VideoUploader")[0].files[i].name.substring(lastdotlocation);
                    extension = extension.toLowerCase();
                    if (!(extension == ".mp4")) {
                        alert("ویدیوی آپلودی باید mp4 باشد.");
                        $("#VideoUploader").val(null);
                        return false;
                    }
                    fileNames += $("#VideoUploader")[0].files[i].name + ",";
                }
            }
            else {
                var lastdotlocation = $("#VideoUploader")[0].files[0].name.lastIndexOf(".");
                var extension = $("#VideoUploader")[0].files[0].name.substring(lastdotlocation);
                extension = extension.toLowerCase();
                if (!(extension == ".mp4")) {
                    alert("ویدیوی آپلودی باید mp4 باشد.");
                    $("#VideoUploader").val(null);
                    return false;
                }
                fileNames += $("#VideoUploader")[0].files[0].name;
            }

            if (fileNames.endsWith(',')) {
                fileNames = fileNames.substring(0, fileNames.length - 1);
            }

            $("#lb_VideoNameUploaded").text(fileNames);
            $("#VideoName").val(fileNames);
            $("#VideoUploader").val(null);
        });

        $("#txb_VideoAddress").change(function () {
            var filepath = $("#txb_VideoAddress").val();
            if (filepath.indexOf("&") != -1 ||
                filepath.indexOf('*') != -1 ||
                filepath.indexOf("#") != -1 ||
                filepath.indexOf("$") != -1 ||
                filepath.indexOf("%") != -1) {
                $("#lb_VideoNameUploaded").text(" ");
                $("#txb_VideoAddress").text(" ");
                $("#VideoName").text(" ");
                $("#VideoUploader").val(null);
                $("#txb_VideoAddress").val(null);
                alert("فولدر انتخاب شده کارکترهای غیر مجاز دارد");
                return false;
            }
        });
    });

    function GroupSelected(index) {
        if (document.getElementById("chb_Group_" + index).checked) {
            $("#hide_GroupSelected").val("1");
        }
        else {
            $("#hide_GroupSelected").val("0");
        }
    }


    function CheckInputData() {
        if ($("#hide_Access").val() == "0") {
            alert("لطفا مجوز نمایش خبر را انتخاب نمایید");
            return false;
        }
        if ($("#txb_title").val() == "") {
            alert("لطفا تیتر خبر را وارد نمایید");
            return false;
        }

        if ($("#txb_ArticleNumber").val() == "") {
            alert("لطفا شماره خبر را وارد نمایید");
            return false;
        }
        if ($("#txb_Summery").val() == "") {
            alert("لطفا خلاصه خبر را وارد نمایید");
            return false;
        }
        if (CKEDITOR.instances["txb_Description"].getData().length != 0) {
            $('#txb_Description').val(CKEDITOR.instances["txb_Description"].getData());
        }
        else {
            alert("لطفا شرح خبر را وارد نمایید");
            return false;
        }
        var video = $("#lb_VideoNameUploaded").text();
        if (video != "" && $("#txb_VideoAddress").val() == "") {
            alert("لطفا آدرس ویدیو خبر را انتخاب نمایید");
            return false;
        }
        if ($("#txb_FileAddress").val() == "") {
            alert("لطفا آدرس فایل خبر را انتخاب نمایید");
            return false;
        }

        var filetype = $("#txb_FileType").val();
        var str_FileType = "";
        if (filetype.length > 0) {
            filetype = filetype.replace(" ", "");
            if (filetype.endsWith(','))
                filetype = filetype.substring(0, filetype.length - 1);
            str_FileType = filetype.split(",");
            var files = $("#lb_FileNameUploaded").text();
            var str_Filename = files.split(",");
            if (str_FileType.length != str_Filename.length) {
                //alert("تعداد نوع فایلها با تعداد فایلهای آپلود شده برابر نیست");
                //return false;
            }
        }
        //else {
        //    alert("تعداد نوع فایلها با تعداد فایلهای آپلود شده برابر نیست");
        //    return false;
        //}

        $("#btn_EditArticle").hide();
    }

</script>
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <h2 class="TitleStyle">ویرایش خبر</h2>

    using (Html.BeginForm("EditArticle", "ArticleAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Art.FilePermisionId, new { @id = "hide_FilePermisionId" })
        @*@Html.HiddenFor(model => model.Art.ImageId, new { @id = "hide_ImageId" })*@
        @Html.HiddenFor(model => model.Art.ImagePath, new { @id = "hide_ImagePath" })

        @Html.HiddenFor(model => model.Art.ViewCount, new { @id = "hide_ViewCount" })

        <aside class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat">
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    @Html.Label("تیتر خبر", htmlAttributes: new { @class = "control-label col-md-2 lableStyle" })
                </aside>
                <aside class="col-md-6 col-lg-6 col-sm-10 col-xs-10 pull-right">
                    @Html.EditorFor(model => model.Art.Title, new { htmlAttributes = new { @class = "form-control", @id = "txb_title" } })
                    @Html.ValidationMessageFor(model => model.Art.Title, "", new { @class = "text-danger" })
                </aside>
                <aside class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat">
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    @Html.Label("شماره خبر", htmlAttributes: new { @class = "control-label col-md-2 lableStyle" })
                </aside>
                <aside class="col-md-6 col-lg-6 col-sm-10 col-xs-10 pull-right">
                    @Html.EditorFor(model => model.Art.ArticleNumber, new { htmlAttributes = new { @class = "form-control", @id = "txb_ArticleNumber" } })
                    @Html.ValidationMessageFor(model => model.Art.ArticleNumber, "", new { @class = "text-danger" })
                </aside>
                <aside class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></aside>
            </aside>
            <aside class="form-group">
                @Html.HiddenFor(model => model.Art.Id, htmlAttributes: new { @class = "control-label col-md-2 lableStyle" })
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat">
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    @Html.Label("خلاصه خبر", htmlAttributes: new { @class = "control-label col-md-2 lableStyle" })
                </aside>
                <aside class="col-md-6 col-lg-6 col-sm-9 col-xs-9 pull-right">
                    @Html.EditorFor(model => model.Art.Summery, new { htmlAttributes = new { @class = "form-control", @id = "txb_Summery" } })
                    @Html.ValidationMessageFor(model => model.Art.Summery, "", new { @class = "text-danger" })
                </aside>
                <aside class="col-lg-4 col-md-4 col-sm-1 col-xs-1"></aside>
            </aside>
            <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <aside class="col-md-2" style="height:50px;">
                    @Html.Label("شرح خبر", htmlAttributes: new { @class = "control-label col-md-12 lableStyle" })
                </aside>
                <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10"></aside>
            </aside>
            <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat ">
                <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    @Html.EditorFor(model => model.Art.Description, new { htmlAttributes = new { @class = "form-control", @id = "txb_Description" } })
                    @Html.ValidationMessageFor(model => model.Art.Description, "", new { @class = "text-danger" })
                    <script>
                        CKEDITOR.replace('txb_Description', {
                            filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
                            filebrowserUploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files'
                        });
                    </script>

                </aside>
            </aside>
            <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    @Html.Label("گروه خبر :", htmlAttributes: new { @class = "col-md-12 text-right largetextbox pull-right lableStyle" })
                </aside>
                <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat">
                    <input type="hidden" id="hide_GroupSelected" value="0" />
                    @{ var index = 0;}
                    @foreach (var item in Model.GroupData)
                    {
                        <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <input type="checkbox" name="SelectedGroup" value="@item.Value" title="@item.Text" @(item.Selected == true ? "checked='checked'" : string.Empty)
                                   class="checkbox-inline" id="chb_Group_@index" onchange="GroupSelected(@index);" />
                            @Html.Label(item.Text, new { @class = "control-label grouptext" })
                        </aside>
                        index = index + 1;
                    }
                </aside>
            </aside>
            <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat">
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    @Html.Label("آپلود عکس", htmlAttributes: new { @class = "control-label col-md-12 lableStyle" })
                </aside>
                <aside class="col-md-6 col-lg-6 col-sm-9 col-xs-9">
                    <input type="file" name="ImageUploader" id="ImageUploader" /><br />
                    @*@Html.TextBox("Image", "", new { type = "file" }) <br />*@
                    <img class="img-thumbnail img-responsive" src="@Url.Content(Model.Art.ImagePath)" width="150" height="150" />
                </aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-1-12 col-xs-12 div_FileUploader">
                <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat">
                    <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat">
                        <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                            @Html.Label("آپلود عکس گالری", htmlAttributes: new { @class = "control-label col-md-12 pull-right lableStyle" })
                        </aside>
                        <aside class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                            <input type="file" name="GalaryUploader" id="GalaryUploader" multiple />
                        </aside>
                        <aside class="col-md-5 col-lg-5 col-sm-5 col-xs-5">
                            <input id="deleteGalary" name="chb_DeleteGalary" title="حذف تصاویر گالری" value="true" type="checkbox" />
                            <span >حذف تصاویر گالری</span>
                        </aside>
                        <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
                    </aside>
                    <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                        <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                            @Html.Label("تصاویر گالری", htmlAttributes: new { @class = "control-label col-md-12 lableStyle" })
                        </aside>
                    </aside>
                    <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat">
                        @foreach (var item in Model.Galary)
                        {
                            <img class="img-thumbnail img-responsive" src="@Url.Content(item.ImagePath)" widt width="150" height="150" />
                        }
                    </aside>
                </aside>
                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat div_FileUploader">
                    <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                        @Html.Label("آپلود ویدیو گالری : ", htmlAttributes: new { @class = "control-label col-md-12 pull-right text-right lableStyle" })
                    </aside>
                    <aside class="col-md-6 col-lg-6 col-sm-9 col-xs-9">
                        <aside class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <input type="file" name="VideoUploader" id="VideoUploader" multiple /> @*name="uploadedfile[]"*@
                        </aside> 
                        <aside class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                            <input id="deleteVideo" name="chb_DeleteVideo" title="حذف ویویوها " value="true" type="checkbox" />
                            <span>حذف تصاویر گالری</span>
                        </aside>
                        <aside class="col-lg-4 col-md-4 col-sm-1 col-xs-1">
                            @Html.HiddenFor(model => model.Art.VideoName, new { @class = "col-md-12", @id = "VideoName" })
                            @Html.LabelFor(model => model.Art.VideoName, new { @id = "lb_VideoNameUploaded" })
                        </aside>
                        <aside class="col-lg-4 col-md-4 col-sm-1 col-xs-1">
                            @Html.ValidationMessageFor(model => model.Art.VideoAddress, "", new { @class = "text-danger" })
                        </aside>
                    </aside>
                    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @Html.TextAreaFor(model => model.Art.VideoAddress, htmlAttributes: new { @class = "form-control summerytextbox", @id = "txb_VideoAddress" })
                    </aside>
                    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="text-danger lable_Attention">دقت کنید نام فایل انتخابی فقط باید شامل حروف واعداد باشد.</span>
                    </aside>
                </aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat div_FileUploader">
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    @Html.Label("آدرس لینک وی آی پی : ", htmlAttributes: new { @class = "control-label col-md-12 pull-right text-right lableStyle" })
                </aside>
                <aside class="col-md-6 col-lg-6 col-sm-9 col-xs-9">
                    <aside class="col-lg-4 col-md-4 col-sm-1 col-xs-1">
                        <input type="file" name="FileUploader" id="FileUploader" multiple /> @*name="uploadedfile[]"*@
                    </aside>
                    <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                        @Html.HiddenFor(model => model.Art.FileName, new { @class = "col-md-12", @id = "FileName" })
                    </aside>
                    <aside class="col-lg-4 col-md-4 col-sm-1 col-xs-1">
                        @Html.LabelFor(model => model.Art.FileName, new { @id = "lb_FileNameUploaded" })
                    </aside>
                    <aside class="col-lg-4 col-md-4 col-sm-1 col-xs-1">
                        @Html.ValidationMessageFor(model => model.Art.FileAddress, "", new { @class = "text-danger" })
                    </aside>
                </aside>
                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextAreaFor(model => model.Art.FileAddress, htmlAttributes: new { @class = "form-control summerytextbox", @id = "txb_FileAddress" })
                </aside>
                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span class="text-danger lable_Attention">دقت کنید نام فایل انتخابی فقط باید شامل حروف واعداد باشد.</span>
                </aside>
                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <aside class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        @Html.LabelFor(x => x.Art.FileType, new { @class = "control-label lableStyle" })
                    </aside>
                    <aside class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        @Html.TextAreaFor(x => x.Art.FileType, new { @class = "form-control", @id = "txb_FileType", @placeholder = "دقت نمایید جدا کننده , اجباری می باشد ." })
                        <span class="text-danger lable_Attention">دقت نمایید جدا کننده , می باشد</span>
                    </aside>
                </aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat div_FileUploader">
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    @Html.Label("فایل های قبلی", htmlAttributes: new { @class = "control-label col-md-12 lableStyle" })
                </aside>
                <aside class="col-md-6 col-lg-6 col-sm-9 col-xs-9">
                    @Html.LabelFor(model => model.Art.FileAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Art.FileAddress, "", new { @class = "text-danger" })
                </aside>
                <aside class="col-md-4 col-lg-4 col-sm-1 col-xs-1"></aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat div_FileUploader">
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    @Html.Label("مجوز نمایش فایلهای برای نقش های ...", new { @class = "control-label col-md-12 lableStyle" })
                </aside>
                <aside class="col-md-6 col-lg-6 col-sm-9 col-xs-9">
                    @foreach (var item in Model.RolesList)
                    {
                        <input type="radio" name="SelectedRole" value="@item.Value" title="@item.Value" checked="@item.Selected" class="checkbox-inline" />
                        @Html.Label(item.Text, new { @class = "control-label" })
                    }
                </aside>
                <aside class="col-lg-4 col-md-4 col-sm-1 col-xs-1"></aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat div_FileUploader">
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    @Html.Label("قیمت : ", htmlAttributes: new { @class = "control-label col-md-12 pull-right lableStyle" })
                </aside>
                <aside class="col-md-6 col-lg-6 col-sm-9 col-xs-9">
                    @Html.EditorFor(model => model.Art.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Art.Price, "", new { @class = "text-danger" })
                </aside>
                <aside class="col-lg-4 col-md-4 col-sm-1 col-xs-1"></aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat">
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    @Html.Label("تاریخ ایجاد : ", htmlAttributes: new { @class = "control-label col-md-12 pull-right lableStyle" })
                </aside>
                <aside class="col-md-6 col-md-6 col-sm-9 col-sx-9">
                    @Html.TextBoxFor(model => model.Art.CreatedDate, htmlAttributes: new { @class = "txbwithblacktext", @id = "txb_datetime" })
                    <input id="btn_datetime" class="btn_Calender" type="button">
                </aside>
                <aside class="col-lg-4 col-md-4 col-sm-1 col-xs-1"></aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat">
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    @Html.Label("تگ", htmlAttributes: new { @class = "control-label col-md-12 pull-right lableStyle" })
                </aside>
                <aside class="col-md-6 col-md-6 col-sm-9 col-sx-9">
                    @Html.EditorFor(model => model.Art.Tag, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Art.Tag, "", new { @class = "text-danger" })
                </aside>
                <aside class="col-lg-4 col-md-4 col-sm-1 col-xs-1"></aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat">
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    @Html.Label("کلمات کلیدی", htmlAttributes: new { @class = "control-label col-md-12  pull-right lableStyle" })
                </aside>
                <aside class="col-md-6 col-md-6 col-sm-9 col-sx-9">
                    @Html.EditorFor(model => model.Art.KeyWords, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Art.KeyWords, "", new { @class = "text-danger" })
                </aside>
                <aside class="col-lg-4 col-md-4 col-sm-1 col-xs-1"></aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat">
                <aside class="col-md-offset-2 col-md-10">
                    <input type="submit" value="ویرایش" id="btn_EditArticle" onclick="return CheckInputData()" class="btn btn-default ButtonStyle" />
                </aside>
            </aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat">
            @Html.ActionLink("بازگشت به لیست اخبار", "Index", new { area = "Article" })
        </aside>
        <div style="clear:both;"></div>
        <script>
            Calendar.setup({
                inputField: 'txb_datetime',
                button: 'btn_datetime',
                ifFormat: '%Y-%m-%dT%H:%M:%S',
                dateType: 'miladi'
            });
        </script>
                            }
                        }
                        else
                        {
                            <span> شما مجوز دسترسی به این صفحه را ندارید.</span>
                        }
