﻿
@model CGSilent.Models.RequestModel

<link href="@Url.Content("~/Content/Style/Request.css")" rel="stylesheet" />

@{
    ViewBag.Title = "ثبت درخواست ها";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}


<aside class="box">
    <ul class="nav nav-tabs tabpanel">
        <li class="active tabStyle">
            <a data-toggle="tab" href="#UserProfile" title="مشخصات کاربری">
                <img src="~/Content/Images/Request/Request_UserInfo.png" />
            </a>
        </li>
        <li class="tabStyle">
            <a data-toggle="tab" href="#PanelInfo" title="مشخصات پنل های خریداری شده">
                <img src="~/Content/Images/Request/Request_PanelInfo.png" />
            </a>
        </li>
        <li class="tabStyle">
            <a data-toggle="tab" href="#buyExtra" title="خرید اعتبار اضافی">
                <img src="~/Content/Images/Request/Request_buyExtra.png" />
            </a>
        </li>
        <li class="tabStyle">
            <a data-toggle="tab" href="#AddRequest" title="ثبت درخواست">
                <img src="~/Content/Images/Request/Request_AddRequest.png" />
            </a>
        </li>
        <li class="tabStyle">
            <a data-toggle="tab" href="#ViewRequests" title="مشاهده ی درخواست ها">
                <img src="~/Content/Images/Request/Request_ViewRequests.png" />
            </a>
        </li>
        <li class="tabStyle">
            <a data-toggle="tab" href="#BuyLink" title="خرید لینک محتوا">
                <img src="~/Content/Images/Request/Request_BuyLink.png" />
            </a>
        </li>
        <li class="tabStyle">
            <a data-toggle="tab" href="#ViewContentInfo" title="مشاهده ی محتوای خریداری شده">
                <img src="~/Content/Images/Request/Request_ViewContentInfo.png" />
            </a>
        </li>
        <li class="tabStyle">
            <a data-toggle="tab" href="#RequestAlternativeLink" title="درخواست جایگزینی لینک">
                <img src="~/Content/Images/Request/Request_AlternativeLink.png" />
            </a>
        </li>
        <li class="tabStyle">
            <a data-toggle="tab" href="#AlternativeList" title="لیست درخواست های جایگزینی">
                <img src="~/Content/Images/Request/Request_AlternativeList.png" />
            </a>
        </li>
        <li class="tabStyle">
            <a data-toggle="tab" href="#PurchaseRecords" title="سوابق خرید اعتبار">
                <img src="~/Content/Images/Request/Request_PurchaseRecords.png" />
            </a>
        </li>
        <li class="tabStyle">
            <a data-toggle="tab" href="#PurchaseFarsiContent" title="خرید محتوای فارسی">
                <img src="~/Content/Images/Request/Request_PurchaseFarsiContent.png" />
            </a>
        </li>
    </ul>
</aside>
<aside class="box tab-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <aside id="UserProfile" class="tab-pane fade in active">
        <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @Html.Partial("_UserInfo")
        </section>
    </aside>
    <aside id="PanelInfo" class="tab-pane fade in">
        <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @Html.Partial("_PanelInfo")
        </section>
    </aside>
    <aside id="buyExtra" class="tab-pane fade in">
        <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @{Html.RenderAction("LoadBuyExtraData", "RequestAdmin");}
        </section>
    </aside>
    <aside id="AddRequest" class="tab-pane fade in">
        <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @{Html.RenderAction("AddRequest", "RequestAdmin"); }
        </section>
    </aside>
    <aside id="ViewRequests" class="tab-pane fade in">
        <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @{Html.RenderAction("ViewRequests", "RequestAdmin"); }
        </section>
    </aside>
    <aside id="BuyLink" class="tab-pane fade in">
        <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @Html.Partial("_BuyLink")
        </section>
    </aside>
    <aside id="ViewContentInfo" class="tab-pane fade in">
        <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @Html.Partial("_ViewContentInfo")
        </section>
    </aside>
    <aside id="RequestAlternativeLink" class="tab-pane fade in">
        <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @Html.Partial("_RequestAlternativeLink")
        </section>
    </aside>
    <aside id="AlternativeList" class="tab-pane fade in">
        <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @Html.Partial("_AlternativeList")
        </section>
    </aside>
    <aside id="PurchaseRecords" class="tab-pane fade in">
        <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @Html.Partial("_PurchaseRecords")
        </section>
    </aside>
    <aside id="PurchaseFarsiContent" class="tab-pane fade in">
        <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @{Html.RenderAction("AddLearnArticles", "RequestAdmin");}
        </section>
    </aside>
</aside>

