﻿<link href="@Url.Content("~/Content/Style/Request.css")" rel="stylesheet" />
@{
    ViewBag.Title = "RequestNotAllowd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <span class="lableStyle">جهت ثبت درخواست لازم است در سایت ثبت نام نمایید. </span>
</aside>