﻿
.Searchheader {
    background-image: url('../Images/All/blueHeader.png');
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 18px;
    height: 33px;
    line-height: 30px;
    text-align: center;
    background-color: #0ab491;
    color: #fff;
    float: right;
}

.leftsideSearchHeader {
    float: right;
    border-bottom: 0px;
    border-bottom-style: solid;
    border-bottom-color: #0ab491;
    height: 33px;
}



.inputtextbox {
    background-color: #8a919a;
    border-radius: 10px;
    width: 475px;
    height: 33px;
    border: 0px;
    color: #fff;
}

.searchTitle {
    width: 100%;
}

.advancesearchLable {
    font-size: 13px;
    line-height: 30px;
}

.advancesearchLableofcheckbox {
     font-size: 12px;
    line-height: 30px;
}


.advancesearchddl {
    background-image: url(../Images/All/advancesearchDDL.jpg);
    background-repeat: no-repeat;
    width: 100% !important;
    height: 30px !important;
    border: 0px !important;
    border-radius: 0px !important;
    background-color:#8b8c8b;
}


.advancesearchddlOrders {
    background-image: url(../Images/All/advancesearchDDL.jpg);
    background-repeat: no-repeat;
    width: 100% !important;
    height: 30px !important;
    border: 0px !important;
    border-radius: 0px !important;
    background-color:#8b8c8b;
}

.advancesearchtextbox {
    background-color: #8b8c8b;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-right:10px;
}

.twotextboxinside {
    background-color: #8a919a;
    border-radius: 10px;
    height: 33px;
    border: 0px;
    color: #fff;
    width: 130px;
}

.advancesearchbutton{
    cursor:pointer;
    color:#fff;
    background-color:#0ab491;
    text-align:center;
    line-height:30px;
    height:30px;
    width:100%;
    border:0px;
}


.btn_Search {
    background-image: url('../Images/All/ChooseVipPlan.png');
}


.Articlesearchcontent {
    border: 1px;
    border-style: solid;
    border-color: #0ab491;
    background-color: transparent;
    max-width: 835px;
    float: left;
    padding-bottom: 18px;
}
