﻿TitleStyle.TextAreaStyle {
    min-height: 100px;
    min-width: 600px;
    color: #000000;
}

.ButtonStyle {
    background-color: #16a086;
    color: #000;
    width: 120px;
    height: 32px;
    line-height: 32px;
    padding: 0px;
    border: 0px;
    text-align: center;
    cursor: pointer;
}

    .ButtonStyle:hover {
        color: #000;
    }

.DetailArticle {
    min-height: 67px;
    /*width: 653px;*/
    padding-bottom: 12px;
    text-align: left;
    direction: ltr;
}

.grouptext {
    margin-left: 15px;
}

.editicon {
    width: 20px;
    height: 20px;
    background-image: url('../Images/Article/edit.png');
    background-position-x: right;
    background-repeat: no-repeat;
    padding-right: 20px;
    color: transparent;
}


.removeicon {
    width: 20px;
    height: 20px;
    background-image: url('../Images/Article/delete.png');
    background-position-x: right;
    background-repeat: no-repeat;
    padding-right: 20px;
    color: transparent;
}

    .removeicon:hover, .editicon:hover {
        color: transparent;
    }

.addicon {
    width: 20px;
    height: 20px;
    background-image: url('../Images/Article/Add.png');
    background-position-x: right;
    background-repeat: no-repeat;
    padding-right: 20px;
    font-size: 17px;
}

.dislike {
    background-image: url('../Images/All/dislike.png');
    background-position-x: right;
    background-repeat: no-repeat;
    padding-left: 15px;
    padding-bottom: 0px;
    padding-right: 15px;
    color: transparent;
    position: relative;
    top: 4px;
}

#div_ArticleActivities {
}

.like {
    background-image: url('../Images/All/Like.png');
    background-position-x: right;
    background-repeat: no-repeat;
    padding-left: 15px;
    padding-bottom: 0px;
    padding-right: 15px;
    color: transparent;
    position: relative;
    bottom: 0px;
}

.summerytextbox {
    width: 100%;
    border-radius: 3px !important;
}

.btn_Calender {
    background-image: url('../Images/All/Calender.png');
    width: 25px;
    height: 25px;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    vertical-align: middle;
    color: #000 !important;
    border: 0px;
}

.fileUploadedText {
    color: #000;
}

.txbwithblacktext {
    color: #000 !important;
}

.div_allLinks {
}

.div_filesfordownload {
    color: #c0d748;
    font-size: 12px;
    font-weight: normal;
    line-height: 30px;
    background-size: cover;
}

    .div_filesfordownload a {
        color: #c0d748 !important;
    }

        .div_filesfordownload a:hover {
            color: #c0d748 !important;
        }

.ArticleBody {
    margin: 0px !important;
    margin-bottom: 30px !important;
}

.lableStyle {
    color: #c0d748;
    line-height: 32px;
    width: auto;
}

.ButtonStyle {
    background-color: #16a086;
    color: #000;
    width: 120px;
    height: 32px;
    line-height: 32px;
    padding: 0px;
    border: 0px;
    text-align: center;
    cursor: pointer;
}

    .ButtonStyle:hover {
        color: #000;
    }

.div_Comments {
    margin-top: 28px;
    margin-left: 20px;
    margin-right: 20px;
}

.lable_Attention {
    text-align: right;
    font-weight: bold;
    font-size: 12px;
    color: red;
}

.div_FileUploader {
    margin: 3px;
    border: 1px solid silver;
    padding: 5px;
}

.div_articleManageItem_Seperat {
    margin-bottom: 10px;
}


.TitleStyle {
    background-color: #c0d748;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    width: 120px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

.div_Content {
    margin-bottom: 30px !important;
}

.imageGalary {
    width: 400px !important;
    height: 400px !important;
    cursor: pointer;
}

.div_ParentCarusel {
    width: auto;
    height: auto;
    overflow: auto;
    overflow-y: scroll;
    bottom: 0;
    right: 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background-color: #808080;
    opacity: 0.8;
}

.div_CaruselData {
    width: 500px;
    height: auto;
    position: absolute;
    top: 73px;
    left: 501px;
    opacity: 1;
    overflow: visible;
}

span {
    font-family: 'B Homa', tahoma !important;
}

.GalaryCarousel {
    width: 900px !important;
}

.imagecaruselGalary {
    width: 900px !important;
    margin-right: 0px !important;
    height: 400px !important;
}

.ArrowIconForGalary > input, select, div, a, span, section, button, textarea {
    font-family: 'B Homa', Tahoma !important;
}


.rel {
    position: relative;
    height: 0px;
}

.div_Propgress {
    position: absolute;
    top: 20px;
    background-color: transparent;
    z-index: 1000;
}

.div_PropgressComment {
    position: absolute;
    top: 100px;
    right: 380px;
    background-color: transparent;
    z-index: 1000;
}

.fileLinkWithSize {
    direction: ltr !important;
    text-align: left !important;
    float: left;
}


.articleTitle {
    width: 100%;
    padding:0px !important;
}

.Articleheader {
    background-image: url('../Images/All/register.png');
    background-repeat: no-repeat;
    padding-left: 18px;
    height: 33px;
    line-height: 30px;
    text-align: center;
    background-color: #c0d847;
    color: #000018;
    font-weight: bold;
    float: right;
}

.leftsideArticleHeader {
    float: right;
    border-bottom: 0px;
    border-bottom-style: solid;
    border-bottom-color: #c0d847;
    height: 33px;
}

.Articlemediacontent {
    border: 1px;
    border-style: solid;
    border-color: #c0d847;
    background-color: #d1d2d4;
    /*max-width: 835px;*/
    float: left;
    padding-bottom: 18px;
}


.galaryitem {
    /*width: 188px;*/
    height: 118px;
    border: 1px solid #101a22;
    /*margin-left: 12px;
    margin-top: 18px;*/
}


.RelatedArticleImage {
    /*width: 100%;*/
    height: 118px;
    border: 1px solid #101a22;
    /*margin-left: 12px;
    margin-top: 18px;*/
}

.RelatedArticleTitle {
    /*width: 188px;*/
    height: 40px;
    background-color: #0ab491;
    color: #fff;
    text-align: center;
    border: 1px solid #0ab491;
    margin-left: 12px;
}

.ArticleDownloadcontent {
    border: 1px;
    border-style: solid;
    border-color: #c0d847;
    background-color: #d1d2d4;
    /*max-width: 835px;*/
    float: left;
    padding-top: 20px;
    padding-left: 13px;
    padding-right: 10px;
    /*padding-bottom: 62px;*/
}

.articleDownloadInnerTitle {
    background-color: #0ab491;
    color: #fff;
    /*width: 94px;*/
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.articleDownloaddownflesh {
    margin-right: 70px;
    vertical-align: top !important;
}

.div_downflesh {
    /*max-width: 110px;*/
    height: 10px;
}

.div_leftsideofimagedown {
    border-top: 1px solid #0ab491;
    border-left: 1px solid #0ab491;
    height: 10px;
    /*max-width: 715px;
    min-width: 684px;*/
}

.div_fileDownloadDescription {
    color: #ffffff;
    height: 50px;
    max-width: 768px;
    margin-top: 8px;
    margin-bottom: 14px;
    text-align: right;
}

.div_FileDownloadContent {
    width: 100%;
    background-color: #101a22;
    min-height: 72px;
    overflow: auto;
    padding: 0px !important;
    margin: 0px !important;
    border: 1px solid #0ab491;
    margin-top: 10px !important;
    border-top: 0px;
    border-right: 0px;
    padding-left: 10px !important;
    padding-bottom: 15px !important;
    /*padding-right: 20px !important;*/
    padding-top: 4px !important;
}

.div_articlePrice {
    height: 50px;
    margin: 0 auto;
    vertical-align: middle;
    top: 13px;
}

.articlePrice {
    width: 96px;
    height: 28px;
    float: left;
    background-color: #bdbec0;
    text-align: center;
    line-height: 2;
}


.div_FileDownloadlinks {
    width: 100%;
    min-height: 72px;
    padding: 0px !important;
    margin: 0px !important;
    border: 1px solid #0ab491;
    margin-top: 10px !important;
    border-top: 0px;
    border-right: 0px;
    padding-left: 29px !important;
    padding-bottom: 15px !important;
    padding-right: 20px !important;
    padding-top: 4px !important;
}


.div_filePassword {
    background-color: #c0d847;
    color: #000;
    text-align: center;
    width: 50%;
    height: 42px;
    margin: 0 auto;
    vertical-align: middle; 
}

    .div_filePassword span {
        color: #000 !important;
        font-size: 13px;
        line-height:40px;
    }


.addcomment {
    background-color: #0ab491;
    color: #fff;
    text-align: center;
    width: 80px;
    height: 24px;
    border: 0px;
}

.avatarforcomments {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-top: 13px;
}

.commentdivtext {
    background-color: #fff;
    width: 595px;
    height: 104px;
    padding-top: 14px;
    padding-bottom: 14px;
    overflow-y: scroll;
}

.UserNameComment {
    padding-right: 10px;
    color: #000;
    font-weight: bold;
    line-height: 30px;
}

.commentBody {
    padding-right: 30px;
    color: #000;
    line-height: 30px;
}

.comment_dateinfo {
    background-color: #f3f3f4;
    width: 84px;
    height: 104px;
    padding-top: 9px;
    padding-bottom: 12px;
    padding-left: 7px;
    padding-right: 7px;
}


.div_CommentPermision {
    background-color: #0ab491;
    padding-top: 12px;
    letter-spacing: 1px;
    padding-bottom: 12px;
    color: #fff;
    font-size: 13px;
    width: 340px;
}

.div_vipLink {
    background-color: #0ab491;
    padding-top: 12px;
    letter-spacing: 1px;
    padding-bottom: 12px;
    font-size: 13px;
    width: 340px;
}

.viplinkSpanWhiteColor {
    color: #fff;
}

.viplinkspanblackcolor {
    color: #000;
}


.div_Alert {
    height: 100px;
    width: 250px;
    border: 1px solid #fff;
    background-color: #17947c;
    opacity: 0.8;
    color: #fff;
    text-wrap: normal;
    font-size: 13px;
    position: absolute;
    margin-top: 100px;
    margin-right: 280px;
    display: none;
    text-align:center;
    line-height:80px;
}
