﻿
.TitleStyle {
    background-color: #c0d748;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    width: 120px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}


.ButtonStyle {
    background-color: #16a086;
    color: #000;
    width: 120px;
    height: 32px;
    line-height: 32px;
    padding: 0px;
    border: 0px;
    text-align: center;
    cursor: pointer;
    font-weight:bold;
} 

.RemoveButton {
    background-color: transparent;
    color: transparent !important;
    background-image: url('../Images/Article/RemoveBasket.png');    
    line-height: 40px;
    padding:10px;
    background-repeat: no-repeat;  
}

    .RemoveButton:hover {
        color: transparent;
    }

.HeaderStyle {
    background-color: #16a086;
    color: #000;
    width: 120px;
    height: 30px;
    line-height: 32px;
    padding: 0px;
    border: 0px;
    text-align: center;
    border-right: 1px solid #fff;
}

.ContentOfTableStyle {
    background-color: #d7d6d6;
    color: #2f2f2f;
    width: 120px;
    height: 50px;
    line-height: 40px;
    padding: 0px;
    border: 0px;
    text-align: center;
    border-right: 1px solid #fff;
}
