﻿.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

.mainCarusel {
    padding-top: 14px !important;
    /*max-width: 842px !important;*/
    margin: 0px !important;
    padding: 0px !important;
    border: 0px !important;
}

.arrowkey {
    width: 92px !important;
    margin: 0 auto;
}

.carousel-control.left {
    background-color: transparent !important;
    border: 0px !important;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

    .carousel-fade .carousel-inner .active.left,
    .carousel-fade .carousel-inner .active.right {
        left: 0;
        opacity: 0;
        z-index: 1;
    }

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.carousel-indicators {
    /*padding-right: 0px !important;*/
    margin: 0 auto !important;
    right: unset !important;
    bottom:10px !important;
}


ol > .carousel-indicators .Active {
    background-color: #0ab490 !important;
    border: 3px solid #fff !important;
}

.caruselpageingbutton {
    background-color: #000;
    border: 3px solid #fff !important;
}

.imagecarusel {
    /*width: 653px !important;
    height: 354px !important;*/
    position: relative;
    float: left;
}

.carousel-inner {
    position: relative;
    /*width: 745px;*/
    overflow: hidden;
}

    .carousel-inner > .item > img {
        width: 100% !important;
        height: 354px !important;
    }

.imageContent {
    /*width: 653px !important;*/
    float: left;
}

.myCaption {
    /*width: 653px !important;*/
    height: 61px !important;
    padding: 5px !important;
    margin: 0px !important;
    padding-right: 10px;
}

.caruselText {
    /*line-height: 20px;
    margin: 0px !important;
    padding-right: 10px;*/
    text-align: center;
    margin: 0 auto;
}

#myCarousel .carousel-caption {
    /*
    bottom: 0;
    text-align: right;*/
    left: 0 !important;
    right: 0 !important;
    background: rgba(0, 0, 0, 0.28);
    text-shadow: none;
    bottom: 0px !important;
    /*margin-right: 137px;*/
    /*width: 640px;*/
}


.nextcarusel, .previuscarusel {
    width: 28px !important;
    height: 55px !important;
}


.arrowwithnobackground {
    /*width: 92px !important;*/
    background-image: none !important;
}

.summerycarusel {
    color: #fff;
}


.teitleCarusel > a {
    color: #c0d748;
}



.carousel-indicators li {
    border: 3px solid #fff !important;
    width: 16px !important;
    height: 16px !important;
    background-color: #000;
}

.carousel-indicators .active {
    width: 16px !important;
    height: 16px !important;
    background-color: #00c295;
}

.carousel-indicators {
    /*bottom: 1px !important;*/
}

.myIndicator {
    /*left: 0px !important;
    right: 0px !important;*/
    /*margin: 0px auto !important;
    text-align:cen*/ ter;
    /*margin-right: 366px !important;*/
}

.carousel-caption {
    padding-bottom: 10px;
    bottom: 0px !important;
}

    .carousel-caption .mydefaultpanel {
        border-color: transparent !important;
    }
