﻿ 
@font-face {
    font-family: "homa";
    src: url('/fonts/BHoma.ttf');
    src: url('/fonts/BHoma.eot?#iefix') format('embedded-opentype'), url('/fonts/BHoma.woff') format('woff'), url('/fonts/BHoma.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}