﻿
.upgalary, .downgalary {
    /*margin-right: 70px;*/
}

.textareahomepage {
    background-color: #8a919b !important;
    color: black !important;
    min-width: 146px !important;
    height: 30px !important;
    line-height: 22px !important;
    margin-left: 1px !important;
    display: inline-table !important;
    border: 0px !important;
}

.searchTextBox {
    /*width: 143px;*/
    height: 28px;
    padding-right: 12px;
    border: 0px !important;
    background-color: #8a919b !important;
}

.searchicon {
    /*width: 39px !important;*/
    height: 28px !important;
    vertical-align: top !important;
    background-image: url('../Images/All/Search.png');
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: transparent;
    padding: 0px;
    border: 0px;
}

.logintitle, .grouptreetitle {
    min-height: 35px !important;
    /*width: 193px !important;*/
    padding: 0px !important;
    margin: 0px !important;
    line-height: 30px !important;
    background-color: #c0d748 !important;
    color: #000016 !important;
    text-align: center !important;
    font-size: 12px !important;
    font-weight: bold;
}


.gruptree {
    margin-top: 10px !important;
}

.div_withnochild {
    padding-right: 20px;
    padding-bottom: 25px;
}

    .div_withnochild a {
        color: #fff !important;
    }


.div_children {
    padding-right: 15px;
    margin-right: 20px;
    margin-top: 5px;
    padding-bottom: 8px;
}

    .div_children a {
        color: #fff !important;
    }

.div_withchild {
    padding-right: 20px;
    padding-bottom: 25px;
}

    .div_withchild a {
        color: #fff !important;
    }

.loginbody {
    border: 1px solid #ffffff !important;
    border-top: 0px !important;
    min-height: 200px !important;
    padding-top: 15px !important;
    padding-right: 18px !important;
    /*width: 193px;*/
}


.socialbody {
    border: 1px solid #ffffff !important;
    border-top: 0px !important;
    min-height: 110px !important;
    padding-top: 15px !important;
    padding-bottom: 10px !important;
    padding-right: 18px !important;
    /*width: 193px;*/
}

.rules {
    border: 1px solid #ffffff !important;
    border-top: 0px !important;
    min-height: 80px !important;
    padding-top: 15px !important;
    padding-bottom: 10px !important;
    padding-right: 18px !important;
}

.groupbody {
    border: 1px solid #ffffff !important;
    border-top: 0px !important;
    min-height: 200px !important;
    padding-top: 15px !important;
    /*padding-right: 18px !important;*/
    /*width: 193px;*/
}

.div_telegram {
    text-align: center !important;
}

.div_Search {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
    text-align: right !important;
}


.advertizement {
    /*width: 839px !important;*/
    height: auto;
}

.advertizementBottom {
    width: 100%;
    height: 168px;
    margin-top: 5px;
    border: 1px solid #fff;
}

.advertizementContent {
    padding: 3px !important;
}

#div_Advertizement {
    height: auto;
    margin-bottom: 20px;
}

.advertizementImageRight {
    width: 100% !important;
    height: 104px;
    padding-left: 8px;
    margin-bottom: 10px;
}

.advertizementImageLeft {
    width: 417px !important;
    height: 104px;
    padding-left: 8px;
    margin-bottom: 10px;
}

.galary {
    width: 84px;
    height: 97px;
    border: 1px solid #fff;
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 3px !important;
    padding-left: 3px !important;
}


.ArticleHeader {
    height: 34px;
    background-color: #c0d748;
    color: #000013;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    padding-right: 23px !important;
    background-size: cover;
}

.ArticleTitle {
    color: #000013 !important;
    padding: 0px !important;
}

.ArticleBody {
    background-color: #101b21;
    border: 1px solid #ffffff;
    border-top: 0px !important;
    padding: 0px !important;
    margin-bottom: 20px;
}

.ArticleImage {
    /*max-width: 653px;*/
    margin: 0 auto;
    height: auto;
    border-radius: 2px !important;
    border: 1px solid White !important;
}

.UserImge {
    width: 80px;
    height: 80px;
    border-radius: 50% !important;
    border: 0px solid White !important;
}

.ArticleTitleBar {
    padding-right: 23px !important;
    color: #ffffff;
    min-height: 63px;
    overflow:auto;
    line-height: 55px;
    /*width: 838px;*/
}

.Icon {
    height: 100%;
}

.ImageIcon {
    height: 20px;
}


.summery {
    text-align: center;
    color: #fff;
    min-height: 67px;
    /*width: 653px;*/
    line-height: 40px;
    font-size: 18px;
    padding-bottom: 12px;
}

.groupdata {
    background-color: #404549;
    line-height: 30px;
    padding-right: 23px;
    min-height: 40px;
    line-height: 40px;
    /*padding-right: 30px;*/
}

.grouptitle {
    font-size: 14px;
    color: #c0d748;
}


.groups {
    font-size: 14px;
    color: #fff;
    white-space:normal;
    word-break:break-word;
}

#div_ArticleActivities {
    display: block;
    left: 0;
    bottom: 25px;
    height: 29px;
    background-color: transparent;
}

.articleViewArticle {
    position: absolute !important;
    /*top: -15px;*/
    left:0px;
}


.Detail {
    background-color: #0ab490;
    color: #fff;
    text-align: center;
    line-height: 40px;
    /*width: 117px;*/
    height: 29px;
    line-height: 22px;
}

.empty {
    width: 8px;
}

.Activities { 
    background-color: #8c8c8c;
    height: 29px;
    line-height: 28px;
}

a:hover {
    text-decoration: none;
}

.divwithnopadding {
    padding: 0px !important;
    float: left !important;
}


.likeimage {
    position: relative;
    bottom: 5px;
}


.captchaerror {
    display: inline-block;
    font-size: 20px;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #D3D3D3;
}

.profileTable {
    float: right;
    direction: rtl;
    margin-top: 15px;
    border-collapse: inherit;
    border-spacing: 4px !important;
    width: 100%;
    background-color: #fff;
}

.profileheader {
    background-color: #e2e2e2;
    text-align: center;
    font-weight: bold;
    color: #666 !important;
    padding: 5px;
}

.profileData {
    background-color: #f5f5f5;
    color: #777 !important;
    padding: 15px;
    text-align: center;
}


.backofuserimage {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    background-image: url('../Images/Users/profileback.jpg');
    background-size: cover;
    float: right;
    width: 100%;
    height: 150px;
    position: relative;
}

.userinfoimage {
    position: absolute;
    bottom: -90px;
    right: -18px;
    z-index: 1000;
    float: right;
    width: 120px;
    height: 120px;
    border: 4px solid #fff;
    border-radius: 5px;
    margin-top: 55px;
    margin-right: 15px;
}

    .userinfoimage > .UserImge {
        width: 120px !important;
        height: 112px !important;
        border-radius: 0px !important;
    }

.userProfileName {
    float: right;
    font: 13px;
    font-weight: bold;
    color: #fff;
    text-align: right;
    direction: rtl;
    padding: 8px 130px 8px 0px;
    background-color: #34434b;
    margin-top: 58px;
    width: 100%;
    margin-right: 3px;
}

.userrole {
    float: left;
    background: #fff;
    padding: 0 10px;
}
