﻿ul.second {
    padding-right: 0px;
    margin-right: 0px;
    direction: rtl;
}

.container-fluid {
    margin-right: 20px !important;
    margin-left: 0px !important;
    padding: 0px !important;
}

.selected {
    border-left: 2px solid #09b58f;
    border-bottom: 2px solid #09b58f;
    color: #09b58f !important;
}

    .selected a {
        color: #09b58f !important;
    }

    .navbar-default .navbar-nav > li > a.selected {
    color: #09b58f !important;
}

ul.second li {
    list-style-type: none;
    float: right;
    padding-left: 5px;
}

    ul.second li a {
        text-decoration: none;
        padding: 5px;
        position: relative;
    }

        ul.second li a:before {
            border-left: 2px solid #09b58f;
            transform: scale(1,0);
        }

        ul.second li a:after {
            border-bottom: 2px solid #09b58f;
            transform: scale(0,1);
        }

        ul.second li a:before, ul.second li a:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            transition: opacity 0.35s ease, transform 0.35s ease;
        }

        ul.second li a:hover:before, ul.second li a:hover:after {
            transition: 0.35s;
            transform: scale(1);
        }
