﻿body {
    font-family: 'B Homa', Tahoma !important;
    font-size: 12px;
    text-align: right;
    padding-top: 0px !important;
    background-color: #101a23 !important;
    margin-top: 29px !important;
    overflow-x: hidden;
}
 
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    float: right;
    margin-right: 20px;
}

.div_AllContent {
    /*width: 1040px;*/
    /*margin-left: 181px;
    margin-right: 181px;*/
    padding: 0px !important;
}

#div_Content {
    /*width: 838px;*/
    padding: 0px !important;
}

.sitelogo {
    margin-left: 29px;
}

.Menu {
    /*width: 1040px;*/
    padding: 0px !important;
    margin: 0px !important;
}


.spliter {
    height: 2px;
    background-color: #c0d846;
    margin: 0px !important;
    padding: 0px !important;
    padding-bottom: 3px;
}

.leftPane {
    /*max-width: 842px !important;*/
    padding: 0px !important;
    margin: 0px !important;
    float: left;
}

.rightPane {
    /*max-width: 193px !important;*/
    padding: 0px !important;
    margin: 0px !important;
    float: right;
}

.MainCarusel {
    /*width: 838px !important;*/
    /*margin: 0px !important;
    padding: 0px !important;
    margin-right: 7px !important;*/
}

.topContent {
    /*width: 1040px;*/
    margin: 0px !important;
    padding: 0px !important;
}

@-webkit-keyframes autofill {
    to {
        color: #000;
        background: #8a919b;
    }
}

a > img {
    outline: 0px solid #0782C1 !important;
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

input,
select,
div,
a,
span,
section,
button,
textarea {
    font-family: 'B Homa', Tahoma !important;
    color: #ffffff;
}

.ArticleTitleLink {
    color: #000 !important;
    text-decoration: none !important;
}


.menuButton {
    border: 0px;
}

.mybtn {
    background-color: transparent !important;
    border: 0px !important;
}

.loginregisterButton {
    border-radius: 0px !important;
    color: #ffffff !important;
    text-align: center !important;
    /*width: 68px !important;*/
    height: 28px !important;
    /*line-height: 28px !important;*/
    background-color: #0ab490 !important;
    border: 0px !important;
}

.linkbutton {
    border-radius: 0px !important;
    color: #ffffff !important;
    text-align: center !important;
    /*width: 68px !important;*/
    /*height: 28px !important;*/
    /*line-height: 10px !important;*/
    background-color: #0ab490 !important;
    padding: 4px 17px;
    border: 0px !important;
}

.Management {
    right: 0px;
    background-color: transparent !important;
    border: 0px !important;
    background-color: #101a23 !important;
}

    .Management > li > a {
        color: #fff !important;
    }

        .Management > li > a:hover {
            color: #fff !important;
            background-color: transparent !important;
        }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: #101a23 !important;
}

.navbar {
    margin-bottom: 0px !important;
}

.navbar-collapse {
    padding-right: 0px !important;
}

.navbar-default {
    border: 0px !important;
    border-color: transparent !important;
    background-color: transparent !important;
}

a {
    color: #fff !important;
}

    a .ForgotPassword {
        color: #fff;
    }

.navbar-inverse {
    width: 100% !important;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #09b58f !important;
}


.navbar-default .navbar-nav > li > a {
    color: #ffffff !important;
}

#div_BetweenAdvAndSlide {
    height: 27px;
}

.footerText {
    background-color: #8c8c8c !important;
    color: #0b212f !important;
    padding: 0px !important;
    text-align: center !important;
    height: 40px !important;
    line-height: 40px !important;
    font-family: Tahoma !important;
    font-size: 12px !important;
}


.form-horizontal .control-label {
    text-align: right !important;
}

.userpasstextbox {
    font-size: 12px;
    /*width: 138px;*/
    height: 28px;
    border: 0px;
    background-color: #8a919b !important;
    color: #000;
    border-radius: 0px;
    padding-right: 7px;
}

.lognitems {
    padding-bottom: 12px !important;
}

.UserPassImage {
    /*width: 37px;*/
    height: 28px;
}

.remembertext {
    padding-right: 0px !important;
    font-size: 9px !important;
}

.remembercheckbox {
    margin-right: 10px !important;
    bottom: 5px !important;
    width: 12px;
    height: 12px;
}

input[type=checkbox], input[type=radio] .remembercheckbox {
    margin: 0px !important;
}

.usernamelable {
    font-size: 12px;
    word-wrap: break-word;
    text-align: right;
}


input[type=checkbox]:after {
    content: "\0020"; /*"\25A1";*/
    background-color: #757473 !important;
    display: inline-block;
    visibility: visible;
    width: 12px;
    height: 12px !important;
    line-height:12px;
    text-align: center; 
    vertical-align: top;
}

input[type=checkbox]:checked:after {
    content: "\2714";
    width: 12px;
    height: 12px !important;
}

.ForgotPassword {
    font-size: 9px !important;
    padding-right: 0px;
    margin-right: 20px;
}

.img-avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.pagination li a {
    color: #4b5158 !important;
}
