﻿.projectTitle {
    width: 100%;
}

.projectheader {
    background-image: url('../Images/All/register.png');
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 18px;
    height: 33px;
    line-height: 30px;
    text-align: center;
    background-color: #c0d847;
    color: #000018;
    font-weight: bold;
    float: right;
}

.leftsideprojectHeader {
    float: right;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    height: 33px;
}


.attentiontext {
    color: #afc549;
    line-height: 30px;
}

.normalText {
    color: #fff;
    line-height: 30px;
}

.textcontent {
    line-height: 30px;
    text-align: right;
    letter-spacing: 1px;
    font-size: 12px;
}

.video {
    height: 190px;
    background-color: #3a3a3c;
    width: 100%;
}

.VideoTitle {
    background-color: #e7e8e9;
    height: 32px;
    line-height: 32px;
    color: #000;
    text-align: right;
}

 
.VideoDescription {
    background-color: #0ab491;
    height: 32px;
    line-height: 32px;
    color: #000;
    text-align: right;
}
 

.VideoSoftware {
    background-color: #c0d847;
    height: 32px;
    line-height: 32px;
    color: #000;
    text-align: right;
}

.spantext {
    color: #000 !important;
    font-size:13px;
}
