﻿#CaptchaInputText {
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-color: #8a919a;
    border-radius: 10px;
    height: 33px;
    border: 0px;
    color: #fff;
    width: 220px;
}

#captchacontent > a {
    color: #0dc19b;
    margin-right: 80px;
}


#CaptchaImage {
    margin-right: 10px;
    margin-bottom: 10px;
}

.registerTitle {
    width: 100%;
}

.registerheader {
    background-image: url('../Images/All/register.png');
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 18px;
    height: 33px;
    line-height: 30px;
    text-align: center;
    background-color: #c0d847;
    color: #000018;
    font-weight: bold;
    float: right;
}

.leftsideRegisterHeader {
    float: right;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    height: 33px;
}

.attentionfield {
    color: #0dc19b;
}

.attentionsentence {
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.passwordattention {
    text-align: center;
    margin-bottom: 8px;
}

.inputtextbox {
    background-color: #8a919a;
    border-radius: 10px;
    width: 475px;
    height: 33px;
    border: 0px;
    color: #fff;
}

.twotextboxinside {
    background-color: #8a919a;
    border-radius: 10px;
    height: 33px;
    border: 0px;
    color: #fff;
    width: 130px;
}

.registerbutton {
    border-radius: 10px !important;
    float: left;
    line-height:20px !important;
}

.loginbutton {
    border-radius: 10px !important;
    float: left;
}

.HeaderTitleConfirmEmail {
    color: #c0d847;
}

.star {
    color: #c0d847;
}

.btn_vipPlan {
    background-image: url('../Images/All/ChooseVipPlan.png');
}

.btn_Payment {
    background-image: url('../Images/All/Payment.png');

}