﻿body {
}

#div_Content {
    width: 100%;
}

.tabStyle {
    padding: 5px;
    height: 60px;
    width: 90px;
    background: #f7f7f7;
    background: -moz-linear-gradient(top, #f7f7f7 0%, #efefef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#efefef));
    background: -webkit-linear-gradient(top, #f7f7f7 0%,#efefef 100%);
    background: -o-linear-gradient(top, #f7f7f7 0%,#efefef 100%);
    background: linear-gradient(top, #f7f7f7 0%,#efefef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#efefef',GradientType=0 );
}

.box {
    direction: rtl;
    -webkit-box-shadow: 0 1px 3px 0 rgba( 0, 0, 0, .12 );
    -moz-box-shadow: 0 1px 3px 0 rgba( 0, 0, 0, .12 );
    box-shadow: 0 1px 3px 0 rgba( 0, 0, 0, .12 );
    background: #f4f4f4;
    border: 1px solid #cdcdcd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top:10px;
}

.tabpanel {
    border-bottom: 1px solid #ddd;
    margin-left: 0;
    margin-right: 0;
    border-top: 1px solid #fff;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.table_head {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
}

.nav-tabs > li {
    text-align: center;
}

.TitlePage {
    height: 37px;
    background: #eaeaea;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #eaeaea));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: -o-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: linear-gradient(top, #fdfdfd, #eaeaea);
    text-shadow: 0 1px white;
    border-bottom: 1px solid #CDCDCD;
    color: #636363;
    font-family: 'yekan';
    font-weight: normal;
}

.tab-content {
    text-align: right;
}

.titleText {
    float: right;
    display: block;
    padding: 3px 10px;
    font-size: 15px;
    font-weight: normal;
    color: #000000;
    line-height: 30px;
}

.detail {
    color: #333;
    font-style: italic;
    font-size: 11px;
    margin-bottom: 10px;
}


h1, h2, h3, h4, h5, h6, th {
    color: #333;
    font-weight: 600;
}

.inputRequest {
    width: 140px;
    height: 30px;
    text-align: center;
    margin-top: 10px;
    color: #000;
    margin-right: 10px;
}

.eachboxdata {
    border-top: 1px solid #ffffff;
    background-color: #fbfbfb;
    padding: 8px;
    line-height: 1.42857;
    border-right: 1px solid #eaebef;
    display: table-cell;
    vertical-align: middle;
}

.eachboxdataAlternative {
    background: #F3F4F8;
    background-color: #f3f4f8;
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #dddddd;
    border-right: 1px solid #eaebef;
}

.greentext {
    color: rgb(0, 128, 0);
    font-size: 11px;
}

.blutext {
    color: rgb(0, 0, 255);
    font-size: 11px;
}

.redtext {
    font-size: 11px;
    color: rgb(255, 0, 0);
}

.selectyellow {
    background-color: #eec111;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px;
    width: 268px;
}

.selectNormal {
    position: relative;
    padding-right: 5px;
    overflow: hidden;
    min-width: 140px;
    font-size: 12px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    background: whitesmoke;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
    background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: linear-gradient(top, #ffffff, #f5f5f5);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid #ccc;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    color: #666;
}

.bordered {
    border-top: 1px solid #e9e9e9;
}


.btn.btn-green {
    margin-bottom: 5px;
    border: 1px solid #6d963b;
    -webkit-box-shadow: inset 0 1px 2px #a2c873;
    -moz-box-shadow: inset 0 1px 2px #a2c873;
    box-shadow: inset 0 1px 2px #a2c873;
    background: #82b346;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #96c161), color-stop(100%, #82b346));
    background-image: -webkit-linear-gradient(top, #96c161, #82b346);
    background-image: -moz-linear-gradient(top, #96c161, #82b346);
    background-image: -o-linear-gradient(top, #96c161, #82b346);
    background-image: linear-gradient(top, #96c161, #82b346);
}

.table-normal thead td {
    text-align: center;
    font-size: 11px;
    padding: 3px 5px 2px 5px;
    color: #666;
    height: 25px;
    line-height: 25px;
    font-weight: normal;
    font-size: 13px;
    font-family: 'yekan', tahoma;
    font-size: 12px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    background: #eaeaea;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #eaeaea));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: -o-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: linear-gradient(top, #fdfdfd, #eaeaea);
    border-left: 1px solid #d1d2da;
    border-right: 1px solid #d1d2da;
    border-bottom: 1px solid #d1d2da;
}

.lableStyle {
    color: #c0d748;
    line-height: 32px;
    width: auto;
}
