﻿body {
}

.managementtabtext {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}

.tabStyle {
    border: 1px solid #004c0d;
    background-color: #16a086;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
    width: 118px !important;
}


    .tabStyle:hover {
        font-size: 12px;
        border: #000;
        background-color: #0f7a66;
    }

.nav-tabs {
    border: 0px !important;
}

.manageLink {
    color: #000 !important;
}


.lableStyle {
    color: #c0d748;
    line-height: 32px;
    width: auto;
}

.lb_fileName {
    overflow-wrap: break-word !important;
}

.TextboxStyle {
    height: 32px;
    line-height: 32px;
}

Select {
    background-color: #fff;
}

.TitleStyle {
    background-color: #c0d748;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    width: 120px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

.SubTitleStyle {
    margin-right: 15px;
    background-color: #c0d748;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    width: 180px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

.ButtonStyle {
    background-color: #16a086;
    color: #000;
    width: 120px;
    height: 32px;
    line-height: 32px;
    padding: 0px;
    border: 0px;
    text-align: center;
    cursor: pointer;
}

    .ButtonStyle:hover {
        color: #000;
    }

.divContent {
    padding-top: 20px;
}

.EmptyDiv {
    width: 100%;
    height: 30px;
}

.form_1 {
    height: 150px;
}

.Form_2 {
    height: 70px;
}

.Form_3 {
    height: 80px;
}


.Form_4 {
    height: 220px;
}

.Form_5 {
    height: 150px;
}

.Form_6 {
    height: 150px;
}

.IncreaseOrder {
    background-image: url('../Images/Management/down.png');
    width: 13px;
    height: 16px;
    border: 0px;
    color: transparent;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    float: right;
}

.DecreaseOrder {
    background-image: url('../Images/Management/Up.png');
    width: 13px;
    height: 16px;
    border: 0px;
    color: transparent;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    float: right;
}

.nav > li > a {
    padding: 10px 5px !important;
}

.CommentTableHeader {
    background-color: #c0d748 !important;
    border: 1px solid #fff;
    color: #000;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
}

.CommentTableHeaderFirst {
    background-color: #c0d748 !important;
    border: 1px solid #fff;
    border-right: 0px;
    color: #000;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
}

.CommentTableHeaderLast {
    background-color: #c0d748 !important;
    border: 1px solid #fff;
    border-left: 0px;
    color: #000;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
}

.CommentTableDataRow {
    border-bottom: 1px solid #fff;
}

.CommentTableData {
    border: 1px solid #fff;
    color: #000;
    line-height: 30px;
    text-align: center;
}

.CommentLink {
    color: #16a086 !important;
}

.nav > li > a:focus, .nav > li > a:hover { 
    background-color: transparent !important;
    border:0px !important;
}
