﻿.StoreImage {
    width: 100%;
    height: 305px !important;
    border: 0px;
    background-color: #46474e;
}

.storeTitle {
    background-color: #e7e8e9;
    color: #000 !important;
    height: 49px;
    line-height: 20px;
    font-size: 13px;
    font-weight: bold;
}

.div_title {
    padding-top: 5px;
    text-align: center;
}

.storedescription {
    color: #fff;
}

.div_storedescription {
    background-color: #0ab491;
    padding-bottom: 5px;
    padding-top: 5px;
}

.storetitledetail {
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    height: 175px;
    padding-top: 60px;
}


.StoreImagefordetail {
    width: 100%;
    height: 470px !important;
    border: 0px;
    background-color: #46474e;
}

.storedetailtopleft {
    background-color: #d1d2d4;
    padding-top: 60px;
    height: 470px;
    color: #000;
}

.storedecdbumber {
    color: #000;
    font-size: 15px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.storedertailprice {
    width: 100%;
    height: 30px;
    background-color: #bdbec0;
    color: #101a22;
    line-height: 25px;
    font-weight: bold;
}

.storepriceandbasket {
    height: 94px;
    line-height: 90px;
    background-color: #18b593;
}

.storedetaildescriptioin {
    background-color: #d1d2d4;
    color: #000;
    padding-top: 33px !important;
    padding-bottom: 38px !important;
    padding-left: 45px !important;
    padding-right: 37px !important;
    border: 1px solid #c9d97b;
    line-height:20px;
}
