﻿.txb_Vip {
    color: #000 !important;
    width: 100%;
}

.link_editdelete {
    color: #000 !important;
}

.txb_email .txb_city {
    white-space: normal;
    width: 100%;
    word-wrap: break-word;
    color: #000000;
}
