﻿
.leftsideVIPHeader {
    float: right;
    border-bottom: 0px;
    border-bottom-style: solid;
    border-bottom-color: #0ab491;
    height: 33px;
}

.planCasts {
    border: 1px solid #0ab491;
    padding-right: 60px !important;
}


.vipHeader {
    background-image: url('../Images/All/vipHeader.png');
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 18px;
    height: 33px;
    line-height: 30px;
    text-align: center;
    background-color: #0ab491;
    color: #fff;
    font-weight: bold;
    float: right;
}



.selecVIPPlanbutton {
    width: 130px;
    height: 26px;
    border-radius: 3px;
    color: #fff;
    background-image: url('../Images/All/btn_selectvipplan.jpg');
    background-color: #555 !important;
    padding: 0px;
    border-width: 0px;
    margin-right: 50px;
}

.selecVIPPlan {
    width: 130px;
    height: 26px;
    border-radius: 3px;
    color: #fff;
    background-image: url('../Images/All/ddl_selectvipplan.jpg');
    background-color: #555 !important;
    padding: 0px;
    border-width: 0px;
    margin-right: 50px;
}

.vipPlans {
    padding-top: 28px;
    padding-bottom: 10px;
}

.vipPlansbtn {
    padding-bottom: 30px;
}
