﻿@model CGSilent.Models.VIPDropDown

@{
    ViewBag.Title = "وی آی پی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/Style/Register.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Style/VIPAccount.css")" rel="stylesheet" />
@*<div class="text-danger has-error">
        @ViewBag.message
    </div>*@
<script>

    $("#btn_PayVIP").click(function () {
        debugger;
        //alert("جهت خرید اکانت , ابتدا باید عضو سایت شوید");
    })

</script>


@using (Html.BeginForm("BuyVipAcount", "VIPaccount", FormMethod.Post, new { @class = "form-horizontal" }))
{

    @Html.AntiForgeryToken()
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <aside id="div_title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 registerTitle">
            <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 registerheader" style="padding: 0px !important; padding-left:18PX !important;">اکانت VIP </aside>
            <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 leftsideRegisterHeader"></aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 attentionsentence"></aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
            <aside class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                <span class="HeaderTitleConfirmEmail" style="line-height:2;"> کاربر گرامی</span>
                <span style="line-height:2;">برای ارتقا اکانت خود به </span>
                <span class="attentionfield" style="line-height:2;"> VIP </span>
                <span style="line-height:2;">و استفاده ار امکانات ویژه سایت, پلن های زیر را انتخاب کنید و بعد از پرداخت وجه اکانت خود را به مدت دلخواه شارژ کنید.</span>
            </aside>
            <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
            <aside class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                <aside class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <aside id="div_title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 registerTitle" style="padding:0px !important;">
                        <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6 vipHeader" style="padding: 0px !important; padding-left:18PX !important;">پلن های VIP</aside>
                        <aside class="col-lg-4 col-md-4 col-sm-4 col-xs-4 leftsideVIPHeader"></aside>
                    </aside>
                    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 planCasts">
                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vipPlans">
                            @Html.DropDownListFor(model => model.VipPlan.Id, Model.Plans, htmlAttributes: new { @class = "form-control selecVIPPlan", @id = "ddl_vipplan" })
                        </aside>
                        <input type="hidden" name="IsVip" />
                        <input type="hidden" name="dargahpardakht" value="سامان" />
                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vipPlansbtn">
                            @* @if (User.IsInRole("Admin") || User.IsInRole("TestVIP"))*@
                            @if (User.Identity.IsAuthenticated)
                            {
                                <input class="selecVIPPlanbutton" type="submit" value="" />
                            }
                            else
                            {
                                <input class="selecVIPPlanbutton" id="btn_PayVIP" type="submit" disabled="disabled" title="خرید آنلاین راه اندازی نشده" value="" />
                            }

                        </aside>
                    </aside>
                </aside>
                <aside class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <aside id="div_title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 registerTitle" style="padding:0px !important;">
                        <aside class="col-lg-5 col-md-5 col-sm-5 col-xs-5 vipHeader" style="padding: 0px !important; padding-left:18PX !important;">تعرفه پلن ها</aside>
                        <aside class="col-lg-5 col-md-5 col-sm-5 col-xs-5 leftsideVIPHeader"></aside>
                    </aside>
                    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 planCasts" style="padding-right:60px !important; padding-bottom:5px;">
                        <span class="star">*</span>
                        <span style="line-height:2;">1 ماهه</span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span style="line-height:2;">10,000 تومان</span>
                        <br />
                        <span class="HeaderTitleConfirmEmail">*</span>
                        <span style="line-height:2;">2 ماهه</span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span style="line-height:2;">18,000 تومان</span>
                        <br />
                        <span class="HeaderTitleConfirmEmail">*</span>
                        <span style="line-height:2;">3 ماهه</span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span style="line-height:2;">25,000 تومان</span>
                        <br />
                        <span class="HeaderTitleConfirmEmail">*</span>
                        <span style="line-height:2;">6 ماهه</span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span style="line-height:2;">50,000 تومان</span>
                        <br />
                        <span class="HeaderTitleConfirmEmail">*</span>
                        <span style="line-height:2;">1 ساله</span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span style="line-height:2;">98,000 تومان</span>
                        <br />
                    </aside>
                </aside>
            </aside>
            <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
        </aside>

        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
            <aside class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                <span class="HeaderTitleConfirmEmail">چند نکته</span>
                <br />
                <span style="line-height:2; float:right;">
                    1- به ازای هر ماه اکانت
                </span>
                <span class="attentionfield" style="line-height:2; width:20px; float:right;"> VIP </span>
                <span style="line-height:2; float:right;"> 30 روز برای شما محاسبه می شود.</span>
                <br />
                <span style="line-height:2; float:right;">2- وجوه پرداخت شده به هیچ عنوان قابل عودت نمی باشد. (لطفا در انتخاب پلن دقت نمایید.) </span>
                <br />
                <span style="line-height:2; float:right; width:100%;">3- جزییات پرداخت به ایمیل شما ارسال خواهد شد</span>
                <br />
                <span style="line-height:2; float:right;">4-مدت روزهای باقی مانده از اکانت</span>
                <span class="attentionfield" style="line-height:2; float:right;">VIP</span>
                <span style="line-height:2; float:right;">در قسمت مشخصات کاربری قابل رویت می باشد.</span>

            </aside>
            <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 leftsideRegisterHeader"></aside>
    </aside>
    <aside>
        <b>
            @ViewBag.PaymentForVIP
        </b>
    </aside>

}
