﻿@{
    ViewBag.Title = "وی آی پی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta charset="utf-8" />
<title>وضعیت پرداخت</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="shortcut icon" href="cgsilent.ir" type="image/ico" />
<meta name="description" content="درگاه پرداخت" />
<link href="~/Content/style.css" rel="stylesheet" />

<body>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main"> 
        <br /> 
        <div class="specification">
            <table>
                <tr>
                    <td class="lbl">درگاه پرداخت:</td>
                    <td class="value">
                        <p style="color:#F00">@ViewBag.BankName</p>
                    </td>
                </tr>
                <tr>
                    <td class="lbl">وضعیت پرداخت:</td>
                    <td class="value">
                        <p style="color:#F00">@ViewBag.Message</p>
                    </td>
                </tr>
                <tr>
                    <td class="lbl">کد رهگیری:</td>
                    <td class="value">
                        @ViewBag.SaleReferenceId 
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        @*<a href="/" class="btn-return">بازگشت</a>*@
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="footer">
        <p> تمامي كالاها و خدمات اين فروشگاه، حسب مورد داراي مجوزهاي لازم از مراجع مربوطه مي‌باشند و فعاليت‌هاي اين سايت تابع قوانين و مقررات جمهوري اسلامي ايران است.</p>
    </div>
</body> 