﻿@model CGSilent.Models.Group

@{
    ViewBag.Title = "حذف گروه";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <h2>حذف گروه</h2>

    <h3>آیا از حذف اطلاعات اطمینان دارید؟?</h3>
    <div>
        <h4>حذف گروه</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                نام:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                تاریخ ایجاد
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>

            <dt>
                تاریخ به روز رسانی
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdateDate)
            </dd>

        </dl>

        @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="حذف" class="btn btn-default" /> |
        @Html.ActionLink("بازگشت به لیست گروه", "Index")
    </div>
    }
    </div>
}
else
{
    <aside class="row">
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <aside style="height:50px; font-size:12px; color:#c0d846; font-weight:bold; text-align:center;">
                صفحه مورد نظر یافت نشد
            </aside>
        </aside>
    </aside>
}