﻿@{
    ViewBag.Title = "درباره ی ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Content/ckeditor/ckeditor.js")"></script>
<link href="@Url.Content("~/Content/ckeditor/contents.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Style/Register.css")" rel="stylesheet" />

<script>
    $(document).ready(function () {
        $("#btn_ContatcInfo").click(function () {
            $('#txb_About').val(CKEDITOR.instances["txb_About"].getData());
        });
    });
</script>

<aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden">
    <div id="div_ContactUs">
        @Html.Raw(ViewBag.Content)
    </div>
    <br />
</aside>

<aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <aside id="div_title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 registerTitle">
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 registerheader" style="padding: 0px !important; padding-left:18PX !important;">درباره ما</aside>
        <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 leftsideRegisterHeader"></aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-left:0px !important; padding-right:0px !important; padding-top:30px;padding-bottom:20px; ">
        <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0px !important;">
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="height:76px;">
                <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3"
                       style="background-color:#0ab491; text-align:center; height: 76px; padding-top: 12px;">
                    <i class="glyphicon glyphicon-user"  style="color:#fff; font-size:20px;"></i>
                    <br />
                    اطلاعات هویتی
                </aside>
                <aside class="col-lg-9 col-md-9 col-sm-9 col-xs-9"
                       style="background-color:#e7e8e9; text-align:center; height:76px; color:#1e232b; padding-top:5px;  line-height:15px;">
                    یعقوب دهقانی
                    <br />
                    آدرس :
                    تهران – میدان بسیج – مسعودیه – خیابان ابومسلم
                    <br />
                    خراسانی – نبش کوچه ترکاشوند – پلاک 418 واحد 1
                    <br />
                    دفتر سی جی سایلنت 
                </aside>
            </aside>
        </aside>
        <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0px !important;">
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="height:76px;">
                <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3"
                       style="background-color:#0ab491; text-align:center; height: 76px; padding-top: 12px;">
                   <i class="glyphicon glyphicon-alert" style="color:#fff; font-size:20px;"></i>
                    <br />
                   رسیدگی به شکایات
                </aside>
                <aside class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-center"
                       style="background-color:#e7e8e9; text-align:center; height:76px; color:#1e232b; padding-top:5px;  line-height:15px;">
                    مدیر سایت : یعقوب دهقانی
                    <br />
                    شماره تماس : 
                    <br />  
                    021-2133871652                   
                </aside>
            </aside>
        </aside>
    </aside>

    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-left:0px !important; padding-right:0px !important; padding-bottom:20px; ">
        <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0px !important;">
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="height:76px;">
                <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3"
                       style="background-color:#0ab491; text-align:center; height: 76px; padding-top: 17px;">
                    <i class="glyphicon glyphicon-envelope" style="color:#fff; font-size:20px;"></i>
                    <br /> 
                    پست الکترونیک : 
                </aside>
                <aside class="col-lg-9 col-md-9 col-sm-9 col-xs-9"
                       style="background-color:#e7e8e9; text-align:center; height:76px; color:#1e232b; padding-top:30px;">
                    yaghooubdehghan@yahoo.com
                </aside>
            </aside>
        </aside>
        <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0px !important;">
            @*<aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="height:76px;">
                <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3"
                       style="background-color:#0ab491; text-align:center; height: 76px; padding-top: 10px !important;">
                     
                </aside>
                <aside class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-center"
                       style="background-color:#e7e8e9; text-align:center; height:76px; color:#1e232b;padding:0px !important; padding-top:10px !important;">
                    
                </aside>
            </aside>*@
        </aside>
    </aside> 
    <hr />
</aside>

<hr />
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{

    @model CGSilent.Models.HtmlContent
    using (Html.BeginForm("EditAbout", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id, new { @id = "hide_Id" })
        @Html.HiddenFor(model => model.CreatedDate, new { @id = "hide_CreatedDate" })
        @Html.HiddenFor(model => model.Type, new { @id = "hide_Type" })
        <br /> 
        <div >
            <h2 class="TitleStyle">
                مدیریت درباره ما :
            </h2>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @Html.EditorFor(m => m.Content, new { htmlAttributes = new { @class = "form-control", @id = "txb_About" } })
                <script>
                    CKEDITOR.replace('txb_About', {
                        filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
                        filebrowserUploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files'
                    });
                </script>
                <br />
            </aside>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="ذخیره" id="btn_ContatcInfo" class="btn btn-default" />
                </div>
                <br />
            </div>
        </div>
    }
}
