﻿
@{
    ViewBag.Title = "تماس با ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Content/ckeditor/ckeditor.js")"></script>
<link href="@Url.Content("~/Content/ckeditor/contents.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Style/Register.css")" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $("#btn_ContatcInfo").click(function () {
            $('#txb_Content').val(CKEDITOR.instances["txb_Content"].getData());
        });
    });
</script>

<style>
    hr {
        border: 1px solid #e9f4f8;
        margin: 0px;
    }
</style>

<aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <aside id="div_title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 registerTitle">
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 registerheader" style="padding: 0px !important; padding-left:18PX !important;">تماس با ما</aside>
        <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 leftsideRegisterHeader"></aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-left:0px !important; padding-right:0px !important; padding-top:30px;padding-bottom:20px; ">
        <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0px !important;">
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="height:76px;">
                <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3"
                       style="background-color:#0ab491; text-align:center; height: 76px; padding-top: 12px;">
                    <img src="~/Content/Images/ContactUs/AddressIcon.png" />
                    <br />
                    نشانی
                </aside>
                <aside class="col-lg-9 col-md-9 col-sm-9 col-xs-9"
                       style="background-color:#e7e8e9; text-align:center; height:76px; color:#1e232b; padding-top:16px;  line-height:15px;">
                    تهران – میدان بسیج – مسعودیه – خیابان ابومسلم
                    <br />
                    خراسانی – نبش کوچه ترکاشوند – پلاک 418 واحد 1
                    <br />
                    دفتر سی جی سایلنت
                </aside>
            </aside>
        </aside>
        <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0px !important;">
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="height:76px;">
                <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3"
                       style="background-color:#0ab491; text-align:center; height: 76px; padding-top: 5px;">
                    <img src="~/Content/Images/ContactUs/phoneicon.png" style="padding-bottom:5px;" />
                    <br />
                    تلفن تماس
                </aside>
                <aside class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-center"
                       style="background-color:#e7e8e9; text-align:center; height:76px; color:#1e232b; padding-top:5px;  line-height:15px;">
                    مدیر پشتیبانی : یوسف دهقانی
                    <br />
                    تیم پستیبانی : 09197010895
                    <br />
                    تیم انجام پروژه : 09192852487
                    <br />
                    ساعت تماس : 8 الی 19
                </aside>
            </aside>
        </aside>
    </aside>

    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-left:0px !important; padding-right:0px !important; padding-bottom:20px; ">
        <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0px !important;">
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="height:76px;">
                <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3"
                       style="background-color:#0ab491; text-align:center; height: 76px; padding-top: 17px;">
                    <img src="~/Content/Images/ContactUs/postcode.png" />
                    <br />
                    کد پستی
                </aside>
                <aside class="col-lg-9 col-md-9 col-sm-9 col-xs-9"
                       style="background-color:#e7e8e9; text-align:center; height:76px; color:#1e232b; padding-top:30px;">
                    1788615543
                </aside>
            </aside>
        </aside>
        <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0px !important;">
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="height:76px;">
                <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3"
                       style="background-color:#0ab491; text-align:center; height: 76px; padding-top: 10px !important;">
                    <img src="~/Content/Images/ContactUs/social.png" style="padding-bottom:5px !important;" />
                    <br />
                    شبکه های مجازی
                </aside>
                <aside class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-center"
                       style="background-color:#e7e8e9; text-align:center; height:76px; color:#1e232b;padding:0px !important; padding-top:10px !important;">
                    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px !important; padding-bottom:5px !important;">
                        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-right:7px; padding-left:7px;">
                            <a href="https://gap.im/cgsilent" target="_blank">
                                <img src="~/Content/Images/ContactUs/gap.png" />
                            </a>
                        </aside>
                        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-left:7px;">
                            <img src="~/Content/Images/ContactUs/bale.png" />
                        </aside>
                        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-left:7px;">
                            <a href="https://sapp.ir/cgsilent" target="_blank">
                                <img src="~/Content/Images/ContactUs/sooroush.png" />
                            </a>
                        </aside>
                        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-left:7px;">
                            <a href="https://t.me/cgsilent" target="_blank">
                                <img src="~/Content/Images/ContactUs/telegram.png" />
                            </a>
                        </aside>
                        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-left:7px;">
                            <img src="~/Content/Images/ContactUs/v.png" />
                        </aside>
                        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-left:7px;">
                            <img src="~/Content/Images/ContactUs/aparat.png" />
                        </aside>
                    </aside>
                    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px !important; padding-bottom:10px !important;">
                        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <a href="https://wispi.me/channel/cgsilent" target="_blank">
                                <img src="~/Content/Images/ContactUs/wispi.png" />
                            </a>
                        </aside>
                        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <a href="http://bpn.im/cgsilent" target="_blank">
                                <img src="~/Content/Images/ContactUs/bistoon.png" />
                            </a>
                        </aside>
                        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <a href="https://iGap.net/join/VXkJdhOXsjZWUHsMJkmyZWYNd" target="_blank">
                                <img src="~/Content/Images/ContactUs/igap.png" />
                            </a>
                        </aside>
                        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <a href="https://eitaa.com/cgsilent" target="_blank">
                                <img src="~/Content/Images/ContactUs/eitaa.png" />
                            </a>
                        </aside>
                        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <img src="~/Content/Images/ContactUs/youtube.png" />
                        </aside>
                        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <img src="~/Content/Images/ContactUs/twiter.png" />
                        </aside>
                    </aside>
                </aside>
            </aside>
        </aside>
    </aside>

    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-left:0px !important; padding-right:0px !important; padding-bottom:20px !important; ">
        <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0px !important;">
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="height:76px;">
                <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3"
                       style="background-color:#0ab491; text-align:center; height: 76px; padding:0px !important; padding-top: 10px !important;">
                    <img src="~/Content/Images/ContactUs/Email.png" />
                    <br />
                    پست الکترونیکی
                </aside>
                <aside class="col-lg-9 col-md-9 col-sm-9 col-xs-9"
                       style="background-color:#e7e8e9; text-align:center; height:76px; color:#1e232b; padding:0px !important; padding-top:35px !important;">
                    info@cgsilent.com
                </aside>
            </aside>
        </aside>
        <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0px !important; ">
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="height:76px;">
                <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3"
                       style="background-color:#0ab491; text-align:center; height: 76px; padding:0px !important; padding-top: 14px !important;">
                    <img src="~/Content/Images/ContactUs/Acount.png" style="padding-bottom:5px;" />
                    <br />
                    اطلاعات حساب
                </aside>
                <aside class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-center"
                       style="background-color:#e7e8e9; text-align:center; line-height:15px;
                        height:76px; color:#1e232b; padding:0px !important;  padding-top:10px !important;">
                    شماره کارت : 6037997269858552
                    <br />
                    شماره حساب : 2852487
                    <br />
                    بانک سامان
                    <br />
                    به نام : یعقوب دهقانی
                </aside>
            </aside>
        </aside>
    </aside>
    <hr />
</aside>

<aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="display:none;">
    <div id="div_ContactUs">
        @Html.Raw(ViewBag.Content)
    </div>
    <br />
    <hr />
</aside>

@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    @model CGSilent.Models.HtmlContent
    using (Html.BeginForm("EditContact", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id, new { @id = "hide_Id" })
        @Html.HiddenFor(model => model.CreatedDate, new { @id = "hide_CreatedDate" })
        @Html.HiddenFor(model => model.Type, new { @id = "hide_Type" })
        <br />
        <h2 class="TitleStyle">مدیریت تماس با ما :</h2>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @Html.EditorFor(m => m.Content, new { htmlAttributes = new { @class = "form-control", @id = "txb_Content" } })
            <script>
                CKEDITOR.replace('txb_Content', {
                    filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
                    filebrowserUploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files'
                });
            </script>
            <br />
        </aside>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ذخیره" id="btn_ContatcInfo" class="btn btn-default" />
            </div>
            <br />
        </div>
    }
}
