﻿
@{
    ViewBag.Title = "انجام پروژه";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Content/ckeditor/ckeditor.js")"></script>
<link href="@Url.Content("~/Content/ckeditor/contents.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Style/Project.css")" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $("#btn_ContatcInfo").click(function () {
            $('#txb_Project').val(CKEDITOR.instances["txb_Project"].getData());
        });
    });
</script>

<aside class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
    <aside id="div_title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 projectTitle">
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 projectheader" style="padding: 0px !important; padding-left:18PX !important;">انجام پروژه</aside>
        <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 leftsideprojectHeader"></aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 textcontent" style="padding-top: 20px !important;
    padding-right:25px !important;
    padding-left:30px; !important">
        <span class="normalText">
            تیم
        </span>
        <span class="attentiontext">
            سی جی سایلنت
        </span>
        <span class="normalText">
            با بهره گیری از نیروهای متخصص و با تجربه , با سابقه 15 ساله در زمینه های انیمیشن 3 بعدی , انیمیشن معماری , طراحی دکوراسیون خارجی و داخلی , انیمیشن 2 بعدی , موشن گرافیک , جلوه های ویژه و تدوین فعالیت می نماید .
        </span>

        <br />
        <span class="normalText">
            این تیم توانسته برای بزرگترین شرکت ها و سازمان ها ارائه ی خدمات نماید و پروژه های بسیاری را با کیفیت مطلوب و قیمت مناسب به انجام برساند.
        </span>
        <br />
        <span class="normalText">
            شما نیز می توانید برای اناجم پروژه های خود
        </span>
        <span class="attentiontext">
            (در قسمت تماس با ما)
        </span>
        <span class="normalText">
            تماس بگیرید و پروژه ی خود را به تیم ما بسپارید و با بالاترین کیفیت و قیمت مناسب تحویل بگیرید.
        </span>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:50px;"></aside>
    <aside id="div_title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 projectTitle">
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 projectheader" style="padding: 0px !important; padding-left:18PX !important;">نمونه کارها</aside>
        <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 leftsideprojectHeader"></aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:30px !important;">
        <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 video"></aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 VideoTitle">
                <span class="spantext">انیمیشن 3 بعدی</span>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 VideoDescription">
                <span class="spantext">به سفارش بنیاد مسکن انقلاب اسلامی</span>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 VideoSoftware">
                <span class="spantext">
                    نرم افزار های استفاده شده Maya, Zbrush, 3D Max
                </span>
            </aside>
        </aside>

        <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 video"></aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 VideoTitle">
                <span class="spantext">اینفوگرافیک</span>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 VideoDescription">
                <span class="spantext">به سفارش فیدیلیو</span>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 VideoSoftware">
                <span class="spantext">
                    نرم افزارهای استفاده شده Maya, Zbrush, 3D Max
                </span>
            </aside>
        </aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:30px !important;">
        <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 video"></aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 VideoTitle">
                <span class="spantext">جلوه های ویژه</span>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 VideoDescription">
                <span class="spantext">به سفارش بنیاد شرکت ملی نفت</span>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 VideoSoftware">
                <span class="spantext">
                    نرم افزار های استفاده شده Maya, Zbrush, 3D Max
                </span>
            </aside>
        </aside>

        <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 video"></aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 VideoTitle">
                <span class="spantext">جلوه های ویژه</span>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 VideoDescription">
                <span class="spantext">به سفارش شرکت ملی نفت</span>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 VideoSoftware">
                <span class="spantext">
                    نرم افزارهای استفاده شده Maya, Zbrush, 3D Max
                </span>
            </aside>
        </aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:30px !important;">
        <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 video"></aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 VideoTitle">
                <span class="spantext">انیمیشن 3 بعدی</span>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 VideoDescription">
                <span class="spantext">به سفارش بنیاد مسکن انقلاب اسلامی</span>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 VideoSoftware">
                <span class="spantext">
                    نرم افزار های استفاده شده Maya, Zbrush, 3D Max
                </span>
            </aside>
        </aside>

        <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 video"></aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 VideoTitle">
                <span class="spantext">اینفوگرافیک</span>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 VideoDescription">
                <span class="spantext">به سفارش فیدیلیو</span>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 VideoSoftware">
                <span class="spantext">
                    نرم افزارهای استفاده شده Maya, Zbrush, 3D Max
                </span>
            </aside>
        </aside>
    </aside>
</aside>

<aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="display:none;">
    <div id="div_ContactUs">
        @Html.Raw(ViewBag.Content)
    </div>
    <br />
    <hr />
</aside>
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    @model CGSilent.Models.HtmlContent
    using (Html.BeginForm("EditProject", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id, new { @id = "hide_Id" })
        @Html.HiddenFor(model => model.CreatedDate, new { @id = "hide_CreatedDate" })
        @Html.HiddenFor(model => model.Type, new { @id = "hide_Type" })
        <br />
        <h2 class="TitleStyle">مدیریت پروژه :</h2>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @Html.EditorFor(m => m.Content, new { htmlAttributes = new { @class = "form-control", @id = "txb_Project" } })
            <script>
                CKEDITOR.replace('txb_Project', {
                    filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
                    filebrowserUploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files'
                });
            </script>
            <br />
        </aside>
        <aside class="form-group">
            <aside class="col-md-offset-2 col-md-10">
                <input type="submit" value="ذخیره" id="btn_ContatcInfo" class="btn btn-default" />
            </aside>
            <br />
        </aside>
    }
}
