﻿@{
    ViewBag.Title = "امور رندرینگ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Content/ckeditor/ckeditor.js")"></script>
<link href="@Url.Content("~/Content/ckeditor/contents.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Style/Register.css")" rel="stylesheet" />

<script>
    $(document).ready(function () {
        $("#btn_ContatcInfo").click(function () {
            $('#txb_Rendering').val(CKEDITOR.instances["txb_Rendering"].getData());
        });
    });
</script>

<style>
    hr {
        border: 1px solid #e9f4f8;
        margin: 0px;
    }
</style>

<aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <aside id="div_title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 registerTitle">
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 registerheader" style="padding: 0px !important; padding-left:18PX !important;">امور رندرینگ</aside>
        <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 leftsideRegisterHeader"></aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="padding-top:10px;padding-bottom:10px;">
        <img src="~/Content/Images/All/Rendering.jpg" style="width:100%;" />
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom:10px;">
        <span style="font-size:14px;">
            خبرهای خوبی در راه است...
        </span>
    </aside>
    <hr />
</aside>

<aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="display:none;">
    <div id="div_ContactUs">
        @Html.Raw(ViewBag.Content)
    </div>
    <br />
</aside>
<br />
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{

    @model CGSilent.Models.HtmlContent
    using (Html.BeginForm("EditRendering", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id, new { @id = "hide_Id" })
        @Html.HiddenFor(model => model.CreatedDate, new { @id = "hide_CreatedDate" })
        @Html.HiddenFor(model => model.Type, new { @id = "hide_Type" })
        <br />
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:10px;">
            @Html.EditorFor(m => m.Content, new { htmlAttributes = new { @class = "form-control", @id = "txb_Rendering" } })
            <script>
                CKEDITOR.replace('txb_Rendering', {
                    filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
                    filebrowserUploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files'
                });
            </script>
            <br />
        </aside>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="ذخیره" id="btn_ContatcInfo" class="btn btn-default" />
                </div>
                <br />
            </div>
    }
}
