﻿@{
    ViewBag.Title = "قوانین و مقررات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Content/ckeditor/ckeditor.js")"></script>
<link href="@Url.Content("~/Content/ckeditor/contents.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Style/Register.css")" rel="stylesheet" />


<aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <aside id="div_title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group registerTitle">
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 registerheader" style="padding: 0px !important; padding-left:18PX !important;">قوانین و مقررات سایت</aside>
        <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 leftsideRegisterHeader"></aside>
    </aside> 
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group" style="text-align:center; min-height:76px; color:fff; line-height: 30px;
    text-align: right; font-size: 13px; padding-right: 10px !important; margin-right:3px !important; margin-top: 10px;">
        تمامی مطالب و فایلهای دانلودی تابع قوانین جمهوری اسلامی ایران می باشد.
        <br />
        کپی مطلب از این وب سایت با ذکر منبع بلامانع است.
        <br />
        توهین به هر شخص ،  نژاد ، قوم و زبانی در این سایت ممنوع می باشد.
        <br />
        هر نام کاربری متعلق به یک کاربر است و اشتراک گذاری حساب کاربری ممنوع است.
        <br />
        فشار آوردن به سرورها به هر نحو مانند تعداد کانکشن بالا به سرورها یا اقدام برای کرک رمزها ممنوع می باشد.
        <br />
        حساب هایی که به هر نحو به سوء استفاده از محدود نبودن سیستم ها بپردازد ، برای مدتی غیر فعال می شوند.
        <br />
        در صورت مشاهده نقض هر یک از قوانین بالا سی جی سایلنت میتواند حساب شما را تا رفع اتحام غیر فعال نموده و در صورت نیاز حذف نماید .
        <br />
        حفظ امنیت نام کاربری و رمز عبور هر کاربر به عهده خودش می باشد و در صورت لو رفتن حساب کاربری به دلیل بی دقتی کاربر ، این سایت هیچ مسئولیتی در قبال استفاده غیر مجاز فرد یا افراد دیگر از حساب کاربر نخواهد داشت.
        <br />
        تمامی اطلاعات کاربران کاملا محفوظ بوده و به هیچ وجه فروخته نمی شود و مورد سوء استفاده قرار نمی گیرد. اطلاعات شما فقط برای تماس در مواقع ضروری استفاده می شود.
        <br />
        فقط در صورت درخواست رسمی از مراجع قضایی جمهوری اسلامی ایران این وب سایت موظف است تا اطلاعات را در اختیار بخش زیربط قرار دهد.
        <br />
        خرید کالا از فروشگاه اینترنتی سی جی سایلنت بر مبنای قوانین و آئین نامه های موجود در تجارت الکترونیک و با رعایت کامل تمام قوانین جمهوری اسلامی ایران صورت می پذیرد.
        <br />
        در هنگام خرید اکانت وی ای پی و انتخاب مدت سرویس دقت نمایید ، این سایت هیچ مسئولیتی در قبال عودت مبلغ وی ای پی ندارد.
        <br />
        ثبت درخواست هر فایل 10 روز از زمان وی ای پی شما کسر خواهد کرد و در مواردی که فایل مورد نظر شما یافت نشود این 10 روز به اکانت شما اضافه میگردد.
        <br />
        برای انتقاد ، پیشنهاد و یا شکایات میتوانید با 
        <a href="@Url.Content("~/Home/Contact")" style="color:#0782C1 !important; text-decoration:dashed; " title="مدیر پشتیبانی : یوسف دهقانی ">واحد پشتیبان سایت</a>
        تماس بگیرید.
        <br />
        <hr />
        <br /> 
    </aside>
</aside>
<hr />

