﻿@model CGSilent.Controllers.ManageSiteController.UserVIP
@{
    ViewBag.Title = "ManageVIP";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{

using (Html.BeginForm("AddVipTime", "ManageSite", FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AllData[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllData[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllData[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllData[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllData[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllData[0].ExpireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllData[0].VipTime)
            </th>
            <th>
                ویرایش
            </th>
        </tr>
        @foreach (var item in Model.AllData)
        {

            @Html.HiddenFor(modelitem => item.Id, htmlAttributes: new { @id = "hideID_(@item.Id)" })
            @Html.HiddenFor(modelitem => item.VipTime, htmlAttributes: new { @id = "hideTIME_(@item.Id)" })
            <tr>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => item.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => item.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => item.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>

                    <div class="form-group">
                        @Html.LabelFor(model => item.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => item.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => item.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>

                    <div class="form-group">
                        @Html.LabelFor(model => item.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => item.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => item.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>

                    <div class="form-group">
                        @Html.LabelFor(model => item.CreatedDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => item.CreatedDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => item.CreatedDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>

                    <div class="form-group">
                        @Html.LabelFor(model => item.ExpireDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => item.ExpireDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => item.ExpireDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>

                    <div class="form-group">
                        @Html.LabelFor(model => item.VipTime, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => item.VipTime, new { htmlAttributes = new { @class = "form-control", @id = "txb_" + item.Id } })
                            @Html.ValidationMessageFor(model => item.VipTime, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <script type="text/javascript">
                                $(document).ready(function () {

                                    $('#btn_@(item.Id)').click(function () {
                                        alert($('txb_@(item.Id)').val());

                                        $('#hideTIME_@(item.Id)').val($('txb_@(item.Id)').val());

                                        @*$.ajax({
                                            actionName: "AddVipTime",
                                            ContreollerName: "Admin",
                                            type: "Post",
                                            data: {
                                                id: '@(item.Id)',
                                                viptime: '@(item.VipTime)'
                                            },
                                            success: function () {
                                            },
                                            error: function () {
                                            }
                                        });*@

                                    });
                                });
                            </script>
                            <input type="submit" value="Save" id="btn_@(item.Id)" class="btn btn-default" />
                        </div>
                    </div>
                </td>
            </tr>

        }
    </table>

    }

}
else
{
    <aside class="row">
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <aside style="height:50px; font-size:12px; color:#c0d846; font-weight:bold; text-align:center;">
                صفحه مورد نظر یافت نشد
            </aside>
        </aside>
    </aside>
}