﻿@model IEnumerable<CGSilent.Models.FilePermision>

@{
    ViewBag.Title = "لیست مجوزهای نمایش فایل";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<p>
    @Html.ActionLink("ثبت دسترسی جدید", "AddPermision")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Caption)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Caption)
        </td>
        <td>
            @Html.ActionLink("ویرایش", "EditPermision", new { id=item.Id }) |
            
            @Html.ActionLink("حذف", "DeletePermision", new {  id=item.Id })
        </td>
    </tr>
}

</table>
