﻿@model CGSilent.Models.StoreListComplete
@using System.Globalization;

@{
    ViewBag.Title = "جزییات محصول";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Content/ckeditor/ckeditor.js")"></script>
<link href="@Url.Content("~/Content/ckeditor/contents.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/ckeditor/config.js")"></script>

<link href="@Url.Content("~/Content/Style/jplayer/css/jplayer.blue.monday.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Style/Article.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Style/Register.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Style/Store.css")" rel="stylesheet" />
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.jplayer.min.js")"></script>

<link href="@Url.Content("~/Content/Style/gallerybox.css")" rel="stylesheet" />

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.jplayer.min.js")"></script>

<style type="text/css">
    .cke_top {
    }

    #div_ArticleActivities {
        bottom: 0px !important;
        height: 40px !important;
        line-height: 40px !important;
    }

    .arrowwithnobackground {
        background-image: unset !important;
    }
</style>

<script type="text/javascript">

    //<![CDATA[
    function LoadVideo(videotitle, videoAddress, containerId, divID) {
        var id = divID.id;
        $("#" + id).jPlayer({
            ready: function () {
                // alert("gg");
                $(this).jPlayer("setMedia", {
                    title: videotitle,
                    m4v: videoAddress,
                    poster: "@Url.Content("~/Content/Images/All/Video_thumbnail.jpg")"
                });
            },
            play: function () { // To avoid multiple jPlayers playing together.
                $(this).jPlayer("pauseOthers");
            },
            swfPath: "Scripts/jplayer",
            supplied: "webmv, ogv, m4v",
            cssSelectorAncestor: "#" + containerId.id,//"#jp_container_",
            globalVolume: true,
            useStateClassSkin: true,
            autoBlur: false,
            smoothPlayBar: true,
            keyEnabled: true
        });
    }

    function ResponseToComment(commentid, username, articleId) {
        $("#hide_commentId").val(commentid);
        $("#div_ResponseComment").css("display", "block");
        $("#lb_UserName").text(username);
        $("#hide_ArticleId").val(articleId);
        $("#btn_AddComment").val("پاسخ به نظر");
    }

    function loginForAddComment() {
        alert("جهت ثبت نظر خود با حساب کاربری وارد شوید.");
    }

</script>
<aside class="arrow light-bg" id="refTable">
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <aside id="div_title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 registerTitle">
            <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 registerheader" style="padding: 0px !important; padding-left:18px !important;">فروشگاه</aside>
            <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 leftsideRegisterHeader"></aside>
        </aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:60px;"></aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
        <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="width: 30px; line-height: 40px;">
            @Html.ActionLink(" ", "EditStore", new { id = Model.StoreList[0].Store.Id }, htmlAttributes: new { @class = "editicon text-right", @title = "ویرایش" })
        </aside>
        <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="width: 30px; line-height: 40px;">
            @Html.ActionLink(" ", "DeleteStore", new { id = Model.StoreList[0].Store.Id }, htmlAttributes: new { @class = "removeicon  text-right", @title = "حذف" })
        </aside>
        }
    </aside>
    <aside class="rel">
        <aside class="div_Propgress">
            <img src="~/Content/Images/Article/wheel.gif" id="Progrees"
                 style="display:none; width:30px; height:30px; right: 200px; top: -10px; position: absolute;" />
        </aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <aside class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img class="StoreImagefordetail" src="@Url.Content(Model.StoreList[0].Store.ImagePath)" />
        </aside>
        <aside class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center storedetailtopleft" style="padding:0px !important; margin:0px !important;">
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 storetitledetail">
                <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></aside>
                <aside class="col-lg-8 col-md-8 col-sm-8 col-xs-8 storedetailtitle">@Model.StoreList[0].Store.Title</aside>
                <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 storedecdbumber">
                <img src="~/Content/Images/Store/CDIcondetail.png" />
                <span c>@Model.StoreList[0].Store.Summery</span>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:27px;">
                <aside class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pull-right"></aside>
                <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
                    <img src="~/Content/Images/All/Comments.png" />
                    @Model.StoreList[0].StoreComments.Count
                </aside>
                <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
                    <img src="~/Content/Images/All/Author.png" class="ImageIcon" />
                    @Model.StoreList[0].Store.ViewCount
                </aside>
                <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
                    @Ajax.ActionLink(
                            linkText: " ",
                            actionName: "DisLikeStore",
                            controllerName: "StoreAdmin",
                            routeValues: new { Id = @Model.StoreList[0].Store.Id },
                            htmlAttributes: new { @class = "dislike" },
                            ajaxOptions: new AjaxOptions
                            {
                                HttpMethod = "Post",
                                InsertionMode = InsertionMode.Replace,
                                LoadingElementId = "Progrees_" + @Model.StoreList[0].Store.Id,
                                UpdateTargetId = "refTable"
                            }
                            )
                    @Html.DisplayFor(modelItem => @Model.StoreList[0].LikeDislike.DislikeCount)
                </aside>
                <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
                    @Ajax.ActionLink(
                            linkText: " ",
                            actionName: "LikeStore",
                            controllerName: "StoreAdmin",
                            routeValues: new { @Model.StoreList[0].Store.Id },
                            htmlAttributes: new { @class = "like", @id = @Model.StoreList[0].Store.Id },
                            ajaxOptions: new AjaxOptions
                            {
                                HttpMethod = "Post",
                                InsertionMode = InsertionMode.Replace,
                                LoadingElementId = "Progrees_" + @Model.StoreList[0].Store.Id,
                                UpdateTargetId = "refTable",
                                OnComplete = "DisableButton(@item.StoreId)"
                            }
                            )
                    @Html.DisplayFor(modelItem => @Model.StoreList[0].LikeDislike.LikeCount)
                    <img src="~/Content/Images/Article/wheel.gif" id="Progrees_@(@Model.StoreList[0].Store.Id)" style="display:none; width:30px; height:30px;" />
                </aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 storepriceandbasket">
                <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></aside>
                    <aside class="col-lg-9 col-md-1 col-lg-9 col-sm-9 col-xs-9" style="height:30px;color:#101a22; padding-top:30px; font-weight:bold;">
                        <aside class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-center pull-left" style="margin:0px !important;padding:0px !important;">
                            <aside class="storedertailprice">
                                @Model.StoreList[0].Store.Price
                            </aside>
                        </aside>
                        <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center pull-right" style="margin:0px !important;padding:0px !important;">
                            <div style="width:100%; height:30px; background-color:#101a22; color:#fff; line-height:25px; font-weight:bold;">مبلغ</div>
                        </aside>
                    </aside>
                    <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></aside>
                </aside>
                <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></aside>
                    <aside class="col-lg-9 col-md-1 col-lg-9 col-sm-9 col-xs-9">
                        <img src="~/Content/Images/Store/basket.png" style="width:100%;" />
                    </aside>
                    <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></aside>
                </aside>
            </aside>
        </aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:60px;"></aside>
    <aside id="div_title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ArticleTitle">
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 Articleheader" style="padding: 0px !important; padding-left:18px !important;">توضیحات</aside>
        <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 leftsideArticleHeader"></aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <aside class="storedetaildescriptioin">
            @Html.Raw(Model.StoreList[0].Store.Description)
        </aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:60px;"></aside>
    <aside>
        <aside id="div_title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ArticleTitle">
            <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 Articleheader" style="padding: 0px !important; padding-left:18PX !important;">عکس و فیلم</aside>
            <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 leftsideArticleHeader"></aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group Articlemediacontent" style="padding-right:25px !important;
               padding-left:8px !important;">
            <aside class="col-md-12">
                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @foreach (var item in ViewBag.StoreDetailImageGalary)
                    {
                        <aside class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                            <img class="galaryitem demo"
                                 src="@Url.Content(item.ImagePath)" />
                            @*data-toggle="modal" data-target=".bs-example-modal-lg"*@
                        </aside>
                    }
                    @*------------------------------------------------نمایش ویدیو--------------------------------------*@
                    @if (Model.StoreList[0].Store.VideoAddress != null)
                    {
                        if (Model.StoreList[0].Store.VideoAddress != "")
                        {
                            var index = 0;
                            var str_videotitle = Model.StoreList[index].Store.VideoName.Split(',');
                            var str_Video1 = Model.StoreList[index].Store.VideoAddress.Split(',');
                            foreach (var video in str_Video1)
                            {
                                <aside class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                    <img class="galaryitem demo" onclick="playvideo(video, str_videotitle[index])"
                                         src="~/Content/Images/All/Video-Thumbnail.jpg" />
                                    @*data-toggle="modal" data-target=".bs-example-modal-lg"*@
                                </aside>
                                index = index + 1;
                            }
                            <aside style="display:none;">
                                <aside style="padding-top:10px;">
                                    <aside id="jp_container" class="jp-video jp-video-270p" role="application" aria-label="media player">
                                        <aside class="jp-type-single" style="overflow:hidden;">
                                            <aside id="jquery_jplayer" class="jp-jplayer"></aside>
                                            <aside class="jp-gui">
                                                <aside class="jp-video-play">
                                                    <button class="jp-video-play-icon" role="button" tabindex="0">play</button>
                                                </aside>
                                                <aside class="jp-interface">
                                                    <aside class="jp-progress">
                                                        <aside class="jp-seek-bar">
                                                            <aside class="jp-play-bar"></aside>
                                                        </aside>
                                                    </aside>
                                                    <aside class="jp-current-time" role="timer" aria-label="time">&nbsp;</aside>
                                                    <aside class="jp-duration" role="timer" aria-label="duration">&nbsp;</aside>
                                                    <aside class="jp-controls-holder">
                                                        <aside class="jp-controls">
                                                            <button class="jp-play" role="button" tabindex="0">play</button>
                                                            <button class="jp-stop" role="button" tabindex="0">stop</button>
                                                        </aside>
                                                        <aside class="jp-volume-controls">
                                                            <button class="jp-mute" role="button" tabindex="0">mute</button>
                                                            <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                                                            <aside class="jp-volume-bar">
                                                                <aside class="jp-volume-bar-value"></aside>
                                                            </aside>
                                                        </aside>
                                                        <aside class="jp-toggles">
                                                            <button class="jp-repeat" role="button" tabindex="0">repeat</button>
                                                            <button class="jp-full-screen" role="button" tabindex="0">full screen</button>
                                                        </aside>
                                                    </aside>
                                                    <div class="jp-details">
                                                        <div class="jp-title" aria-label="title">&nbsp;</div>
                                                    </div>
                                                </aside>
                                            </aside>
                                            <aside class="jp-no-solution" style="display:none;">
                                                <span>Update Required</span>
                                                To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                                            </aside>
                                        </aside>
                                    </aside>
                                </aside>
                            </aside>
                            <script type="text/javascript">
                                function playvideo(video, title) {
                                    var videopath = video;
                                    var videotitle = title;
                                    LoadVideo(videotitle, videopath, jp_container, jquery_jplayer);
                                }
                            </script>
                        }
                    }
                </aside>
            </aside>
        </aside>
    </aside>
    <aside>
        <aside>
            <aside id="div_title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ArticleTitle">
                <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 Articleheader" style="padding: 0px !important; padding-left:18PX !important;">مطالب مرتبط</aside>
                <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 leftsideArticleHeader"></aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group Articlemediacontent" style="padding-right:25px !important;
               padding-left:8px !important;">
                <aside class="col-md-12">
                    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @foreach (var item in ViewBag.RelatedStores)
                        {
                            <aside class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-bottom:20px;">
                                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px !important;">
                                        <img class="StoreImage" src="@Url.Content(item.Store.ImagePath)" />
                                    </aside>
                                    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center storeTitle">
                                        <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></aside>
                                        <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6 div_title">
                                            <a class="storeTitle" target="_blank" href=@Url.Action("DetailStore", "StoreAdmin", routeValues: new { area = "store", item.Store.Id })>
                                                @item.Store.Title
                                            </a>
                                        </aside>
                                        <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></aside>
                                    </aside>
                                    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_storedescription">
                                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                            <img src="~/Content/Images/Store/CDIcon.png" />
                                            <span class="storedescription">@item.Store.Summery</span>
                                        </aside>
                                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top:5px; margin-bottom:5px;">
                                            <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></aside>
                                            <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                                <aside class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-center pull-left" style="margin:0px !important;padding:0px !important;">
                                                    <div style="width:100%; height:30px; background-color:#bdbec0; color:#101a22; line-height:25px; font-weight:bold;">@item.Store.Price</div>
                                                </aside>
                                                <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center pull-right" style="margin:0px !important;padding:0px !important;">
                                                    <div style="width:100%; height:30px; background-color:#101a22; color:#fff; line-height:25px; font-weight:bold;">مبلغ</div>
                                                </aside>
                                            </aside>
                                            <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></aside>
                                        </aside>
                                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                            <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></aside>
                                            <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                                <img src="~/Content/Images/Store/basket.png" />
                                            </aside>
                                            <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></aside>
                                        </aside>
                                    </aside>
                                </aside>
                            </aside>
                        }
                    </aside>
                </aside>
            </aside>
        </aside>

        <aside>
            <aside id="div_title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ArticleTitle">
                <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 Articleheader" style="padding: 0px !important; padding-left:18PX !important;">ثبت نظر</aside>
                <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 leftsideArticleHeader"></aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group Articlemediacontent">
                <aside class="div_Comments">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.StoreList[0].Comment.StoreId, new { @id = "hide_StoreId" })
                    @Html.HiddenFor(model => model.StoreList[0].Comment.Id, new { @id = "hide_commentId" })
                    @if (Request.IsAuthenticated)
                    {
                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="div_ResponseComment" style="display:none; background-color:#e7e8e9; width:180px;">
                            <span style="color: #0ab491">پاسخ به نظر  </span>
                            <span style="color: #fff" id="lb_UserName"></span>
                        </aside>
                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            @Html.EditorFor(model => model.StoreList[0].Comment.CommentBody, new { htmlAttributes = new { @class = "form-control", @id = "txb_Description" } })
                            @Html.ValidationMessageFor(model => model.StoreList[0].Comment.CommentBody, "", new { @class = "text-danger" })
                        </aside>
                        <script>
                            CKEDITOR.replace('txb_Description', {
                                toolbar: 'MyToolbar',
                                filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
                                filebrowserUploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
                            });
                        </script>
                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <input type="submit" value="ثبت محصول" id="btn_AddComment" name="submitButton" class="pull-left addcomment" />
                        </aside>
                        <aside class="rel">
                            <aside class="div_PropgressComment">
                                <img src="~/Content/Images/Article/wheel.gif" id="ProgreesComment" style="display:none; width:30px; height:30px;" />
                            </aside>
                        </aside>
                        <aside class="div_Alert">
                            <span id="span_Alert" style="text-align:center; color:#fff;"></span>
                        </aside>
                        <script>
                            $("#btn_AddComment").on("click", function () {
                                $("#ProgreesComment").show();
                                if ($("#btn_AddComment").val() == "ثبت نظر") {
                                    var text = CKEDITOR.instances["txb_Description"].getData();
                                    var srtarticleid = $("#hide_StoreId").val();

                                    var data = JSON.stringify({
                                        'storeId': srtarticleid,
                                        'comment': text
                                    });
                                    debugger;
                                    $.ajax({
                                        type: "POST",
                                        url: '@Url.Action("Comments", "StoreAdmin", new { Area = "store" })',
                                        data: data,
                                        cache: false,
                                        UpdateTargetId: "refTable",
                                        contentType: 'application/json; charset=utf-8',
                                        success: function (mess) {
                                            alert(mess);
                                            $("#ProgreesComment").hide();
                                            $("#span_Alert").text(mess);
                                            $(".div_Alert").fadeIn('1000').delay(5000).fadeOut('1000');
                                        }
                                    });
                                }
                                else {
                                    $("#ProgreesComment").show();
                                    var comment = CKEDITOR.instances["txb_Description"].getData();
                                    var srtArticleId = $("#hide_StoreId").val();
                                    var srtCommentId = $("#hide_commentId").val();
                                    var data = JSON.stringify({
                                        'storeId': srtArticleId,
                                        'commentId': srtCommentId,
                                        'answer': comment
                                    });
                                    $.ajax({
                                        type: "POST",
                                        url: '@Url.Action("AnswerComments", "StoreAdmin", new { Area = "store" })',
                                        data: data,
                                        cache: false,
                                        UpdateTargetId: "refTable",
                                        contentType: 'application/json; charset=utf-8',
                                        success: function (mess) {
                                            $("#ProgreesComment").hide();
                                            $("#span_Alert").text(mess);
                                            $(".div_Alert").fadeIn('1000').delay(5000).fadeOut('1000');

                                        }
                                    });
                                }
                            });
                        </script>
                    }
                    else
                    {
                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            @Html.EditorFor(model => model.StoreList[0].Comment.CommentBody, new { htmlAttributes = new { @disabled = "disabled", @class = "form-control", @id = "txb_Description" } })
                            @Html.ValidationMessageFor(model => model.StoreList[0].Comment.CommentBody, "", new { @class = "text-danger" })
                            @Html.ValidationMessageFor(model => model.StoreList[0].Comment.CommentId, "", new { @class = "text-danger" })
                        </aside>
                        <script>
                            CKEDITOR.replace('txb_Description', {
                                toolbar: 'MyToolbar',
                                filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
                                filebrowserUploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
                            });
                        </script>
                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <input type="submit" value="ثبت نظر" id="btn_AddComment" name="submitButton" onclick="loginForAddComment()" disabled class="pull-left addcomment" />
                        </aside>
                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                               style="position:absolute; padding-top:150px; width:95%; background-color:#d1d2d3; opacity:0.5; height:300px;"></aside>
                            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="position:absolute; top:150px;">
                                <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></aside>
                                <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6 div_CommentPermision" style="padding-right:30px !important;">
                                    <span>
                                        لطفا برای ثبت نظر با حساب کاربری خود وارد شوید.
                                    </span>
                                </aside>
                                <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></aside>
                            </aside>
                    }
                    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:20px; "></aside>
                    @if (Model.StoreList[0].StoreComments != null)
                    {
                        if (Model.StoreList[0].StoreComments.Count > 0)
                        {
                            for (var i = 0; i < Model.StoreList[0].StoreComments.Count; i++)
                            {
                                @Html.HiddenFor(model => model.StoreList[0].StoreComments[i].StoreId, new { @id = "hide_ArId" })
                                @Html.HiddenFor(model => model.StoreList[0].StoreComments[i].Id, new { @id = "hide_commentId" })
                                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 align-baseline text-center" style="background-color:#0ab491; width:102px; height:104px;">
                                        <span class="align-middle">
                                            <img src="~/Content/Images/Article/EmptyAvatarComment.png" class="avatarforcomments" />
                                        </span>
                                    </aside>
                                    <aside class="col-lg-9 col-md-9 col-sm-9 col-xs-9 commentdivtext" style="padding-left: 0px !important;
                                         padding-right: 0px !important;">
                                        <span class="UserNameComment">@Model.StoreList[0].StoreComments[i].UserName :</span>
                                        <br />
                                        <aside class="commentBody">
                                            @Html.Raw(Model.StoreList[0].StoreComments[i].CommentBody)
                                        </aside>
                                    </aside>
                                    <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1 comment_dateinfo">
                                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px !important; margin:0px !important">
                                            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <img src="~/Content/Images/Article/calender.png" />
                                                @{ string[] str1 = Model.StoreList[0].StoreComments[i].CreatedDate.ToString().Split('T');
                                                    PersianCalendar p1 = new PersianCalendar();
                                                    DateTime date1 = DateTime.Parse(Model.StoreList[0].StoreComments[i].CreatedDate.ToString());
                                                    int year1 = p1.GetYear(date1);
                                                    int month1 = p1.GetMonth(date1);
                                                    int day1 = p1.GetDayOfMonth(date1);
                                                    var persiandate1 = year1 + "-" + month1 + "-" + day1 + "T" + str1[1];
                                                    string[] datetime1 = persiandate1.Split('T');
                                                }
                                                <span style="text-align:left;color:#8b8c8b; float:left; font-size:10px">
                                                    @datetime1[0]
                                                </span>
                                            </aside>
                                            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:12px;">
                                                <img src="~/Content/Images/Article/clock.png" />
                                                <span style="text-align:left;color:#8b8c8b;float:left; font-size:10px;">
                                                    @datetime1[1]
                                                </span>
                                            </aside>
                                            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <aside style="color:#8b8c8b; padding-top:12px; cursor:pointer;" onclick="ResponseToComment('@Model.StoreList[0].StoreComments[i].Id','@Model.StoreList[0].StoreComments[i].UserName','@Model.StoreList[0].StoreComments[i].StoreId')">
                                                    پاسخ به نظر
                                                </aside>
                                            </aside>
                                        </aside>
                                    </aside>
                                </aside>
                                                    if (Model.StoreList[0].StoreComments[i].Answer != null)
                                                    {
                                                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:5px;">
                                                            <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 align-baseline text-center" style="background-color:#0ab491; width:102px; height:104px;">
                                                                <span class="align-middle">
                                                                    <img src="~/Content/Images/Article/EmptyAvatarComment.png" class="avatarforcomments" />
                                                                </span>
                                                            </aside>
                                                            <aside class="col-lg-9 col-md-9 col-sm-9 col-xs-9 commentdivtext" style="padding-left: 0px !important;
                                         padding-right: 0px !important;">
                                                                <span class="UserNameComment">@Model.StoreList[0].StoreComments[i].UserName :</span>
                                                                <span style="color: #0ab491">پاسخ به نظر  </span>
                                                                <span style="color: #000; font-size:12px;" id="lb_UserName">@Model.StoreList[0].StoreComments[i].AnswerBy</span>
                                                                <br />
                                                                <aside class="commentBody">
                                                                    @Html.Raw(Model.StoreList[0].StoreComments[i].Answer)
                                                                </aside>
                                                            </aside>
                                                            <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1 comment_dateinfo">
                                                                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px !important; margin:0px !important">
                                                                    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                        <img src="~/Content/Images/Article/calender.png" />
                                                                        @{ string[] str2 = Model.StoreList[0].StoreComments[i].UpdateDate.ToString().Split('T');
                                                                            PersianCalendar p2 = new PersianCalendar();
                                                                            DateTime date2 = DateTime.Parse(Model.StoreList[0].StoreComments[i].UpdateDate.ToString());
                                                                            int year2 = p2.GetYear(date1);
                                                                            int month2 = p2.GetMonth(date1);
                                                                            int day2 = p2.GetDayOfMonth(date1);
                                                                            var persiandate2 = year2 + "-" + month2 + "-" + day2 + "T" + str2[1];
                                                                            string[] datetime2 = persiandate1.Split('T');
                                                                        }
                                                                        <span style="text-align:left;color:#8b8c8b; float:left; font-size:10px">
                                                                            @datetime1[0]
                                                                        </span>
                                                                    </aside>
                                                                    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:12px;">
                                                                        <img src="~/Content/Images/Article/clock.png" />
                                                                        <span style="text-align:left;color:#8b8c8b;float:left; font-size:10px;">
                                                                            @datetime1[1]
                                                                        </span>
                                                                    </aside>
                                                                    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                        <aside style="color:#8b8c8b; padding-top:12px; cursor:pointer;">
                                                                            پاسخ به نظر
                                                                        </aside>
                                                                    </aside>
                                                                </aside>
                                                            </aside>
                                                        </aside>
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                </aside>
            </aside>
        </aside>
        <div class="modal fade bs-example-modal-lg" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <ol class="carousel-indicators">
                            @for (int i = 0; i < ViewBag.StoreDetailImageGalary.Count; i++)
                            {
                                if (i == 0)
                                {
                                    <li data-target="#myCarousel" data-slide-to="@i" class="active"></li>
                                }
                                else
                                {
                                    <li data-target="#myCarousel" data-slide-to="@i"></li>
                                }
                            }
                            @{
                                if (Model.StoreList[0].Store.VideoAddress != null)
                                {
                                    if (Model.StoreList[0].Store.VideoAddress != "")
                                    {
                                        var str_Video = Model.StoreList[0].Store.VideoAddress.Split(',');
                                        for (int j = 0; j < str_Video.Length; j++)
                                        {
                                            if (j == 0)
                                            {
                                                <li data-target="#myCarousel" data-slide-to="@j" class="active"></li>
                                            }
                                            else
                                            {
                                                <li data-target="#myCarousel" data-slide-to="@j"></li>
                                            }
                                        }
                                    }
                                }
                            }
                        </ol>
                        <div class="carousel-inner GalaryCarousel">
                            @{var first = false; }
                            @foreach (var item in ViewBag.StoreDetailImageGalary)
                            {
                                if (!first)
                                {
                                    <div class="item active">
                                        <img src="@Url.Content(item.ImagePath)" alt="بزرگترین سایت دانلود رایگان نرم افزار گرافیکی"
                                             class="img-responsive imagecaruselGalary">
                                    </div>
                                    first = true;
                                }
                                else
                                {
                                    <div class="item">
                                        <img src="@Url.Content(item.ImagePath)" alt="بزرگترین سایت دانلود رایگان نرم افزار گرافیکی"
                                             class="img-responsive imagecaruselGalary">
                                    </div>
                                }
                            }
                            @*------------------------------------------------نمایش اسلاید ویدیو--------------------------------------*@
                            @{
                                if (Model.StoreList[0].Store.VideoAddress != null)
                                {
                                    if (Model.StoreList[0].Store.VideoAddress != "")
                                    {
                                        var index = 0;
                                        var str_videotitle = Model.StoreList[index].Store.VideoName.Split(',');
                                        var str_Video = Model.StoreList[0].Store.VideoAddress.Split(',');
                                        foreach (var item in str_Video)
                                        {
                                            if (!first)
                                            {
                                                <aside class="item active">
                                                    <div id="jp_container_slide_@index" class="jp-video jp-video-270p" role="application" aria-label="media player">
                                                        <div class="jp-type-single" style="overflow:hidden;">
                                                            <div id="jquery_jplayer_slide_@index" class="jp-jplayer"></div>
                                                            <div class="jp-gui">
                                                                <div class="jp-video-play">
                                                                    <button class="jp-video-play-icon" role="button" tabindex="0">play</button>
                                                                </div>
                                                                <div class="jp-interface">
                                                                    <div class="jp-progress">
                                                                        <div class="jp-seek-bar">
                                                                            <div class="jp-play-bar"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                                                                    <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                                                                    <div class="jp-controls-holder">
                                                                        <div class="jp-controls">
                                                                            <button class="jp-play" role="button" tabindex="0">play</button>
                                                                            <button class="jp-stop" role="button" tabindex="0">stop</button>
                                                                        </div>
                                                                        <div class="jp-volume-controls">
                                                                            <button class="jp-mute" role="button" tabindex="0">mute</button>
                                                                            <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                                                                            <div class="jp-volume-bar">
                                                                                <div class="jp-volume-bar-value"></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="jp-toggles">
                                                                            <button class="jp-repeat" role="button" tabindex="0">repeat</button>
                                                                            <button class="jp-full-screen" role="button" tabindex="0">full screen</button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="jp-details">
                                                                        <div class="jp-title" aria-label="title">&nbsp;</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="jp-no-solution">
                                                                <span>Update Required</span>
                                                                To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <script type="text/javascript">
                                                        $(document).ready(function () {
                                                            var videopath = "@item";
                                                            var videotitle = "@str_videotitle[index]";
                                                            LoadVideo(videotitle, videopath, jp_container_slide_@index, jquery_jplayer_slide_@index);
                                                        });
                                                    </script>
                                                    index = index + 1;
                                                    }
                                                </aside>
                                                first = true;
                                            }
                                            else
                                            {
                                                <aside class="item">
                                                    <div id="jp_container_slide_@index" class="jp-video jp-video-270p" role="application" aria-label="media player">
                                                        <div class="jp-type-single" style="overflow:hidden;">
                                                            <div id="jquery_jplayer_slide_@index" class="jp-jplayer"></div>
                                                            <div class="jp-gui">
                                                                <div class="jp-video-play">
                                                                    <button class="jp-video-play-icon" role="button" tabindex="0">play</button>
                                                                </div>
                                                                <div class="jp-interface">
                                                                    <div class="jp-progress">
                                                                        <div class="jp-seek-bar">
                                                                            <div class="jp-play-bar"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                                                                    <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                                                                    <div class="jp-controls-holder">
                                                                        <div class="jp-controls">
                                                                            <button class="jp-play" role="button" tabindex="0">play</button>
                                                                            <button class="jp-stop" role="button" tabindex="0">stop</button>
                                                                        </div>
                                                                        <div class="jp-volume-controls">
                                                                            <button class="jp-mute" role="button" tabindex="0">mute</button>
                                                                            <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                                                                            <div class="jp-volume-bar">
                                                                                <div class="jp-volume-bar-value"></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="jp-toggles">
                                                                            <button class="jp-repeat" role="button" tabindex="0">repeat</button>
                                                                            <button class="jp-full-screen" role="button" tabindex="0">full screen</button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="jp-details">
                                                                        <div class="jp-title" aria-label="title">&nbsp;</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="jp-no-solution">
                                                                <span>Update Required</span>
                                                                To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <script type="text/javascript">
                                                        $(document).ready(function () {
                                                            var videopath = "@item";
                                                            var videotitle = "@str_videotitle[index]";
                                                            LoadVideo(videotitle, videopath, jp_container_slide_@index, jquery_jplayer_slide_@index);
                                                        });
                                                    </script>
                                                    index = index + 1;
                                                    }
                                                </aside>
                                                first = true;

                                            }
                                        }
                                    }
                                }
                            }
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <img src="@Url.Content("/Content/Images/All/prev.png")" c class="glyphicon-chevron-left nextcarusel" />
                            <span class="sr-only">قبلی</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <img src="@Url.Content("/Content/Images/All/nect.png")" c class="glyphicon-chevron-right previuscarusel" />
                            <span class="sr-only">بعدی</span>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </aside>
</aside>

<script src="@Url.Content("~/Scripts/JqueryFullScreenGalary/jquery.gallerybox.js")"></script>
<script>

    $('.demo').gallerybox();
</script>