﻿@using CGSilent.Models

@{
    ViewBag.Title = "DetailArticle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>جزییات خبر</h2>

<div>

    @Html.Partial("DetailArticle", new ArticleWithLikeDislike())
    @Html.Partial("_ArticleComments", new ArticleWithLikeDislike())


</div>