﻿@model CGSilent.Models.StoreComplate

@{
    ViewBag.Title = "ویرایش محصول";
    Layout = "~/Areas/Management/Views/Shared/_Management.cshtml";
}

<script src="@Url.Content("~/Scripts/JalaliJSCalendar-1.4/jalali.js")"></script>
<script src="@Url.Content("~/Scripts/JalaliJSCalendar-1.4/calendar.js")"></script>
<script src="@Url.Content("~/Scripts/JalaliJSCalendar-1.4/calendar-setup.js")"></script>
<script src="@Url.Content("~/Scripts/JalaliJSCalendar-1.4/lang/calendar-fa.js")"></script>

<link href="@Url.Content("~/Content/Style/JalaliJSCalendar-1.4/aqua/theme.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Style/JalaliJSCalendar-1.4/styles/calendar-blue.css")" rel="stylesheet" />

<link href="@Url.Content("~/Content/Style/Article.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/ckeditor/ckeditor.js")"></script>
<link href="@Url.Content("~/Content/ckeditor/contents.css")" rel="stylesheet" />

<script>
    $(document).ready(function () {
        $(".radioAccess").click(function () {
            $("#hide_Access").val("1");
        });

        CKEDITOR.instances["txb_Description"].setData($('#txb_Description').val());

         
        $("#ImageUploader").change(function () {
            //تعداد کارکترهای اسم فایل
            var filename = $("#ImageUploader")[0].files[0].name;
            if (filename.length > 100) {
                alert("اسم عکس باید کمتر از 100 کارکتر باشد");
                $("#ImageUploader").val(null);
                return false;
            }
            //فایل نباید از 2مگابایت بزرگتر باشد
            if ($("#ImageUploader")[0].files[0].size > (1024 * 1024 * 2)) {
                alert("حجم عکس خبر باید کمتر از2 مگابایت باشد.");
                $("#ImageUploader").val(null);
                return false;
            }
            var lastdotlocation = filename.lastIndexOf(".");
            var extension = filename.substring(lastdotlocation);
            extension = extension.toLowerCase();
            if (!(extension == ".jpg" || extension == ".png" || extension == ".gif")) {
                alert("فایل انتخابی شما برای عکس معنبر نمی باشد.");
                return false;
            }
        });


        $("#GalaryUploader").change(function () {

            if ($("#GalaryUploader")[0].files.length > 1) {
                for (var i = 0; i < $("#GalaryUploader")[0].files.length; i++) {
                    //تعداد کارکترهای اسم فایل
                    var filename = $("#GalaryUploader")[0].files[i].name;
                    if (filename.length > 100) {
                        alert("اسم عکس انتخابی برای گالری باید کمتر از 100 کارکتر باشد");
                        $("#GalaryUploader").val(null);
                        return false;
                    }
                    //فایل نباید از 2مگابایت بزرگتر باشد
                    if ($("#GalaryUploader")[0].files[i].size > (1024 * 1024 * 2)) {
                        alert("حجم عکس خبر باید کمتر از 2 مگابایت باشد.");
                        $("#GalaryUploader").val(null);
                        return false;
                    }
                    var lastdotlocation = filename.lastIndexOf(".");
                    var extension = filename.substring(lastdotlocation);
                    extension = extension.toLowerCase();
                    if (!(extension == ".jpg" || extension == ".png" || extension == ".gif")) {
                        alert("فایل انتخابی شما برای عکس معنبر نمی باشد.");
                        $("#GalaryUploader").val(null);
                        return false;
                    }
                }
            }
            else {
                //تعداد کارکترهای اسم فایل
                var filename = $("#GalaryUploader")[0].files[0].name;
                if (filename.length > 100) {
                    alert("اسم عکس انتخابی برای گالری باید کمتر از 100 کارکتر باشد");
                    $("#GalaryUploader").val(null);
                    return false;
                }
                if ($("#GalaryUploader")[0].files[0].size > (1024 * 1024 * 2)) {
                    alert("حجم عکس خبر باید کمتر از 2 مگابایت باشد.");
                    $("#GalaryUploader").val(null);
                    return false;
                }
                var lastdotlocation = filename.lastIndexOf(".");
                var extension = filename.substring(lastdotlocation);
                extension = extension.toLowerCase();
                if (!(extension == ".jpg" || extension == ".png" || extension == ".gif")) {
                    alert("فایل انتخابی شما برای عکس معنبر نمی باشد.");
                    $("#GalaryUploader").val(null);
                    return false;
                }
            }
        });

        $("#VideoUploader").change(function () {
            var filelength = $("#VideoUploader")[0].files.length;
            var fileNames = "";
            if (filelength > 1) {
                for (var i = 0; i < filelength; i++) {
                    var lastdotlocation = $("#VideoUploader")[0].files[i].name.lastIndexOf(".");
                    var extension = $("#VideoUploader")[0].files[i].name.substring(lastdotlocation);
                    extension = extension.toLowerCase();
                    if (!(extension == ".mp4")) {
                        alert("ویدیوی آپلودی باید mp4 باشد.");
                        $("#VideoUploader").val(null);
                        return false;
                    }
                    fileNames += $("#VideoUploader")[0].files[i].name + ",";
                }
            }
            else {
                var lastdotlocation = $("#VideoUploader")[0].files[0].name.lastIndexOf(".");
                var extension = $("#VideoUploader")[0].files[0].name.substring(lastdotlocation);
                extension = extension.toLowerCase();
                if (!(extension == ".mp4")) {
                    alert("ویدیوی آپلودی باید mp4 باشد.");
                    $("#VideoUploader").val(null);
                    return false;
                }
                fileNames += $("#VideoUploader")[0].files[0].name;
            }

            if (fileNames.endsWith(',')) {
                fileNames = fileNames.substring(0, fileNames.length - 1);
            }

            $("#lb_VideoNameUploaded").text(fileNames);
            $("#VideoName").val(fileNames);
            $("#VideoUploader").val(null);
        });

        $("#txb_VideoAddress").change(function () {
            var filepath = $("#txb_VideoAddress").val();
            if (filepath.indexOf("&") != -1 ||
                filepath.indexOf('*') != -1 ||
                filepath.indexOf("#") != -1 ||
                filepath.indexOf("$") != -1 ||
                filepath.indexOf("%") != -1) {
                $("#lb_VideoNameUploaded").text(" ");
                $("#txb_VideoAddress").text(" ");
                $("#VideoName").text(" ");
                $("#VideoUploader").val(null);
                $("#txb_VideoAddress").val(null);
                alert("فولدر انتخاب شده کارکترهای غیر مجاز دارد");
                return false;
            }
        });
    });
        
    function CheckInputData() {
         
        if ($("#txb_title").val() == "") {
            alert("لطفا تیتر محصول را وارد نمایید");
            return false;
        }

        if ($("#txb_ArticleNumber").val() == "") {
            alert("لطفا شماره محصول را وارد نمایید");
            return false;
        }
        if ($("#txb_Summery").val() == "") {
            alert("لطفا تعداد دی وی دی محصول را وارد نمایید");
            return false;
        }
        if (CKEDITOR.instances["txb_Description"].getData().length != 0) {
            $('#txb_Description').val(CKEDITOR.instances["txb_Description"].getData());
        }
        else {
            alert("لطفا شرح محصول را وارد نمایید");
            return false;
        }
        var video = $("#lb_VideoNameUploaded").text();
        if (video != "" && $("#txb_VideoAddress").val() == "") {
            alert("لطفا آدرس ویدیو را انتخاب نمایید");
            return false;
        }
         
        $("#btn_EditArticle").hide();
    }

</script>
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <h2 class="TitleStyle">ویرایش خبر</h2>

    using (Html.BeginForm("EditStore", "StoreAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken() 
        @Html.HiddenFor(model => model.store.ImageId, new { @id = "hide_ImageId" })
        @Html.HiddenFor(model => model.store.ImagePath, new { @id = "hide_ImagePath" })

        @Html.HiddenFor(model => model.store.ViewCount, new { @id = "hide_ViewCount" })

        <aside class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat">
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    @Html.Label("تیتر خبر", htmlAttributes: new { @class = "control-label col-md-2 lableStyle" })
                </aside>
                <aside class="col-md-6 col-lg-6 col-sm-10 col-xs-10 pull-right">
                    @Html.EditorFor(model => model.store.Title, new { htmlAttributes = new { @class = "form-control", @id = "txb_title" } })
                    @Html.ValidationMessageFor(model => model.store.Title, "", new { @class = "text-danger" })
                </aside>
                <aside class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat">
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    @Html.Label("شماره محصول", htmlAttributes: new { @class = "control-label col-md-2 lableStyle" })
                </aside>
                <aside class="col-md-6 col-lg-6 col-sm-10 col-xs-10 pull-right">
                    @Html.EditorFor(model => model.store.StoreNumber, new { htmlAttributes = new { @class = "form-control", @id = "txb_ArticleNumber" } })
                    @Html.ValidationMessageFor(model => model.store.StoreNumber, "", new { @class = "text-danger" })
                </aside>
                <aside class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></aside>
            </aside>
            <aside class="form-group">
                @Html.HiddenFor(model => model.store.Id, htmlAttributes: new { @class = "control-label col-md-2 lableStyle" })
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat">
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    @Html.Label("تعداد دی وی دی", htmlAttributes: new { @class = "control-label col-md-2 lableStyle" })
                </aside>
                <aside class="col-md-6 col-lg-6 col-sm-9 col-xs-9 pull-right">
                    @Html.EditorFor(model => model.store.Summery, new { htmlAttributes = new { @class = "form-control", @id = "txb_Summery" } })
                    @Html.ValidationMessageFor(model => model.store.Summery, "", new { @class = "text-danger" })
                </aside>
                <aside class="col-lg-4 col-md-4 col-sm-1 col-xs-1"></aside>
            </aside>
            <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <aside class="col-md-2" style="height:50px;">
                    @Html.Label("شرح محصول", htmlAttributes: new { @class = "control-label col-md-12 lableStyle" })
                </aside>
                <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10"></aside>
            </aside>
            <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat ">
                <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    @Html.EditorFor(model => model.store.Description, new { htmlAttributes = new { @class = "form-control", @id = "txb_Description" } })
                    @Html.ValidationMessageFor(model => model.store.Description, "", new { @class = "text-danger" })
                    <script>
                        CKEDITOR.replace('txb_Description', {
                            filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
                            filebrowserUploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files'
                        });
                    </script>

                </aside>
            </aside>
            
            <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat">
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    @Html.Label("آپلود عکس", htmlAttributes: new { @class = "control-label col-md-12 lableStyle" })
                </aside>
                <aside class="col-md-6 col-lg-6 col-sm-9 col-xs-9">
                    <input type="file" name="ImageUploader" id="ImageUploader" /><br />
                    @*@Html.TextBox("Image", "", new { type = "file" }) <br />*@
                    <img class="img-thumbnail img-responsive" src="@Url.Content(Model.store.ImagePath)" width="150" height="150" />
                </aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-1-12 col-xs-12 div_FileUploader">
                <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat">
                    <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat">
                        <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                            @Html.Label("آپلود عکس گالری", htmlAttributes: new { @class = "control-label col-md-12 pull-right lableStyle" })
                        </aside>
                        <aside class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                            <input type="file" name="GalaryUploader" id="GalaryUploader" multiple />
                        </aside>
                        <aside class="col-md-4 col-lg-4 col-sm-3 col-xs-3">
                            <input id="deleteGalary" name="chb_DeleteGalary" title="حذف تصاویر گالری" value="true" type="checkbox" />
                            <span >حذف تصاویر گالری</span>
                        </aside>
                        <aside class="col-md-3 col-lg-3 col-sm-3 col-xs-3"></aside>
                    </aside>
                    <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                        <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                            @Html.Label("تصاویر گالری", htmlAttributes: new { @class = "control-label col-md-12 lableStyle" })
                        </aside>
                    </aside>
                    <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat">
                        @foreach (var item in Model.Galary)
                        {
                            <img class="img-thumbnail img-responsive" src="@Url.Content(item.ImagePath)" widt width="150" height="150" />
                        }
                    </aside>
                </aside>
                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat div_FileUploader">
                    <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                        @Html.Label("آپلود ویدیو گالری : ", htmlAttributes: new { @class = "control-label col-md-12 pull-right text-right lableStyle" })
                    </aside>
                    <aside class="col-md-6 col-lg-6 col-sm-9 col-xs-9">
                        <aside class="col-lg-4 col-md-4 col-sm-1 col-xs-1">
                            <input type="file" name="VideoUploader" id="VideoUploader" multiple /> @*name="uploadedfile[]"*@
                        </aside>
                        <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                            @Html.HiddenFor(model => model.store.VideoName, new { @class = "col-md-12", @id = "VideoName" })
                        </aside>
                        <aside class="col-lg-4 col-md-4 col-sm-1 col-xs-1">
                            @Html.LabelFor(model => model.store.VideoName, new { @id = "lb_VideoNameUploaded" })
                        </aside>
                        <aside class="col-lg-4 col-md-4 col-sm-1 col-xs-1">
                            @Html.ValidationMessageFor(model => model.store.VideoAddress, "", new { @class = "text-danger" })
                        </aside>
                    </aside>
                    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @Html.TextAreaFor(model => model.store.VideoAddress, htmlAttributes: new { @class = "form-control summerytextbox", @id = "txb_VideoAddress" })
                    </aside>
                    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="text-danger lable_Attention">دقت کنید نام فایل انتخابی فقط باید شامل حروف واعداد باشد.</span>
                    </aside>
                </aside>
            </aside>
             
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat div_FileUploader">
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    @Html.Label("قیمت : ", htmlAttributes: new { @class = "control-label col-md-12 pull-right lableStyle" })
                </aside>
                <aside class="col-md-6 col-lg-6 col-sm-9 col-xs-9">
                    @Html.EditorFor(model => model.store.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.store.Price, "", new { @class = "text-danger" })
                </aside>
                <aside class="col-lg-4 col-md-4 col-sm-1 col-xs-1"></aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat">
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    @Html.Label("تاریخ ایجاد : ", htmlAttributes: new { @class = "control-label col-md-12 pull-right lableStyle" })
                </aside>
                <aside class="col-md-6 col-md-6 col-sm-9 col-sx-9">
                    @Html.TextBoxFor(model => model.store.CreatedDate, htmlAttributes: new { @class = "txbwithblacktext", @id = "txb_datetime" })
                    <input id="btn_datetime" class="btn_Calender" type="button">
                </aside>
                <aside class="col-lg-4 col-md-4 col-sm-1 col-xs-1"></aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat">
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    @Html.Label("تگ", htmlAttributes: new { @class = "control-label col-md-12 pull-right lableStyle" })
                </aside>
                <aside class="col-md-6 col-md-6 col-sm-9 col-sx-9">
                    @Html.EditorFor(model => model.store.Tag, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.store.Tag, "", new { @class = "text-danger" })
                </aside>
                <aside class="col-lg-4 col-md-4 col-sm-1 col-xs-1"></aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat">
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    @Html.Label("کلمات کلیدی", htmlAttributes: new { @class = "control-label col-md-12  pull-right lableStyle" })
                </aside>
                <aside class="col-md-6 col-md-6 col-sm-9 col-sx-9">
                    @Html.EditorFor(model => model.store.KeyWords, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.store.KeyWords, "", new { @class = "text-danger" })
                </aside>
                <aside class="col-lg-4 col-md-4 col-sm-1 col-xs-1"></aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat">
                <aside class="col-md-offset-2 col-md-10">
                    <input type="submit" value="ویرایش" id="btn_EditStore" onclick="return CheckInputData()" class="btn btn-default ButtonStyle" />
                </aside>
            </aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat">
            @Html.ActionLink("بازگشت به لیست ", "Index", new { area = "store" })
        </aside>
        <div style="clear:both;"></div>
        <script>
            Calendar.setup({
                inputField: 'txb_datetime',
                button: 'btn_datetime',
                ifFormat: '%Y/%m/%dT%H:%M:%S',
                dateType: 'miladi'
            });
        </script>
                            }
                        }
                        else
                        {
                            <span> شما مجوز دسترسی به این صفحه را ندارید.</span>
                        }
