﻿
@{
    ViewBag.Title = "فروشگاه";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PagedList.Mvc; @*//import this so we get our HTML Helper*@
@using PagedList; @*//import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@

<link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Style/Article.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Style/Register.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Style/Store.css")" rel="stylesheet" />

<script type="text/javascript">
    function DisableButton(id) {

    }
</script>

<style>
    hr {
        border: 1px solid #e9f4f8;
        margin: 0px;
    }
</style>


@using (Html.BeginForm("Index", "ArticleAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br />
    if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <p class="text-right container">
            @Html.ActionLink("ثبت محصول", "AddStore", "", new { @class = "addicon", title = "ثبت محصول جدید" })
        </p>
        <br />
    }
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <aside id="div_title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 registerTitle">
            <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 registerheader" style="padding: 0px !important; padding-left:18PX !important;">فروشگاه</aside>
            <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 leftsideRegisterHeader"></aside>
        </aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:60px;"></aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px;">
        @foreach (var item in ViewBag.StoreDataForPageingAndView)
        {
            <aside class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-bottom:20px;">
                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px !important;">
                        <img class="StoreImage" src="@Url.Content(item.Store.ImagePath)" />
                    </aside>
                    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center storeTitle">
                        <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></aside>
                        <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6 div_title">
                            <a class="storeTitle" target="_blank" href=@Url.Action("DetailStore", "StoreAdmin", routeValues: new { area = "store", item.Store.Id })>
                                @item.Store.Title
                            </a>
                        </aside>
                        <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></aside>
                    </aside>
                    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_storedescription">
                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <img src="~/Content/Images/Store/CDIcon.png" />
                            <span class="storedescription">@item.Store.Summery</span>
                        </aside>
                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top:5px; margin-bottom:5px;">
                            <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></aside>
                            <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                <aside class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-center pull-left" style="margin:0px !important;padding:0px !important;">
                                    <div style="width:100%; height:30px; background-color:#bdbec0; color:#101a22; line-height:25px; font-weight:bold;">@item.Store.Price</div>
                                </aside>
                                <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center pull-right" style="margin:0px !important;padding:0px !important;">
                                    <div style="width:100%; height:30px; background-color:#101a22; color:#fff; line-height:25px; font-weight:bold;">مبلغ</div>
                                </aside>
                            </aside>
                            <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></aside>
                        </aside>
                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></aside>
                            <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                <img src="~/Content/Images/Store/basket.png" />
                            </aside>
                            <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></aside>
                        </aside>
                    </aside>
                </aside>
            </aside>
        }
    </aside>
}
@Html.PagedListPager((IPagedList)ViewBag.StoreDataForPageingAndView, page => Url.Action("Index", "StoreAdmin", new { page }))

<script>
    $(document).ready(function () {
        var lastpagetext = $(".PagedList-skipToLast a").text();
        if (lastpagetext == "»»") {
            var pagenumber = $(".PagedList-skipToLast a").attr("href");
            pagenumber = pagenumber.substring(7);
            $(".PagedList-skipToLast a").text(pagenumber);
        }
    });
</script>
