﻿@model CGSilent.Models.ApplicationUser

@{
    ViewBag.Title = "حذف";
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
<h2>حذف.</h2>

<h3>آیا از حذف این کاربر اطمینان دارید?</h3>
<div>
    <h4>کاربر.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("بازگشت", "Index")
        </div>
    }
</div>
}
                    else
                    {
<aside class="row">
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <aside style="height:50px; font-size:12px; color:#c0d846; font-weight:bold; text-align:center;">
            صفحه مورد نظر یافت نشد
        </aside>
    </aside>
</aside>
                    }