﻿@model CGSilent.Models.ApplicationUser

@{
    ViewBag.Title = "جزییات";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
<h2>جزییات.</h2>
<div>
    <h4>کاربر</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<h4>نقش های کاربر</h4>
if (ViewBag.RoleNames.Count == 0)
{
    <hr />
    <p>هیچ نقشی برای کاربر یافت نشد</p>
}
<table class="table">

    @foreach (var item in ViewBag.RoleNames)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("بازگشت", "Index")
</p>
}
else
{
    <aside class="row">
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <aside style="height:50px; font-size:12px; color:#c0d846; font-weight:bold; text-align:center;">
                صفحه مورد نظر یافت نشد
            </aside>
        </aside>
    </aside>
}
