﻿@model IEnumerable<CGSilent.Models.ApplicationUser>
@{
    ViewBag.Title = "کاربران";
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <h2>Index</h2>
    <p>
        @Html.ActionLink("افزودن", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
            </th>
        </tr>
        @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("ویرایش", "Edit", new { id = item.Id }) |
            @Html.ActionLink("نمایش", "Details", new { id = item.Id }) |
            @Html.ActionLink("حذف", "Delete", new { id = item.Id })
        </td>
    </tr>
    }
    </table>

}
else
{
    <aside class="row">
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <aside style="height:50px; font-size:12px; color:#c0d846; font-weight:bold; text-align:center;">
                صفحه مورد نظر یافت نشد
            </aside>
        </aside>
    </aside>
}