﻿@model CGSilent.Models.RequestWithSize

<link href="@Url.Content("~/Content/Style/Request.css")" rel="stylesheet" />

<aside class="TitlePage">
    <span class="titleText">سیستم ثبت درخواست محتوا</span>
</aside>

@using (Html.BeginForm("AddRequest", "RequestAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <table class="table box">
        <tbody>
            <tr>
                <td class="col-lg-12 col-md-12 col-sm-12 col-xs-12 eachboxdata" colspan="2">
                    <aside>
                        <h6>ثبت درخواست</h6>
                        <span class="detail">در این قسمت شما میتوانید درخواست خود را ثبت نمایید .</span>
                        <br />
                        <span class="detail redtext">دقت داشته باشید که شما فقط به اندازه مقدار اعتبار نقره ای که دارید میتوانید درخواست خود را ثبت نمایید .</span>
                    </aside>
                </td>
            </tr>
            <tr>
                <td class="col-lg-12 col-md-12 col-sm-12 col-xs-12 eachboxdataAlternative" colspan="2">
                    <aside>
                        <h6>
                            ثبت درخواست بدون VIP
                        </h6>
                        <span class="detail">این امکان برای گروه کاربران عادی میباشد که تمایل دارند بدون ارتقا به VIP درخواست ثبت نماییند.</span>
                        <br />
                        <span class="redtext"> دقت داشته باشید که جهت ثبت درخواست بدون داشتن اکانت VIP میبایست 1 اعتبار نقره ای اضافی جهت ثبت هر درخواست پرداخت نمایید.</span>
                    </aside>
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdata">
                    <aside>
                        <h6>نام درخواست :</h6>
                        <span class="detail">در قسمت نام درخواست فقط نام انگلیسی درخواست را بدون هیچ گونه توضیحاتی اضافه نمایید.</span>
                        <br />
                        <span class="redtext">اگر درخواست شما شامل ورژن خاصی میشود بعد از نام، ورژن مورد نیاز را هم قید نمایید.
                            <br />
                         مانند : Craft Director Studio v12.1.1</span>
                    </aside>
                </td>
                <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdata">
                    @Html.EditorFor(model => model.Requst.RequestName, new { htmlAttributes = new { @class = "form-control", @placeholder = "نام درخواست خود را وارد نمایید" } })
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdataAlternative">
                    <aside>
                        <h6>
                            لینک درخواست :
                        </h6>
                        <span class="detail">در این قسمت، فقط آدرس لینک محتوای مورد نیاز خود را وارد نمایید.</span>
                    </aside>
                </td>
                <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdataAlternative">
                    @Html.EditorFor(model => model.Requst.RequestLink, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdata">
                    <aside>
                        <h6>حجم درخواست :</h6>
                        <span class="detail">در این قسمت باید حجم درخواست خود را وارد نمایید </span>
                        <br />
                        <span class="blutext">نحوه محاسبه حجم برای کسر اعتبار به صورت زیر میباشد : </span>
                        <br />
                        <span class="greentext">کسر یک اعتبار برای حجم درخواست های بین یک گیگابایت تا پنج گیگابایت </span>
                        <br />
                        <span class="greentext">
                            کسر دو اعتبار برای حجم درخواست های بین پنج گیگابایت تا ده گیگابایت
                        </span>
                        <br />
                        <span class="greentext">کسر سه اعتبار برای حجم درخواست های بین ده گیگابایت تا پانزده گیگابایت</span>
                        <br />
                        <span class="greentext">کسر چهار اعتبار برای حجم درخواست های بین پانزده گیگابایت تا بیست گیگابایت</span>
                    </aside>
                </td>
                <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdata">
                    @Html.DropDownListFor(x => x.Requst.Requestsize, Model.RequestSizeList, htmlAttributes: new { @class = "selectyellow" })
                </td>
            </tr>
            <tr>
                <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdataAlternative" colspan="2">
                    <aside>
                        <h6>
                            توجه :
                        </h6>
                        <span class="detail text-danger">1- اگر لینک های مربوط به درخواست شما پیدا نشود، درخواست شما حذف و سپس اعتبار کسر شده به حساب شما اضافه خواهد گردید . </span>
                        <br />
                        <span class="detail text-danger">2- ممکن است بنا به شرایطی بعضی از درخواست ها پس از بررسی نیاز به اعتبار بیشتری داشته باشید که در صورت نیاز به فرد درخواست دهنده اعلام خواهد شد.</span>
                    </aside>
                </td>
            </tr>
            <tr>
                <td class="col-lg-12 col-md-12 col-sm-12 col-xs-12 eachboxdata text-center" colspan="2">
                    <aside>
                        <input type="submit" value="ثبت درخواست" class="btn btn-green" />
                    </aside>
                </td>
            </tr>
        </tbody>
    </table>

}

