﻿<link href="@Url.Content("~/Content/Style/Request.css")" rel="stylesheet" />

<aside class="TitlePage">
    <span class="titleText">لیست درخواست های جایگزینی ثبت شده</span>
</aside>
<table class="table box">
    <tbody>
        <tr>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdata">
                <aside>
                    <h6>نمایش درخواست ها</h6>
                    <span class="detail">
                        در این قسمت شما لیست درخواست های جایگزینی خود را میبینید.
                    </span>
                    <br />
                    <span class="greentext">
                        درخواست هایی که انجام شده اند و درصد پیشرفت آن بروی 100 میباشد به رنگ سبز هستند و گزینه دانلود برای آن درخواست فعال میباشد.
                    </span>
                    <br />
                    <span class="redtext">
                        درخواست هایی که هنوز درصد پیشرفت آنان به 100 نرسیده است، به رنگ قرمز و گزینه دانلود برای آن ها غیر فعال میباشد.
                    </span>
                </aside>
            </td>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdata">
                <input type="text" readonly="readonly" class="inputRequest" value="0" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table table-normal table-hover box eachboxdataAlternative">
                    <tr>
                        <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1 eachboxdata text-center">
                            <span class="detail">تاريخ ثبت</span>
                        </td>
                        <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2 eachboxdata text-center">
                            <span class="detail">شماره درخواست</span>
                        </td>
                        <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2 eachboxdata text-center">
                            <span class="detail">شماره محتوا</span>
                        </td>
                        <td class="col-lg-4 col-md-4 col-sm-4 col-xs-4 eachboxdata text-center">
                            <span class="detail">
                                موضوع محتوا
                            </span>
                        </td>
                        <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1 eachboxdata text-center">
                            <span class="detail">درصد پیشرفت</span>
                        </td>
                        <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center">
                            <span class="detail">لینک های دانلود</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center"></td>
                        <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center"></td>
                        <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center"></td>
                        <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center"></td>
                        <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center"></td>
                        <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>


