﻿
<link href="@Url.Content("~/Content/Style/Request.css")" rel="stylesheet" />

<aside class="TitlePage">
    <span class="titleText">خرید لینک های محتوای سایت</span>
</aside>
<table class="table box">
    <tbody>
        <tr>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdata">
                <aside>
                    <h6>
                        تعداد اعتبار شما
                    </h6>
                    <span class="redtext">مقدار اعتبار مورد نیاز برای هر مطلب 2 عدد میباشد.</span>
                </aside>
            </td>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdata">
                <input type="text" readonly="readonly" class="inputRequest" value="0" />
            </td>
        </tr>
        <tr>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdataAlternative">
                <aside>
                    <h6>شماره مطلب :</h6>
                    <span class="detail">در این قسمت شما باید شماره مطلبی را که تمایل به خرید لبنک هایش را دارید وارد نمایید.</span>
                    <br />
                    <span class="redtext">1- شماره هر مطلب را میتوانید در زیر نام مطلب و در کنار تاریخ انتشار آن مشاهده نمایید.</span>
                    <br />
                    <span class="redtext">2- دقت نمایید فقط شماره مطلب را به صورت اعداد انگلیسی و بدون هرگونه حرف اضافی وارد نمایید، در غیر اینصورت مسئولیت هرگونه مشکلی بر عهده شما میباشد.</span>
                </aside>
            </td>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdataAlternative">
                @Html.Editor(" ", new { htmlAttributes = new { @class = "inputRequest", @placeholder = "شماره آی دی مطلب را وارد نمایید" } })
            </td>
        </tr>
        <tr>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdata" colspan="2">
                <aside>
                    <h6>مشاهده مشخصات فایل درخواستی :</h6>
                    <span class="detail">پس فشردن کلید زیر به صفحه مشخصات محتوای درخواستی منتقل خواهید شد، در صورتی که مشخصات مورد تایید بود، بروی گزینه تایید کلیک نمایید تا لینک های محتوای مورد نظر شما به لیست محتوای خریداری شده اضافه گردد.</span>
                </aside>
            </td>
        </tr>

    </tbody>
</table>

