﻿@model  CGSilent.Models.BuyExtra

<link href="@Url.Content("~/Content/Style/Request.css")" rel="stylesheet" />

<aside class="TitlePage">
    <span class="titleText">خرید اعتبار اضافی</span>
</aside>
<table class="table box">
    <tbody>
        <tr>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdata">
                <aside>
                    <h6>مقدار اعتبار :</h6>
                    <span class="detail">در این قسمت شما تعداد اعتبار خود را برای ثبت مشاهده میکنید.</span>
                </aside>
            </td>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdata">
                <input type="text" readonly="readonly" class="inputRequest" value="0" />
            </td>
        </tr>
        <tr>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdataAlternative">
                <aside>
                    <h6>خرید اعتبار اضافی :</h6>
                    <span class="detail">
                        در این قسمت شما میتوانید اعتبار اضافی برای ثبت درخواست های بیشتر خرید نمایید .
                    </span>
                    <br />
                    <span class="redtext">
                        قیمت خرید هر اعتبار 2000 تومان میباشد.
                    </span>
                </aside>
            </td>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdataAlternative">
                <aside style="margin-right: 10px;">
                    @Html.DropDownListFor(model => model.Text, Model.DropDownListItems, htmlAttributes: new { @class = "selectNormal" })
                    <input type="submit" class="btn btn-green" value="خرید اعتبار اضافی" />
                </aside>
            </td>
        </tr>
    </tbody>
</table>
