﻿@using Microsoft.AspNet.Identity
@using App.Extensions;

<link href="@Url.Content("~/Content/Style/Request.css")" rel="stylesheet" />

<aside class="TitlePage">
    <span class="titleText">مشاهده سوابق پلن های خریداری شده</span>
</aside>
<table class="table box">
    <tbody>
        <tr>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdata">
                <aside>
                    <h6>تاریخ شروع وی آی پی :</h6>
                    <span class="detail">این تاریخ مربوط به آخرین زمانی میباشد که شما اکانت خود را ارتقا داده اید.</span>
                </aside>
            </td>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdata">
                <input type="text" readonly="readonly" class="inputRequest" value="شما تا به حال وی آی پی نبوده اید" />
            </td>
        </tr>
        <tr>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdataAlternative">
                <aside>
                    <h6>تاریخ اتمام وی آی پی :</h6>
                    <span class="detail">این تاریخ مربوط به زمانی میشود که زمان وی آی پی شما به اتمام میرسد.</span>
                </aside>
            </td>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdataAlternative">
                <input type="text" readonly="readonly" class="inputRequest" value="شما تا به حال وی آی پی نبوده اید" />
            </td>
        </tr>
        <tr>
            <td class="col-lg-12 col-md-12 col-sm-12 col-xs-12 eachboxdata" colspan="2">
                <aside>
                    <h6>مشخصات اکانت VIP :</h6>
                    <span class="detail">
                        در این قسمت میتوانید مشخصات اکانت VIP خود را مشاهده نمایید
                        در صورتی که در حین پرداخت به مشکلی خورده باشید، رنگ آن به صورت قرمز ،در صورتی که زمان پلن انتخابی به پایان رسیده باشد، رنگ آن زرد و در صورتی که زمان پلن شما باقیمانده باشد، رنگ ان به صورتسبز خواهد بود.
                    </span>
                </aside>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table table-normal table-hover box eachboxdataAlternative">
                    <tr>
                        <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center">
                            <span class="detail">تاريخ ارتقا</span>
                        </td>
                        <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center">
                            <span class="detail">تاریخ اتمام</span>
                        </td>
                        <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center">
                            <span class="detail">پلن خریداری شده</span>
                        </td>
                        <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center">
                            <span class="detail">
                                قيمت پرداختي - تومان
                            </span>
                        </td>
                        <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center">
                            <span class="detail">کد رهگيري</span>
                        </td>
                        <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center">
                            <span class="detail">وضعیت پرداخت</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center"></td>
                        <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center"></td>
                        <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center"></td>
                        <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center"></td>
                        <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center"></td>
                        <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center"></td>
                    </tr>
                </table>
            </td>
        </tr>
</table>


