﻿<link href="@Url.Content("~/Content/Style/Request.css")" rel="stylesheet" />

<aside class="TitlePage">
    <span class="titleText">جزئیات سوابق اعتبار های خریداری شده</span>
</aside>
<table class="table box">
    <tbody>
        <tr>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdata">
                <aside>
                    <h6>جزئیات سوابق خرید</h6>
                    <span class="detail">
                        در این قسمت شما لیست سوابق خرید خود را به همراه جزئیات مشاهده میکنید. 
                    </span>
                    <br />
                    <span class="greentext">
                        خرید های موفق با پس زمینه سبز مشخص شده اند.
                    </span>
                    <br />
                    <span class="redtext">
                        خرید هایی که به هر دلیل ناموفق بوده اند با رنگ قرمز مشخص شده اند.
                    </span>
                </aside>
            </td>            
        </tr>
        <tr>
            <td >
                <table class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table table-normal table-hover box eachboxdataAlternative">
                    <tr>
                        <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1 eachboxdata text-center">
                            <span class="detail">آی دی</span>
                        </td>
                        <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1 eachboxdata text-center">
                            <span class="detail">تاریخ</span>
                        </td>
                        <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1 eachboxdata text-center">
                            <span class="detail">شماره تراکنش</span>
                        </td>
                        <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2 eachboxdata text-center">
                            <span class="detail">
                                قیمت پرداختی - تومان
                            </span>
                        </td>
                        <td class="col-lg-5 col-md-5 col-sm-5 col-xs-5 eachboxdata text-center">
                            <span class="detail">جزئیات خرید</span>
                        </td>
                        <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1 eachboxdata text-center">
                            <span class="detail">وضعیت پرداخت</span>
                        </td>
                        <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center">
                            <span class="detail">تعداد اعتبار قبل از خرید</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="eachboxdata text-center"></td>
                        <td class="eachboxdata text-center"></td>
                        <td class="eachboxdata text-center"></td>
                        <td class="eachboxdata text-center"></td>
                        <td class="eachboxdata text-center"></td>
                        <td class="eachboxdata text-center"></td>
                        <td class="eachboxdata text-center"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>

