﻿@model CGSilent.Models.LearningArticles

    <link href="@Url.Content("~/Content/Style/Request.css")" rel="stylesheet" />

    <aside class="TitlePage">
        <span class="titleText">خرید لینک های محتوای فارسی</span>
    </aside>

    @using (Html.BeginForm("AddLearnArticles", "RequestAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="table box">
            <tbody>
                <tr>
                    <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdata">
                        <aside>
                            <h6>خرید لینک محتوا</h6>
                            <span class="detail">در این قسمت شما میبایست آموزش مورد نظر خود را از لیست انتخاب نمایید</span>
                            <br />
                            <span class="blutext">س از کلیک بروی گزینه زیر، مشخصات آموزش مانند هزینه، حجم و ... را مشاهده خواهید نمود.</span>
                        </aside>
                    </td>
                    <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdata">
                        @Html.DropDownListFor(x => x.ArticleId, Model.DropDownListItems, htmlAttributes: new { @class = "selectyellow" })
                    </td>
                </tr>
                <tr>
                    <td class="col-lg-12 col-md-12 col-sm-12 col-xs-12 eachboxdata text-center" colspan="2">
                        <aside>
                            <input type="submit" value="مشاهئه ی مشخصات آموزش" class="btn btn-green" />
                        </aside>
                    </td>
                </tr>
            </tbody>
        </table>
    }