﻿<link href="@Url.Content("~/Content/Style/Request.css")" rel="stylesheet" />

<aside class="TitlePage">
    <span class="titleText">ثبت درخواست جایگزینی لینک های حذف شده مطالب</span>
</aside>
<table class="table box">
    <tbody>
        <tr>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdata">
                <aside>
                    <h6>تعداد اعتبار برنزی شما :</h6>
                    <span class="redtext">1- تعداد اعتبار برنزی مورد نیاز برای درخواست جایگزینی هر مطلب 1 عدد میباشد.</span>
                    <br />
                    <span class="redtext">2- اعتبار برنزی قابل خرید نیست و در ابتدای هر روز به مقدار 2 عدد شارژ میگردد.</span>
                </aside>
            </td>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdata">
                <input type="text" readonly="readonly" class="inputRequest" value="0" />
            </td>
        </tr>
        <tr>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdataAlternative">
                <aside>
                    <h6>شماره مطلب :</h6>
                    <span class="detail">
                        در این قسمت شما باید شماره مطلبی را که تمایل به جایگزینی لبنک هایش را دارید وارد نمایید.
                    </span>
                    <br />
                    <span class="redtext">
                        1- شماره هر مطلب را میتوانید در زیر نام مطلب و در کنار تاریخ انتشار آن مشاهده نمایید.
                        <br />
                        2- دقت نمایید فقط شماره مطلب را به صورت اعداد انگلیسی و بدون هرگونه حرف اضافی وارد نمایید، در غیر اینصورت مسئولیت هرگونه مشکلی بر عهده شما میباشد.
                    </span>
                </aside>
            </td>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdataAlternative">
                <aside style="margin-right: 10px;">
                    @Html.Editor(" ", new { htmlAttributes = new { @class = "inputRequest", @placeholder = "شماره آی دی مطلب را وارد نمایید" } })
                </aside>
            </td>
        </tr>
        <tr>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdata" colspan="2">
                <span class="detail">ثبت درخواست جایگزینی :</span>
                <br />
                <span class="detail">پس از فشردن کلید ثبت، در صورتی که درخواست شما قابل انجام باشد به لیست درخواست های جایگزینی اضافه خواهد شد.</span>
            </td>
        </tr>
        <tr>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdataAlternative text-center" colspan="2">
                <input type="submit" class="btn btn-green" value="خرید اعتبار اضافی" />
            </td>
        </tr>
    </tbody>
</table>

