﻿@using Microsoft.AspNet.Identity
@using App.Extensions;

<link href="@Url.Content("~/Content/Style/Request.css")" rel="stylesheet" />

<aside class="TitlePage">
    <span class="titleText">مشخصات کاربری</span>
</aside>
<table class="table box">
    <tbody>
        <tr>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdata">
                <aside>
                    <h6>نام کاربری</h6>
                    <span class="detail">  نام کاربری ثبت شده توسط شما</span>
                </aside>
            </td>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdata">
                <input type="text" readonly="readonly" class="inputRequest" value="@User.Identity.GetUserName()" />
            </td>
        </tr>
        <tr>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdataAlternative">
                <aside>
                    <h6>آدرس ایمیل</h6>
                    <span class="detail">  آدرس ایمیل ثبت شده توسط شما</span>
                </aside>
            </td>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdataAlternative">
                <input type="text" readonly="readonly" class="inputRequest" value="@ViewBag.Email" />
            </td>
        </tr>
        <tr>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdata">
                <aside>
                    <h6>گروه کاربری</h6>
                    <span class="detail">این قسمت گروهی را که در آن هستید نمایش میدهد.</span>
                </aside>
            </td>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdata">
                <input type="text" readonly="readonly" class="inputRequest"  value="@ViewBag.UserRoles" />
            </td>
        </tr>
        <tr>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdataAlternative">
                <aside>
                    <h6>نام کامل :</h6>
                    <span class="detail">نام کامل شما در این قسمت قرار دارد .</span>
                </aside>
            </td>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdataAlternative">
                <input type="text" readonly="readonly" class="inputRequest" value="@User.Identity.GetName()" />
            </td>
        </tr>
        <tr>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdata">
                <aside>
                    <h6>تاریخ عضویت:</h6>
                    <span class="detail">تاریخ عضویت شما در سایت :</span>
                </aside>
            </td>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdata">
                <input type="text" readonly="readonly" class="inputRequest" value="@User.Identity.GetuserCreatedDate()" />
            </td>
        </tr>
    </tbody>
</table>

