﻿
@model IList<CGSilent.Models.RequestModel>

<link href="@Url.Content("~/Content/Style/Request.css")" rel="stylesheet" />
<aside class="TitlePage">
    <span class="titleText">نمایش وضعیت درخواست های ثبت شده</span>
</aside>
<table class="table box">
    <tbody>
        <tr>
            <td class="col-lg-12 col-md-12 col-sm-12 col-xs-12 eachboxdata" colspan="2">
                <aside>
                    <h6>نمایش درخواست ها</h6>
                    <span class="detail">
                        در این قسمت میتوانید وضعیت درخواست های خود را مشاهده نمایید.
                        <br />
                        درصورتی که درخواست شما انجام شده باشد، زمینه آن به رنگ
                        <span class=greentext>سبز</span>
                        و در صورتی که انجام نشده باشد به رنگ
                        <span class=redtext>
                            قرمز
                        </span>
                        خواهد بود.
                    </span>
                </aside>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table table-normal table-hover box eachboxdataAlternative">
                    <tr>
                        <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2 eachboxdata text-center">
                            <span class="detail">تاريخ ثبت</span>
                        </td>
                        <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3 eachboxdata text-center">
                            <span class="detail">موضوع درخواست</span>
                        </td>
                        <td class="col-lg-4 col-md-4 col-sm-4 col-xs-4 eachboxdata text-center">
                            <span class="detail">لینک درخواست</span>
                        </td>
                        <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1 eachboxdata text-center">
                            <span class="detail">
                                حجم
                            </span>
                        </td>
                        <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center">
                            <span class="detail">درصد پیشرفت</span>
                        </td>
                        <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center">
                            <span class="detail">لینک های دانلود</span>
                        </td>
                    </tr>
                    <tr>
                        @foreach (var item in Model)
                        {
                            if (item.Status == "notDone")
                            {
                                <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center bordered">
                                    <span class="redtext"> @item.CreatedDate</span>
                                </td>
                                <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center bordered">
                                    <span class="redtext"> @item.RequestName</span>
                                </td>
                                <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center bordered">
                                    <span class="redtext"> @item.RequestLink</span>
                                </td>
                                <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center bordered">
                                    <span class="redtext"> @item.Requestsize</span>
                                </td>
                                <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center bordered">
                                    <span class="redtext">  %</span>
                                </td>
                                <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center bordered">
                                    <span class="redtext">انجام نشده</span>
                                </td>                                
                            }
                            if (item.Status == "Done")
                            {

                                <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center bordered">
                                    <span class="greentext"> @item.CreatedDate</span>
                                </td>
                                <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center bordered">
                                    <span class="greentext"> @item.RequestName</span>
                                </td>
                                <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center bordered">
                                    <span class="greentext"> @item.RequestLink</span>
                                </td>
                                <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center bordered">
                                    <span class="greentext"> @item.Requestsize</span>
                                </td>
                                <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center bordered">
                                    <span class="greentext">  %</span>
                                </td>
                                <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center bordered">
                                    <span class="greentext">انجام شده</span>
                                </td>
                            }
                            if(item.Status == "Doin")
                            {

                                <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center bordered">
                                    <span class="detail"> @item.CreatedDate</span>
                                </td>
                                <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center bordered">
                                    <span class="detail"> @item.RequestName</span>
                                </td>
                                <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center bordered">
                                    <span class="detail"> @item.RequestLink</span>
                                </td>
                                <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center bordered">
                                    <span class="detail"> @item.Requestsize</span>
                                </td>
                                <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center bordered">
                                    <span class="detail">  %</span>
                                </td>
                                <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center bordered">
                                    <span class="detail">در حال انجام</span>
                                </td>
                            }
                        }

                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
