﻿
<link href="@Url.Content("~/Content/Style/Request.css")" rel="stylesheet" />

<aside class="TitlePage">
    <span class="titleText">لینک های خریداری شده</span>
</aside>
<table class="table box">
    <tbody>
        <tr>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdata">
                <aside>
                    <h6>
                        نمایش سفارشات
                    </h6>
                    <span class="detail">در این قسمت میتوانید لینک محتواهای خریداری شده را مشاهده فرمایید.</span>
                    <br />
                    <span class="detail">
                        محتواهای خریداری شده است سایت به رنگ 
                        <span class="greentext"> سبز</span>
                         و محتواهای فارسی خریداری شده به رنگ
                        </span>
                        <span class="blutext"> آبی</span>
                        <span class="detail" style="font-weight:bold">میباشد.</span>
                </aside>
            </td>
        </tr>
        <tr>
            <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eachboxdata">
                <table class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table table-normal table-hover box eachboxdataAlternative">
                    <tr>
                        <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1 eachboxdata text-center">
                            <span class="detail">تاریخ خرید</span>
                        </td>
                        <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1 eachboxdata text-center">
                            <span class="detail">شماره خرید</span>
                        </td>
                        <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1 eachboxdata text-center">
                            <span class="detail">شماره مطلب</span>
                        </td>
                        <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2 eachboxdata text-center">
                            <span class="detail">
                                هزینه پرداخت شده
                            </span>
                        </td>
                        <td class="col-lg-4 col-md-4 col-lg-4 col-xs-4 eachboxdata text-center">
                            <span class="detail">اسم آموزش خریداری شده</span>
                        </td>
                        <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2 eachboxdata text-center">
                            <span class="detail">لینک های دانلود</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center"></td>
                        <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center"></td>
                        <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center"></td>
                        <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center"></td>
                        <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center"></td>
                        <td class="col-lg-2 col-md-2 col-lg-1 col-sm-2 col-xs-2 eachboxdata text-center"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>

