﻿
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")"></script>
     
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-rtl.min.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/Style/HoverMenu.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Style/Master.css")" rel="stylesheet" /> 
    <title>@ViewBag.Title - بزرگترین سایت گرافیک یارانه ای</title>

</head>
<body dir="rtl">
    <aside class="row">
        <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></aside>
        <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <table dir="rtl" class="tab-content" cellpadding="0" style="width:100%;">
                <tr>
                    <td style="height:50px;"> </td>
                    <td rowspan="2">
                        <aside class="pull-left">
                            <img src="~/Content/Images/Master/header.png" />
                        </aside>
                    </td>
                </tr>
                <tr>
                    <td style="height:50px;">
                        <aside class="navbar navbar-default ">
                            <aside class="container-fluid">
                                <aside class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed menuButton" data-toggle="collapse" data-target="#myMenu" aria-expanded="false">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </aside>
                                <aside class="navbar-collapse collapse" id="myMenu">
                                    <ul class="nav navbar-nav pull-right second">
                                        <li class="nav-item">
                                            <a tabindex="-1" href="@Url.Content("~/Home/Index")">صفحه ی اصلی</a>
                                        </li>
                                        <li class="nav-item">
                                            <a tabindex="-1" href="@Url.Content("~/Home/Index")">اکانت vip</a>
                                        <li class="nav-item">
                                            <a tabindex="-1" href="@Url.Content("~/Home/Index")">فروشگاه</a>
                                        <li class="nav-item">
                                            <a tabindex="-1" href="@Url.Content("~/Home/Index")">ثبت درخواست</a>
                                        <li class="nav-item">
                                            <a tabindex="-1" href="@Url.Content("~/Home/Index")">امور رندرینگ</a>
                                        </li>
                                        <li class="nav-item">
                                            <a tabindex="-1" href="@Url.Content("~/Home/Index")">انجام پروژه</a>
                                        </li>
                                        <li class="nav-item">
                                            <a tabindex="-1" href="@Url.Content("~/Home/About")">درباره ما</a>
                                        </li>
                                        <li class="nav-item">
                                            <a tabindex="-1" href="@Url.Content("~/Home/Contact")">تماس با ما</a>
                                        </li>
                                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                        {
                                            <li class="dropdown-submenu" style="width:100px;">
                                                <a class="btn mybtn dropdown-toggle dropdown-custom btn_TextAlign" data-toggle="dropdown" aria-expanded="true" href="../Home" tabindex="-1" id="Management">
                                                    مدیریت
                                                    <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu Management" aria-labelledby="Management" o>
                                                    <li>
                                                        <a tabindex="-1" style="width: 50px;text-align: right;" href="@Url.Content("~/Article/ArticleAdmin/Index")">اخبار</a>
                                                    </li>
                                                    <li><a tabindex="-1" href="@Url.Content("~/Article/Group/Index")">درج گروه خبری</a></li>
                                                    <li><a tabindex="-1" href="@Url.Content("~/RolesAdmin/Index")">مدیریت نقشها</a></li>
                                                    <li><a tabindex="-1" href="@Url.Content("~/UsersAdmin/Index")">مدیریت کاربران</a></li>
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </aside>
                            </aside>
                        </aside>
                    </td>
                </tr>
            </table>
        </aside>
        <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></aside>
    </aside>
    <aside class="row">
        <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></aside>
        <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 spliter"></aside>
        <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="container body-content">
            @RenderBody()
            <aside class="row">
                <aside class="sol-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <footer>
                        <aside class="footerText">Copyright@2014 CGSilent.ir All Rights Reserved</aside>
                    </footer>
                </aside>
            </aside>  
        </div>
    </aside>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
            $('.dropdown-submenu a.test').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });
    </script>
</body>
</html>
