﻿@model IEnumerable<CGSilent.Models.BasketModel>

@{
    ViewBag.Title = "BasketManagement";
    Layout = "~/Areas/Management/Views/Shared/_Management.cshtml";
}

<script>
    $(document).ready(function () {
        $("#ddl_SelectBy").change(function () {
            $("#Progrees").show();
            var status = $("#ddl_SelectBy option:selected").val();
            $.ajax({
                url: '@Url.Action("LoadByStatus", "Admin", new { area = "Management" })',
                type: "Post",
                datatype: "json",
                data: { status: status },
                success: function (data) {
                    $("#Progrees").hide();
                }
            });
        });
    });


    function ChangeStatus(status) {
        $("#hide_status").val(status);
    }
</script>

@using (Html.BeginForm("EditBasket", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4 class="TitleStyle">گزارش درخواست ها</h4>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom:4px;">
        <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <aside class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                تعداد درخواست های جدید
            </aside>
            <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <input type="text" class="form-control" readonly value="@ViewBag.NewBasket" />
            </aside>
            <aside class="col-lg-5 col-md-5 col-sm-5 col-xs-5"></aside>
        </aside>
        <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <aside class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                تعداد درخواست های انجام شده
            </aside>
            <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <input type="text" class="form-control" readonly value="@ViewBag.Done" />
            </aside>
            <aside class="col-lg-5 col-md-5 col-sm-5 col-xs-5"></aside>
        </aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <aside class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                تعداد درخواست های انجام نشده
            </aside>
            <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <input type="text" class="form-control" readonly value="@ViewBag.NotDone" />
            </aside>
            <aside class="col-lg-5 col-md-5 col-sm-5 col-xs-5"></aside>
        </aside>
        <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <aside class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                تعداد کل درخواست ها
            </aside>
            <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <input type="text" class="form-control" readonly value="@ViewBag.All" />
            </aside>
            <aside class="col-lg-5 col-md-5 col-sm-5 col-xs-5"></aside>
        </aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4 class="TitleStyle">گزارش درخواست ها</h4>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            @Html.DropDownList("View", (IEnumerable<SelectListItem>)ViewBag.DropDownItems, htmlAttributes: new { @class = "form-control", @id = "ddl_SelectBy" })
        </aside>
    </aside>
    <aside class="rel">
        <aside class="div_Propgress">
            <img src="~/Content/Images/Article/wheel.gif" id="Progrees"
                 style="display:none; width:30px; height:30px; right: 200px; top: -10px; position: absolute;" />
        </aside>
    </aside>
    <table class="table">
        <tr>
            <th>
                ردیف
            </th>
            <th>
                کاربر درخواست کننده
            </th>
            <th>
                تاریخ درخواست
            </th>

            <th>
                لینک درخواست
            </th>
            <th>
                انجام شده
            </th>
            <th>
                انجام نشده
            </th>
            <th>
                در حال انجام
            </th>
            <th>
                ویرایش
            </th>
        </tr>

        @{ var index = 1;}
        @foreach (var item in Model)
        {
            @Html.HiddenFor(model => item.Status, new { id = "hide_" + item.Id })
            <tr>
                <td>
                    @index
                </td>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.CreatedDate
                </td>
                <td>
                    @for (int i = 0; i < item.ArticleTitle.Count(); i++)
                    {
                        var articleid = item.ArticleId[i];
                        <a class="btn-link" target="_blank" href=@Url.Action("DetailArticle", "ArticleAdmin", routeValues: new { area = "Article", id=articleid })>
                            @item.ArticleTitle[i]
                        </a>
                        <br />
                    }
                </td>
                <td>
                    @Html.HiddenFor(model => item.Status, new { id = "hide_status" })
                    @if (item.Status == "done")
                    {
                        <input type="radio" name="Status" onchange="ChangeStatus('done')" id="StatusDon" class="checkbox-inline" value="@item.Status"
                               title="@item.Status" checked />
                    }
                    else
                    {
                        <input type="radio" name="Status" onchange="ChangeStatus('done')" id="StatusDon" class="checkbox-inline" value="@item.Status"
                               title="@item.Status" />
                    }
                    @Html.Label("انجام شده", new { @class = "control-label" })
                </td>
                <td>
                    @if (item.Status == "notdone")
                    {
                        <input type="radio" name="Status" onchange="ChangeStatus('notdone')" class="checkbox-inline" value="@item.Status"
                               title="@item.Status" checked />
                    }
                    else
                    {
                        <input type="radio" name="Status" onchange="ChangeStatus('notdone')" class="checkbox-inline" value="@item.Status"
                               title="@item.Status" />
                    }
                    @Html.Label("انجام نشده", new { @class = "control -label" })
                </td>
                <td>
                    @if (item.Status == "doing")
                    {
                        <input type="radio" name="Status" onchange="ChangeStatus('doing')" class="checkbox-inline" value="@item.Status"
                               title="@item.Status" checked />
                    }
                    else
                    {
                        <input type="radio" name="Status" onchange="ChangeStatus('doing')" class="checkbox-inline" value="@item.Status"
                               title="@item.Status" />
                    }
                    @Html.Label("در حال انجام", new { @class = "control-label" })
                </td>
                <td>
                    <a class="btn btn-link" id="btn_@item.Id" onclick="EditData(this.id)">ویرایش</a>
                    <script>
                        function EditData(buttonid) {
                            $("#Progrees").show();
                            var id = buttonid;
                            id = id.substring(4);
                            var status = $("#hide_status").val();
                            $.ajax({
                                url: '@Url.Action("EditBasket", "Admin", new { area = "Management" })',
                                type: "Post",
                                datatype: "json",
                                data: { id: id, status: status },
                                success: function (data) {
                                    $("#Progrees").hide();
                                    alert("عملیات ویرایش با موفقیت انجام شد. ");
                                }
                            });
                        }
                    </script>
                </td>
            </tr>
            index = index + 1;
        }
    </table>
            }