﻿
@using PagedList.Mvc; @*//import this so we get our HTML Helper*@
@using PagedList; @*//import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@
@using System.Globalization;

<link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("DeletedArticles", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="div_Content">
        @Html.AntiForgeryToken()
        @foreach (var item in ViewBag.ArticleDataForPageingAndView)
        {
            if (item != null)
            {
                if (item.ArticleGroupsData.Count > 0)
                {
                    var insert = false;
                    var groups = "";
                    foreach (var group in item.ArticleGroupsData)
                    {
                        if (group.GroupId.ToString() != "5a526a33e290b819dc102a35" && group.GroupId.ToString() != "5a87bcf3e290b822a801fe91")
                        {
                            insert = true;
                            foreach (var g in ViewBag.AllData.GroupList)
                            {
                                if (g.Id == group.GroupId)
                                {
                                    groups += g.Name + " , ";
                                }
                            }
                        }
                    }
                    if (groups.Length > 3)
                    {
                        groups = groups.Substring(0, groups.Length - 3);
                    }
                    if (insert)
                    {
                        if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {

                        }
                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ArticleHeader">
                            <a class="btn-link ArticleTitle" target="_blank" href=@Url.Action("DetailArticle", "ArticleAdmin", routeValues: new { area = "Article", item.Article.Id })>
                                @item.Article.Title
                            </a>
                        </aside>
                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ArticleBody ">
                            <aside class="ArticleTitleBar">
                                <aside class="col-lg-2 col-md-2 col-sm-3 col-xs-3 Icon" style="padding-left:20px !important;">
                                    <img src="~/Content/Images/All/Author.png" class="ImageIcon" style="padding-left:10px;" />
                                    @item.Article.Author
                                </aside>
                                <aside class="col-lg-2 col-md-2 col-sm-3 col-xs-3 Icon" style="padding-left:20px !important;">
                                    <img src="~/Content/Images/All/Clock.png" class="ImageIcon" style="padding-left:10px;" />
                                    @{
                                        string[] str = item.Article.CreatedDate.Split('T');
                                        PersianCalendar p = new PersianCalendar();
                                        DateTime date = DateTime.Parse(item.Article.CreatedDate);
                                        int year = p.GetYear(date);
                                        int month = p.GetMonth(date);
                                        int day = p.GetDayOfMonth(date);
                                        var persiandate = year + "-" + month + "-" + day + "T" + str[1];
                                        string[] datetime = persiandate.Split('T');

                                        <span>@datetime[1]</span>
                                    }
                                </aside>
                                <aside class="col-lg-2 col-md-2 col-sm-3 col-xs-3 Icon" style="padding-left:20px !important;">
                                    <img src="~/Content/Images/All/Calender.png" class="ImageIcon" style="padding-left:10px;" />
                                    <span>@datetime[0]</span>
                                </aside>
                                <aside class="col-lg-2 col-md-2 col-sm-3 col-xs-3 Icon" style="padding-left:20px !important;">
                                    <img src="~/Content/Images/All/Sharp.png" class="ImageIcon" style="padding-left:10px;" />
                                    @item.Article.ArticleNumber
                                </aside>
                            </aside>
                            <aside style="height:auto; overflow:auto;">
                                <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pull-right" style="height:auto;"></aside>
                                <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="height:auto;">
                                    <img class="img-responsive ArticleImage" src="@Url.Content(item.Article.ImagePath)" />
                                    <aside class="row summery" id="div_Summery">
                                        @item.Article.Summery
                                    </aside>
                                </aside>
                                <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pull-left"></aside>
                            </aside>
                            <aside class="groupdata" id="div_Group">
                                <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <span class="grouptitle">دسته بندی : </span>
                                    <span class="groups">
                                        <span>@groups</span>
                                    </span>
                                </aside>
                                <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <aside id="div_ArticleActivities" class="position-relative">
                                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divwithnopadding articleViewArticle">
                                            <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-left Detail">
                                                <a class="btn-link" target="_blank" href=@Url.Action("DetailArticle", "ArticleAdmin", routeValues: new { area = "Article", item.Article.Id })>
                                                    <div style="width:100%;">
                                                        ادامه مطلب
                                                    </div>
                                                </a>
                                            </aside>
                                            <aside class="col-lg-8 col-md-8 col-sm-9 col-xs-9 pull-left Activities">
                                                <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-right">
                                                    <img src="~/Content/Images/All/Comments.png" />
                                                    @item.ArticleComments.Count
                                                </aside>
                                                <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-right">
                                                    <img src="~/Content/Images/All/ViewCount.png" />
                                                    @item.Article.ViewCount
                                                </aside>
                                                <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-right">
                                                    <img src="~/Content/Images/All/dislike.png" />
                                                    @item.LikeDislike.DislikeCount
                                                </aside>
                                                <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-right">
                                                    <img src="~/Content/Images/All/Like.png" class="likeimage" />
                                                    @item.LikeDislike.LikeCount
                                                </aside>
                                            </aside>
                                            <aside class="col-lg-2 col-md-2 hidden-sm hidden-xs pull-left"></aside>
                                        </aside>
                                    </aside>
                                </aside>
                            </aside>
                        </aside>
                    }
                }
            }
        }
    </aside>


    <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
    @Html.PagedListPager((IPagedList)ViewBag.ArticleDataForPageingAndView, page => Url.Action("DeletedArticles", "Admin", new { page }))
    
}
<script>
    $(document).ready(function () {
        var lastpagetext = $(".PagedList-skipToLast a").text();
        if (lastpagetext == "»»") {
            var pagenumber = $(".PagedList-skipToLast a").attr("href");
            var indexofpage = pagenumber.indexOf("?page=");
            pagenumber = pagenumber.substring(indexofpage + 6);
            $(".PagedList-skipToLast a").text(pagenumber);
        }
    });
</script>