﻿@model CGSilent.Models.VIPPlan

@{
    ViewBag.Title = "EditVIPPlan";
    Layout = "~/Areas/Management/Views/Shared/_Management.cshtml";
} 

<h2>EditVIPPlan</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    نام :
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    @Html.EditorFor(model => model.Caption, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Caption, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    قیمت (ریال) :
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    تعداد روزهای وی آی پی :
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    @Html.EditorFor(model => model.DateLong, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateLong, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    غیر فعال :
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    @Html.CheckBoxFor(model => model.IsDeleted, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IsDeleted, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                تاریخ ایجاد :
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                @Html.HiddenFor(Model => Model.CreatedDate)
                <span>
                    @Model.CreatedDate
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ذخیره" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("بازگشت به مدیریت", "Index")
</div>
