﻿@model CGSilent.Models.ArticleComment
<link href="./Content/Style/SiteManagement.css" rel="stylesheet" />
@{
    ViewBag.Title = "ویرایش نظرات";
    Layout = "~/Areas/Management/Views/Shared/_Management.cshtml";
}

<script src="@Url.Content("~/Content/ckeditor/ckeditor.js")"></script>
<link href="@Url.Content("~/Content/ckeditor/contents.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Style/Article.css")" rel="stylesheet" />
<script>
    $(document).ready(function () {
        CKEDITOR.instances["txb_Description"].setData($('#txb_Description').val());
    });
    function CheckInputData() {
        $('#txb_Description').val(CKEDITOR.instances["txb_Description"].getData());
    }
</script>

@using (Html.BeginForm("EditComment", "Admin", routeValues: new { area = "Management" }, method: FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <br />
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10 col-md-10 scol-sm-12 col-xs-12">
                @Model.UserName
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">                
                @Html.LabelFor(model => model.CommentBody, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10 col-md-10 scol-sm-12 col-xs-12">
                @Html.Raw(Model.CommentBody)
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                @Html.LabelFor(model => model.AnswerBy, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10 col-md-10 scol-sm-12 col-xs-12">
                @Model.AnswerBy
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                @Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10 col-md-10 scol-sm-12 col-xs-12">
                @Model.CreatedDate
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                @Html.LabelFor(model => model.UpdateDate, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10 col-md-10 scol-sm-12 col-xs-12">
                @Model.UpdateDate
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10 col-md-10 scol-sm-12 col-xs-12">
                @Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @class = "form-control", @id = "txb_Description" } })
                @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
                <script>
                    CKEDITOR.replace('txb_Description', {
                        filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
                        filebrowserUploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files'
                    });
                </script>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                @Html.LabelFor(model => model.IsPublished, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10 col-md-10 scol-sm-12 col-xs-12">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsPublished)
                    @Html.ValidationMessageFor(model => model.IsPublished, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ذخیره" class="ButtonStyle" onclick="return CheckInputData()" />
            </div>
        </div>
    </div>
}

<div>
    <a class="CommentLink" target="_blank" href=@Url.Action("ManageComment", "Admin", routeValues: new { area = "Management"})>
        بازگشت
    </a>
</div>

