﻿@model CGSilent.Models.Articles

@{
    ViewBag.Title = "جستجوی خبر";
    Layout = "~/Areas/Management/Views/Shared/_Management.cshtml";
}

@using (Html.BeginForm("FindArticleByArticleNumber", "Admin", FormMethod.Get, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divContent">
        <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1 lableStyle">
            @Html.DisplayNameFor(model => model.ArticleNumber)
        </aside>
        <aside class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
            @Html.EditorFor(model => model.ArticleNumber, new { htmlAttributes = new { @class = "form-control" } })
        </aside>
        <aside class="col-lg-3 col-md-3 col-xs-3c col-sm-3">
            <input type="submit" value="جستجو" id="btn_Find" class="ButtonStyle" />
        </aside>
        <aside class="col-lg-5 col-md-5 col-sm-5 col-xs-5"></aside>
    </aside>
    <br />
}
<aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divContent">
    <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1 lableStyle">
        @Html.DisplayNameFor(model => model.Title)
    </aside>
    <aside class="col-lg-7 col-md-7 col-xs-7 col-sm-7">
        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
    </aside>
    <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <aside class="ButtonStyle">
            @Html.ActionLink("ویرایش", "EditArticle", new { id = Model != null ? Model.Id.ToString() : "000000000000000000000000" })
        </aside>
    </aside>
    <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <aside class="ButtonStyle">
            @Html.ActionLink("حذف", "DeleteArticle", new { id = Model != null ? Model.Id.ToString() : "000000000000000000000000" })
        </aside>
    </aside>
</aside>
