﻿@model CGSilent.Models.GroupForDropDown

@{
    ViewBag.Title = "مدیریت گروه های خبری";
    Layout = "~/Areas/Management/Views/Shared/_Management.cshtml";
}

@using (Html.BeginForm("AddParentGroup", "Admin", FormMethod.Post, htmlAttributes: new { @class = "form_1", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h4 class="TitleStyle">گروه های اصلی</h4>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group divContent">
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right">
            @Html.Label("نمایش :", htmlAttributes: new { @class = "text-right largetextbox pull-right lableStyle" })
        </aside>
        <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            @Html.DropDownListFor(model => model.Group.Id, Model.Groups, htmlAttributes: new { @class = "form-control", @id = "ddl_ParentGroup" })
        </aside>
        <aside class="col-lg-7 col-md-7 col-sm-7 col-xs-7"></aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            @Html.Label("ثبت گروه جدید : ", htmlAttributes: new { @class = "control-label lableStyle" })
        </aside>
        <aside class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
            @Html.EditorFor(model => model.Group.Name, new { htmlAttributes = new { @class = "form-control TextboxStyle" } })
            @Html.ValidationMessageFor(model => model.Group.Name, "", new { @class = "text-danger" })
        </aside>
        <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></aside>
        <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
            @Html.Label("آپلود عکس : ", htmlAttributes: new { @class = "control-label lableStyle" })

        </aside>
        <aside class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
            <input type="file" name="ImageUploader" id="ImageUploader" /><br />
            @*@Html.TextBox("Image", "", new { type = "file" })*@
        </aside>
    </aside>
    <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <input type="submit" id="btn_InsertParent" value="ثبت" class="ButtonStyle" />
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
        <hr />
    </aside>
}
@using (Html.BeginForm("EditParentGroup", "Admin", FormMethod.Post, htmlAttributes: new { @class = "Form_2", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group divContent">
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                @Html.Label("اصلاح گروه با نام :", htmlAttributes: new { @class = "text-right largetextbox pull-right lableStyle" })
            </aside>
            <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                @Html.DropDownListFor(model => model.Group.Id, Model.Groups, htmlAttributes: new { @class = "form-control", @id = "ddl_Group" })
            </aside>
            <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></aside>
            <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                @Html.Label("اصلاح به : ", htmlAttributes: new { @class = "control-label lableStyle" })
            </aside>
            <aside class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                @Html.EditorFor(model => model.Group.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Group.Name, "", new { @class = "text-danger" })
            </aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    @Html.Label("آپلود عکس : ", htmlAttributes: new { @class = "control-label lableStyle" })
                </aside>
                <aside class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <input type="file" name="ImageUploader1" id="ImageUploader1" /><br />
                    @*@Html.TextBox("Image", "", new { type = "file" })*@
                </aside>
                <aside class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    @Html.HiddenFor(model => model.Group.ImageName)
                </aside>
                <aside class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                    <input id="chb_DeleteParentIcon" name="chb_DeleteParentIcon" title="حذف تصویر" value="true" type="checkbox" />
                    <span>حذف تصویر </span>
                </aside>
            </aside>
            @Html.HiddenFor(model => model.Group.ImageName, null)
            <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <input type="submit" id="btn_InsertParent" value="اصلاح" class="ButtonStyle" />
            </aside>
        </aside>
    </aside>
    <asied class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <hr />
    </asied>
}
<br />
@using (Html.BeginForm("DeleteParentGroup", "Admin", FormMethod.Post, htmlAttributes: new { @class = "Form_3", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <script>
        $(document).ready(function () {
            //$("#ddl_GroupForOrder").change(function () {
            //    var gID = $('#ddl_GroupForOrder option:selected').val();
            //});

            $('#btn_increase').click(function () {
                $("#hide_ChangeOrder").val("increase");
            });

            $('#btn_decrease').click(function () {
                $("#hide_ChangeOrder").val("decrease");
            });

        });
    </script>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group divContent">
        @Html.HiddenFor(model => model.Group.GroupOrder)
        @Html.HiddenFor(model => model.Group.Name)
        @Html.HiddenFor(model => model.ChangeOrder, new { @id = "hide_ChangeOrder" })
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
            @Html.Label("حذف و انتقال گروه ها :", htmlAttributes: new { @class = "text-right largetextbox pull-right lableStyle" })
        </aside>
        <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            @Html.DropDownListFor(model => model.Group.Id, Model.Groups, htmlAttributes: new { @class = "form-control", @id = "ddl_GroupForOrder" })
        </aside>
        <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
            <input id="btn_decrease" name="btn_decrease" class="DecreaseOrder" value="up" type="submit" />
            <input id="btn_increase" name="btn_increase" class="IncreaseOrder" value="down" type="submit" />
        </aside>
        <aside class="col-lg-7 col-md-7 col-sm-7 col-xs-7"></aside>
    </aside>
    <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 form-group">
        <input type="submit" id="btn_InsertParent" value="حذف" name="Delete" class="ButtonStyle" />
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr />
    </aside>
}
@using (Html.BeginForm("AddGroup", "Admin", FormMethod.Post, htmlAttributes: new { @class = "Form_4", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ddl_ParentGroupData").change(function () {
                var pID = $('#ddl_ParentGroupData option:selected').val();
                $.getJSON("../Admin/GETGroupsChild", { parentId: pID },
                    function (data) {
                        var select = $("#ddl_ChildOfParentGroup");
                        var select2 = $("#ddl_childGroup2");
                        var select3 = $("#ddl_childGroup3");
                        select.empty();
                        $.each(data, function (index, itemData) {
                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));

                        });
                    });
            });
        });

    </script>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
        <h4 class="TitleStyle">زیر گروه ها</h4>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
        <h5 class="SubTitleStyle">ثبت زیر گروه</h5>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group divContent">
        @Html.HiddenFor(model => model.Group.GroupOrder)
        @Html.HiddenFor(model => model.Group.Id, new { @id = "hide_SelectedId" })
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
                @Html.Label(" از گروه اصلی : ", htmlAttributes: new { @class = "control-label lableStyle" })
            </aside>
            <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                @Html.DropDownListFor(model => model.Group.ParentId, Model.Groups, htmlAttributes: new { @class = "form-control", @id = "ddl_ParentGroupData" })
            </aside>
            <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></aside>
            <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                @Html.Label("نمایش زیر گروه ها  : ", htmlAttributes: new { @class = "control-label lableStyle" })
            </aside>
            <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                @Html.DropDownListFor(model => model.Group.Id, Model.Groups, htmlAttributes: new { @class = "form-control", @id = "ddl_ChildOfParentGroup" })
            </aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                @Html.Label(" ثبت  زیر گروه جدید با نام : ", htmlAttributes: new { @class = "control-label lableStyle" })
            </aside>
            <aside class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                @Html.EditorFor(model => model.Group.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Group.Name, "", new { @class = "text-danger" })
            </aside>
            <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></aside>
            <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                @Html.Label("آپلود عکس : ", htmlAttributes: new { @class = "control-label lableStyle" })
            </aside>
            <aside class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                <input type="file" name="ImageUploader2" id="ImageUploader2" /><br />
                @*@Html.TextBox("Image", "", new { type = "file" })*@
            </aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <input type="submit" id="btn_InsertParent" value="ثبت" class="ButtonStyle" />
        </aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr />
    </aside>
}

@using (Html.BeginForm("EditGroup", "Admin", FormMethod.Post, htmlAttributes: new { @class = "Form_5", enctype = "multipart/form-data" }))
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ddl_ParentGroupDataForUpdate").change(function () {
                var pID = $('#ddl_ParentGroupDataForUpdate option:selected').val();
                $.getJSON("../Admin/GETGroupsChild", { parentId: pID },
                    function (data) {
                        var select = $("#ddl_childGroupForUpdate");
                        select.empty();
                        $.each(data, function (index, itemData) {
                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                    });
            });
        });
    </script>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
        <h5 class="SubTitleStyle">اصلاح زیر گروه ها</h5>
    </aside>
    @Html.HiddenFor(model => model.Group.GroupOrder)
    @Html.HiddenFor(model => model.Group.Id, new { @id = "hide_SelectedIdForUpdate" })
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            @Html.Label("از گروه اصلی : ", htmlAttributes: new { @class = "control-label lableStyle" })
        </aside>
        <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            @Html.DropDownListFor(model => model.Group.ParentId, Model.Groups, htmlAttributes: new { @class = "form-control", @id = "ddl_ParentGroupDataForUpdate" })
        </aside>
        <aside class="col-lg-7 col-md-7 col-sm-7 col-xs-7"></aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right">
            @Html.Label("اصلاح زیر گروه با نام :", htmlAttributes: new { @class = "text-right largetextbox pull-right lableStyle" })
        </aside>
        <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            @Html.DropDownListFor(model => model.Group.Id, Model.Groups, htmlAttributes: new { @class = "form-control", @id = "ddl_childGroupForUpdate" })
        </aside>
        <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></aside>
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            @Html.Label(" اصلاح به : ", htmlAttributes: new { @class = "control -label lableStyle" })
        </aside>
        <aside class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
            @Html.EditorFor(model => model.Group.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Group.Name, "", new { @class = "text-danger" })
        </aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
        <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
            @Html.Label("آپلود عکس : ", htmlAttributes: new { @class = "control-label lableStyle" })
        </aside>
        <aside class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
            <input type="file" name="ImageUploader3" id="ImageUploader3" /><br />
            @*@Html.TextBox("Image", "", new { type = "file" })*@
        </aside>
        <aside class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
            <input id="chb_DeleteIcon" name="chb_DeleteIcon" title="حذف تصویر" value="true" type="checkbox" />
            <span>حذف تصویر </span>
        </aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
        <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
            <input type="submit" value="ویرایش" class="ButtonStyle" />
        </aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr />
    </aside>
}

@using (Html.BeginForm("DeleteGroup", "Admin", FormMethod.Post, htmlAttributes: new { @class = "Form_6", enctype = "multipart/form-data" }))
            {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ddl_ParentGroupDataForDelete").change(function () {
                var pID = $('#ddl_ParentGroupDataForDelete option:selected').val();
                $.getJSON("../Admin/GETGroupsChild", { parentId: pID },
                    function (data) {
                        var select = $("#ddl_childGroupForDelete");
                        select.empty();

                        $.each(data, function (index, itemData) {
                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                    });
            });

            $("#ddl_childGroupForDelete").change(function () {
                var gID = $('#ddl_childGroupForDelete option:selected').val();
                $("#hide_ChildId").val(gID);

            });

            $('#btn_increaseChild').click(function () {
                alert("ss");
                $("#hide_ChangeOrderChild").val("increase");
            });

            $('#btn_decreaseChild').click(function () {
                $("#hide_ChangeOrderChild").val("decrease");
                alert("bb");
            });

        });

    </script>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
        <h5 class="SubTitleStyle">حذف و تغییر اولویت زیر گروه ها</h5>
    </aside>
    @Html.HiddenFor(model => model.Group.GroupOrder)
    @Html.HiddenFor(model => model.Group.Id, new { @id = "hide_ChildId" })
    @Html.HiddenFor(model => model.ChangeOrder, new { @id = "hide_ChangeOrderChild" })
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            @Html.Label(" از گروه اصلی : ", htmlAttributes: new { @class = "control-label lableStyle" })
        </aside>
        <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            @Html.DropDownListFor(model => model.Group.ParentId, Model.Groups, htmlAttributes: new { @class = "form-control", @id = "ddl_ParentGroupDataForDelete" })
        </aside>
    </aside>
    <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right">
            @Html.Label("نام گروه :", htmlAttributes: new { @class = "text-right largetextbox pull-right lableStyle" })
        </aside>
        <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            @Html.DropDownListFor(model => model.Group.Id, Model.Groups, htmlAttributes: new { @class = "form-control", @id = "ddl_childGroupForDelete" })
        </aside>
        <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
            <input id="btn_decreaseChild" name="btnup" class="DecreaseOrder" value="up" type="submit" />
            <input id="btn_increaseChild" name="btndown" class="IncreaseOrder" value="down" type="submit" />
        </aside>
        <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></aside>
    </aside>
    <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <input type="submit" value="حذف" class="ButtonStyle" />
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr />
    </aside>
}
