﻿@model CGSilent.Areas.Management.Controllers.AdminController.UserVIP

@using PagedList.Mvc; @*//import this so we get our HTML Helper*@
@using PagedList; @*//import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@

@{
    ViewBag.Title = "ManageVIPUsers";
    Layout = "~/Areas/Management/Views/Shared/_Management.cshtml";
}

<link href="@Url.Content("~/Content/Style/UserManagement.css")" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="table" id="usersinfo" style="margin-top:10px; border:1px solid #000;" cellpadding="0" cellspacing="0">
        <tr style="background-color:#fff2cd;">
            <th style="color:#fba02b; text-align:center; border-left:1px solid #000;">
                ردیف
            </th>
            <th style="color:#fba02b; text-align:center; border-left:1px solid #000;">
                @Html.LabelFor(model => model.AllData[0].UserName)
            </th>
            <th style="color:#fba02b; text-align:center; border-left:1px solid #000;">
                @Html.LabelFor(model => model.AllData[0].Email)
            </th>
            <th style="color:#fba02b; text-align:center; border-left:1px solid #000;">
                @Html.LabelFor(model => model.AllData[0].City)
            </th>
            <th style="color:#fba02b; text-align:center; border-left:1px solid #000;">
                @Html.LabelFor(model => model.AllData[0].CreatedDate)
            </th>
            <th style="color:#fba02b; text-align:center; border-left:1px solid #000;">
                @Html.LabelFor(model => model.AllData[0].ExpireDate)
            </th>
            <th style="color:#fba02b; text-align:center; border-left:1px solid #000;">
                افزودن vip
            </th>
            <th style="color:#fba02b; text-align:center; border-left:1px solid #000;">
                ویرایش
            </th>
            <th style="color:#fba02b; text-align:center;">
                حذف  
            </th>
        </tr>
        @{var index = 0;}
        @foreach (var item in Model.AllData)
        {
            index = index + 1;
            <tr style="background-color:#f2f2f2;">
                <td style="color:#000000; text-align:center; border-left:1px solid #000;">
                    @index
                </td>
                <td style="color:#000000; text-align:center; border-left:1px solid #000;">
                    <span style="color:#000000;">@item.UserName</span>
                </td>
                <td style="color:#000000; text-align:center; border-left:1px solid #000;">
                    <span style="color:#000000;">@item.Email</span>
                </td>
                <td style="color:#000000; text-align:center; border-left:1px solid #000;">
                    <span style="color:#000000;">@item.City</span>
                </td>
                <td style="color:#000000; text-align:center; border-left:1px solid #000;">
                    <span style="color:#000000;" id="lb_CreateDate_@item.Id">
                        @item.CreatedDate
                    </span>
                </td>
                <td style="color:#000000; text-align:center; border-left:1px solid #000;">
                    <span style="color:#000000;">@item.ExpireDate</span>
                </td>
                <td style="color:#000000; text-align:center; border-left:1px solid #000;">
                    @Html.EditorFor(model => item.VipTime, new { htmlAttributes = new { @class = "txb_Vip", @id = "txb_" + item.Id } })
                </td>
                <td style="color:#000000; text-align:center; border-left:1px solid #000;">
                    <a class="btn btn-link link_editdelete" id="@item.Id" onclick="EditData(this.id)">ویرایش</a>
                    <script>
                        function EditData(buttonid) {
                            $("#Progrees").show();
                            var id = buttonid; 
                            var vip = $("#txb_" + buttonid).val();
                            var createddate = $("#lb_CreateDate_" + buttonid).text();
                            
                            $.ajax({
                                url: '@Url.Action("EditVipTime", "Admin",new { area=""})',
                                type: "Post",
                                contentType: "application/json; charset=utf-8",                                
                                data: JSON.stringify({ id: id, vip: vip, createddate: createddate }),
                                datatype: "json",
                                success: function (data) {                                   
                                    alert("عملیات ویرایش با موفقیت انجام شد");
                                    $("#Progrees").hide();
                                    UpdateTargetId ="usersinfo";
                                    windows.localtion.reload();
                                }
                            });
                        }
                    </script>
                    <aside class="rel">
                        <aside class="div_Propgress">
                            <img src="~/Content/Images/Article/wheel.gif" id="Progrees"
                                 style="display:none; width:30px; height:30px; left: 50%; top: 50%; position: absolute;" />
                        </aside>
                    </aside>
                </td>
                <td style="color:#000000; text-align:center;">
                    <a class="btn btn-link link_editdelete" id="btn_@item.Id" onclick="DeleteData(this.id)">حذف</a>
                    <script>
                        function DeleteData(buttonid) {
                            $("#Progrees").show();
                            var id = buttonid;
                            id = id.substring(4);                           
                            $.ajax({
                                url: '@Url.Action("DeleteAcount", "Admin",new { area="Management"})',
                                type: "Post",
                                contentType: "application/json; charset=utf-8",                                
                                data: JSON.stringify({ id: id }),
                                datatype: "json",
                                success: function (data) {
                                    alert("کاربر مورد نظر حذف شد. ");
                                    $("#Progrees").hide();
                                    windows.localtion.reload();
                                }
                            });
                        }
                    </script>
                </td>
            </tr>
        }
    </table>
        
            }