﻿@model List<CGSilent.Models.ArticleComment>
<link href="./Content/Style/SiteManagement.css" rel="stylesheet" />
@{
    ViewBag.Title = "ManageComment";
    Layout = "~/Areas/Management/Views/Shared/_Management.cshtml";
}

@using (Html.BeginForm("ManageComment", "Admin", routeValues: new { area = "Management" }, method: FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
{
    <br />
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 CommentTableData" style="background-color:#c0d748 !important;">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 CommentTableHeaderFirst">
            نام کاربر
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 CommentTableHeader">
            متن نظر
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 CommentTableHeader">
            تاریخ ثبت نظر
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 CommentTableHeader">
            نمایش
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 CommentTableHeaderLast">
            ویرایش
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 CommentTableData form-group">
        @foreach (var item in Model)
        {
            if (item != null)
            {
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 CommentTableDataRow form-group">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        @item.UserName
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        @Html.Raw(item.CommentBody)
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        @item.CreatedDate
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <a class="CommentLink" target="_blank" href=@Url.Action("DetailArticle", "ArticleAdmin", routeValues: new { area = "Article",id= item.ArticleId })>
                            نمایش خبر
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <a class="CommentLink" target="_self" href=@Url.Action("EditComment", "Admin", routeValues: new { area = "Management", item.Id })>
                            ویرایش
                        </a>
                    </div>
                </div>

            }
        }
    </div>
}
