﻿@model IEnumerable<CGSilent.Models.VIPPlan>

@{
    /**/

    ViewBag.Title = "ManageVIPPlan";
    Layout = "~/Areas/Management/Views/Shared/_Management.cshtml";
} 

<div class="btn btn_primary">
    @Html.ActionLink("افزودن", "AddVIPPlan", null, new { @class = "btn btn_primary" })

</div>

<table class="table">
    <tr>
        <th style="text-align:center;">
            قیمت
        </th>
        <th style="text-align:center;">
            نام
        </th>
        <th style="text-align:center;">
            تعداد روز
        </th>
        <th style="text-align:center;">
            فعال/غیر فعال
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.Caption)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.Caption)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.DateLong)
                </td>
                <td style="text-align:center;">
                    @Html.ActionLink("Edit", "EditVIPPlan", new { id = item.Id })
                </td>
            </tr>

        }
    }
</table>

