﻿@model IEnumerable<CGSilent.Models.RequestModel>

@{
    ViewBag.Title = "RequestManagement";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<h2>RequestManagement</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestLink)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RequestName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Requestsize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
