﻿@model CGSilent.Models.SiteStaticCount
<link href="~/Content/Style/AdvanceSearch.css" rel="stylesheet" />
<link href="./Content/Style/SiteManagement.css" rel="stylesheet" />
@{
    ViewBag.Title = "مدیریت آمار سایت";
    Layout = "~/Areas/Management/Views/Shared/_Management.cshtml";
}

@using (Html.BeginForm("FilterSiteStatics", "Admin", routeValues: new { area = "Management" }, method: FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:10px;">
        <aside class="col-lg-1 col-md-2 col-sm-12 col-xs-12">
            بر اساس:
        </aside>
        <aside class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            @Html.DropDownListFor(model => model.TimeId, Model.TimeLimit, htmlAttributes: new { @class = "advancesearchddl", @id = "ddl_TimeLimit", @name = "ddl_Groups" })
        </aside>
        <aside class="col-lg-2 col-md-2 col-sm-12 col-xs-12"><input type="submit" class="advancesearchbutton" value="نمایش" /></aside>
        <aside class="col-lg-7 col-md-6 col-sm-12 col-xs-12"></aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 CommentTableData text-center" style="background-color:#c0d748 !important;">
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 CommentTableHeader">
            بازدید کل
        </aside>
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 CommentTableHeader">
            بازدید از اخبار
        </aside>
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 CommentTableHeader">
            بازدید از فروشگاه
        </aside>
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 CommentTableHeader">
            تعداد کاربران سایت
        </aside>
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 CommentTableHeader">
            تعداد درخواست ها
        </aside>
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 CommentTableHeaderLast">
            درآمدها
        </aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 CommentTableData CommentTableDataRow form-group text-center">
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <span class="CommentLink">
                @Model.SiteViewCount
            </span>
        </aside>
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <span class="CommentLink">
                @Model.ArticleCount
            </span>
        </aside>
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <span class="CommentLink">
                @Model.StoreCount
            </span>
        </aside>
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <span class="CommentLink">
                @Model.AllUsersount
            </span>
        </aside>
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <span class="CommentLink">
                @Model.RequestsCount
            </span>
        </aside>
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <span class="CommentLink">
                @Model.IncomeCount
            </span>
        </aside>
    </aside>
}

