﻿@model List<CGSilent.Models.UserManagementVIPRole>

@using PagedList.Mvc;
@using PagedList;

<link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "مدیریت کاربران";
    Layout = "~/Areas/Management/Views/Shared/_Management.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>نتیجه جستجو</title>
</head>

<body id="refTable">
    @using (Html.BeginForm("AddVipTime", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        foreach (var item in Model)
        {
            @Html.HiddenFor(p => item.Id, htmlAttributes: new { @class = "textareahomepage" })
            @Html.HiddenFor(p => item.ExpireDate, htmlAttributes: new { @class = "textareahomepage" })

            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ArticleBody ">
                <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    @item.UserName
                </aside>

                <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    @item.Email
                </aside>
                <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    @foreach (var role in item.Roles)
                    {
                        <span>@role</span>
                    }
                </aside>

                <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    @Html.EditorFor(m => item.VipTime, new { htmlAttributes = new { @class = "textareahomepage" } })
                </aside>
                <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <input type="submit" value="ثبت" />
                    @*@Html.ActionLink("ثبت", "AddVipTime", item, new { @class = "glyphicon glyphicon-remove red" })*@
                </aside>
            </aside>
        }
                <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
        @Html.PagedListPager((IPagedList)ViewBag.ArticleDataForPageingAndView, page => Url.Action("LoadArticleSerchList", "Home", new
   {
       page
   }))
    }
</body>

</html>