﻿
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")"></script>

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>

    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-rtl.min.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/Style/HoverMenu.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Style/Master.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Style/Home.css")" rel="stylesheet" />

    <title>@ViewBag.Title | بزرگترین مرجع تخصصی گرافیک رایانه ای</title>

</head>
<body dir="rtl" class="container">    
    <aside class="div_AllContent col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <aside class="row Menu">
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table dir="rtl" class="tab-content" cellpadding="0" style="width:100%;">
                    <tr>
                        <td style="height:50px;"> </td>
                        <td rowspan="2">
                            <aside class="pull-left">
                                <img src="~/Content/Images/Master/header.png" />
                            </aside>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:50px;">
                            @Html.Partial("_Menu")
                        </td>
                    </tr>
                </table>
            </aside>
        </aside>
        <aside class="row Menu">
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 spliter"></aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="container body-content">
                <aside class="row topContent">
                    <aside class="col-lg-9 col-md-9 col-sm-9 col-xs-9 pull-left MainCarusel leftPane" style="padding:0px !important;">
                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left" id="div_SlideShow" style="margin-top:14px !important; padding:0px !important;">
                            @Html.Partial("_slidshow")
                        </aside>
                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="div_BetweenAdvAndSlide" style="padding:0px !important;"></aside>
                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="div_Advertizement">
                            @Html.Partial("_Advertizement")
                        </aside>
                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="div_Content">
                            <aside class="box">
                                @Html.Partial("_ManagementTabs")
                            </aside>
                            <div class="tab-content">
                                @RenderBody()
                            </div>
                        </aside>
                        <aside id="paging"></aside>
                        <aside style="height:30px;  padding-top:20px; line-height:20px; clear:both;"></aside>
                    </aside>
                    <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-right rightPane" style="padding:0px !important; ;">
                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px !important; height:380px;">
                            @Html.Partial("_ArticleImagesGalary")
                        </aside> 
                        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                            
                            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_Search" id="div_Search" style="padding:0px !important;">
                                @Html.Partial("_SearchView")
                            </aside>
                            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px !important;" id="div_Login">
                                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 logintitle" style="padding:0px !important;">
                                    @if (!Request.IsAuthenticated)
                                    {
                                    <span style="color:#000016">ورود </span>
                                    }
                                    else
                                    {
                                    <span style="color:#000016"> مشخصات کاربری</span>
                                    }

                                </aside>
                                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 loginbody" id="div_Logincontent"
                                       style="padding:0px !important; padding-top:14px !important; padding-right:18px !important;">
                                    @Html.Partial("_LoginCustomPartial")
                                </aside>
                            </aside>
                            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px !important; padding-top:10px !important;" id="div_Login">
                                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 logintitle" style="padding:0px !important;">
                                    به کانال ما بپیوندید
                                </aside>
                                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 socialbody" id="div_Socialcontent"
                                       style="padding-top:14px !important; padding-bottom:10px !important; ">
                                    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                        <aside class="col-lg-2 col-md-2 col-xs-2 col-sm-2 text-center"></aside>
                                        <aside class="col-lg-8 col-md-8 col-xs-8 col-sm-8 text-center">
                                            <aside>
                                                <a href="https://t.me/cgsilent" target="_blank" title="تلگرام">
                                                    <img src="~/Content/Images/All/telegram.png" title="تلگرام" style="padding-bottom:5px" />
                                                </a>
                                            </aside>
                                        </aside>
                                        <aside class="col-lg-2 col-md-2 col-xs-2 col-sm-2 text-center"></aside>
                                    </aside>
                                    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden">
                                        <aside class="col-lg-3 col-md-3 col-xs-3 col-sm-3 text-center">
                                            <aside style="height:27px;">
                                                <a href="https://gap.im/cgsilent" target="_blank">
                                                    <img src="~/Content/Images/All/gap.png" style="padding-bottom:5px" />
                                                </a>
                                            </aside>
                                            <a href="https://gap.im/cgsilent" target="_blank">گپ</a>
                                        </aside>
                                        <aside class="col-lg-3 col-md-3 col-xs-3 col-sm-3 text-center">
                                            <aside style="height:27px;">
                                                <img src="~/Content/Images/All/bale.png" style="padding-bottom:5px" />
                                            </aside>
                                            <span>بله</span>
                                        </aside>
                                        <aside class="col-lg-3 col-md-3 col-xs-3 col-sm-3 text-center">
                                            <aside style="height:27px;">
                                                <a href="https://sapp.ir/cgsilent" target="_blank">
                                                    <img src="~/Content/Images/All/soroush.png" style="padding-bottom:5px" />
                                                </a>
                                            </aside>
                                            <a href="https://sapp.ir/cgsilent" target="_blank">سروش</a>
                                        </aside>

                                        <aside class="col-lg-3 col-md-3 col-xs-3 col-sm-3 text-center">
                                            <aside style="height:27px;">
                                                <a href="https://t.me/cgsilent" target="_blank">
                                                    <img src="~/Content/Images/All/telegram.png" style="padding-bottom:5px" />
                                                </a>
                                            </aside>
                                            <a href="https://t.me/cgsilent" target="_blank">
                                                تلگرام
                                            </a>
                                        </aside>

                                    </aside>
                                    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden" style="padding-top:12px;">
                                        <aside class="col-lg-3 col-md-3 col-xs-3 col-sm-3 text-center">
                                            <aside style="height:27px;">
                                                <a href="https://wispi.me/channel/cgsilent" target="_blank">
                                                    <img src="~/Content/Images/All/wispi.png" style="padding-bottom:5px" />
                                                </a>
                                            </aside>
                                            <a href="https://wispi.me/channel/cgsilent" target="_blank">ویسپی</a>
                                        </aside>
                                        <aside class="col-lg-3 col-md-3 col-xs-3 col-sm-3 text-center">
                                            <aside style="height:27px;">
                                                <a href="http://bpn.im/cgsilent" target="_blank">
                                                    <img src="~/Content/Images/All/bisfon.png" style="padding-bottom:5px" />
                                                </a>
                                            </aside>
                                            <span>بیستون</span>
                                        </aside>
                                        <aside class="col-lg-3 col-md-3 col-xs-3 col-sm-3 text-center">
                                            <aside style="height:27px;">
                                                <a href="https://iGap.net/join/VXkJdhOXsjZWUHsMJkmyZWYNd" target="_blank">
                                                    <img src="~/Content/Images/All/igap.png" style="padding-bottom:5px" />
                                                </a>
                                            </aside>
                                            <a href="https://iGap.net/join/VXkJdhOXsjZWUHsMJkmyZWYNd" target="_blank">آی گپ</a>
                                        </aside>
                                        <aside class="col-lg-3 col-md-3 col-xs-3 col-sm-3 text-center">
                                            <aside style="height:27px; ">
                                                <a href="https://eitaa.com/cgsilent" target="_blank">
                                                    <img src="~/Content/Images/All/eita.png" style="padding-bottom:5px" />
                                                </a>
                                            </aside>
                                            <a href="https://eitaa.com/cgsilent" target="_blank">ایتا</a>
                                        </aside>
                                    </aside>
                                </aside>
                            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gruptree" id="div_group" style="padding:0px !important;">
                                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 grouptreetitle">
                                    دسته بندی
                                </aside>
                                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 groupbody" id="div_groupcontent"
                                       style="padding: 0px !important; padding-top: 14px !important;padding-right: 18px !important;">
                                    @Html.Partial("_ArticleGroups")
                                </aside>
                            </aside>
                            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="div_groupcontent"></aside>
                            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px !important;">
                                @Html.Partial("_Advertizement2")

                            </aside>
                        </aside>
                    </aside>
                </aside>
                <aside class="row" style="padding:0px !important; margin:0px !important;">
                    <aside class="sol-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px !important;">
                        <footer>
                            <aside class="footerText">Copyright@2014 CGSilent.ir All Rights Reserved</aside>
                        </footer>
                    </aside>
                </aside>
            </div>
        </aside>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

        <script>
            $(document).ready(function () {
                $('.dropdown-toggle').dropdown();
                $('.dropdown-submenu a.test').on("click", function (e) {
                    $(this).next('ul').toggle();
                    e.stopPropagation();
                    e.preventDefault();
                });
            });
        </script>
    </aside>
</body>
</html>


