﻿
@{
    ViewBag.Title = "ConfirmEmailAccepted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/Style/Register.css")" rel="stylesheet" />

<aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <aside id="div_title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 registerTitle">
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 registerheader" style="padding: 0px !important; padding-left:18PX !important;">تایید ایمیل</aside>
        <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 leftsideRegisterHeader"></aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
        <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 attentionsentence"></aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
        <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
        <aside class="col-md-5 col-lg-5 col-sm-5 col-xs-5">
            با تشکر از تایید ایمیل .از طریق  @Html.ActionLink("لینک", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })می توانید وارد سایت شوید. 
        </aside>
    </aside>

</aside>
