﻿@{
    ViewBag.Title = "تایید عضویت";
}
<link href="@Url.Content("~/Content/Style/Register.css")" rel="stylesheet" />
 
<aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <aside id="div_title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 registerTitle">
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 registerheader" style="padding: 0px !important; padding-left:18PX !important;">عضویت</aside>
        <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 leftsideRegisterHeader"></aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
        <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 attentionsentence"></aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
        <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
        <aside class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
            <span class="HeaderTitleConfirmEmail"> کاربر گرامی</span><span>عضویت شما با موفقیت انجام شده است.</span>
        </aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
        <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
        <aside class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
            <span>لطفا برای نهایی شدن عضویت به ایمیل خود مراجعه نموده و بر روی لینک مورد نظر کلیک کنید.</span>
        </aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
        <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
        <aside class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
            <span>با سپاس از عضویت شما</span>
        </aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 leftsideRegisterHeader"></aside>
</aside>

