﻿@model CGSilent.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "آیا رمز عبور خود را فراموش کرده اید؟";
}
 
<link href="@Url.Content("~/Content/Style/Register.css")" rel="stylesheet" />
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <aside id="div_title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 registerTitle">
            <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 registerheader" style="padding: 0px !important; padding-left:18PX !important;">بازیابی رمز عبور</aside>
            <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 leftsideRegisterHeader"></aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 attentionsentence"> 
            </aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
            <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                <span class="attentionfield"> آدرس ایمیل :</span>
            </aside>
            <aside class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control inputtextbox" })
            </aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
            <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2"></aside>
            <aside class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                <input type="submit" class="btn loginregisterButton registerbutton" value="بازیابی" />
            </aside>
            <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
        </aside> 
    </aside>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
