﻿@{
    ViewBag.Title = "فراموشی رمز عبور";
}

<aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <aside id="div_title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 registerTitle">
        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 registerheader" style="padding: 0px !important; padding-left:18PX !important;">عضویت</aside>
        <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 leftsideRegisterHeader"></aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
        <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 attentionsentence"></aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
        <aside>
            رمزعبور جدید به ایمیل شماارسال شد.
            <br />
            @Html.ActionLink("از طریق این لینک وارد سایت شوید", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </aside>
    </aside>
</aside> 