﻿@model CGSilent.Models.LoginViewModel
@{
    ViewBag.Title = "ورود";
}

<link href="@Url.Content("~/Content/Style/Register.css")" rel="stylesheet" />

<section id="loginForm">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <aside id="div_title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 registerTitle">
                <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 registerheader" style="padding: 0px !important; padding-left:18PX !important;">ورود</aside>
                <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 leftsideRegisterHeader"></aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 attentionsentence"></aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                توجه : نام کاربری و رمز عبور به حروف کوچک و بزرگ حساس می باشد.
            </aside>
            <br />
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    نام کاربری:
                </aside>
                <aside class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control textareahomepage" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    رمز عبور:
                </aside>
                <aside class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control textareahomepage" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    رمز عبور:
                </aside>
                <aside class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
                <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2"></aside>
                <aside class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
                    <input type="submit" value="ورود" class="btn loginregisterButton loginbutton" />
                </aside> 
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
                <aside class="col-md-11 col-lg-1 col-sm-1 col-xs-11">
                    @Html.ActionLink("ثبت نام", "Register", routeValues: null, htmlAttributes: new { @class = "linkbutton btn loginregisterButton registerbutton" })
                </aside>
            </aside>
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
                <aside class="col-md-11 col-lg-11 col-sm-11 col-xs-11">
                    @Html.ActionLink("رمز عبور خود را فراموش کرده ام", "ForgotPassword")
                </aside>
            </aside>
        </aside>
    }
</section>
<div class="col-md-4" style="display:none;">
    <section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new CGSilent.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
