﻿
@using CaptchaMvc.HtmlHelpers;
@model CGSilent.Models.RegisterViewModel
@{
    ViewBag.Title = "ثبت نام";
}

<head>
    @*<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
        <script src='https://www.google.com/recaptcha/api.js'></script>*@
    <link href="@Url.Content("~/Content/Style/Register.css")" rel="stylesheet" />
</head>
<script>
    $(document).ready(function () {
        $("#ImageUploader").change(function () {
            //فایل نباید از 2مگابایت بزرگتر باشد
            if ($("#ImageUploader")[0].files[0].size > (1024 * 1024 * 2)) {
                alert("حجم عکس خبر باید کمتر از 2 مگابایت باشد.");
                $("#ImageUploader").val(null);
                return false;
            }
            var lastdotlocation = $("#ImageUploader").val().lastIndexOf(".");
            var extension = $("#ImageUploader").val().substring(lastdotlocation);
            extension = extension.toLowerCase();
            if (!(extension == ".jpg" || extension == ".png" || extension == ".gif")) {
                alert("فایل انتخابی شما برای عکس معنبر نمی باشد.");
                $("#ImageUploader").val(null);
                return false;
            }
        });
    });

    function Success(data) {
        grecaptcha.reset();
    }

    function CheckFields() {
        if ($("#txb_username").val() == "") {
            alert("لطفا نام کاربری را وارد نمایید.");
            return false;
        }
        if ($("#txb_email").val() == "") {
            alert("لطفا آدرس ایمیل خود را وارد نمایید.");
            return false;
        }
        if ($("#txb_name").val() == "") {
            alert("لطفا نام را وارد نمایید.");
            return false;
        }
        if ($("#txb_lastname").val() == "") {
            alert("لطفا نام خانوادگی را وارد نمایید.");
            return false;
        }
        if ($("#txb_password").val() == "") {
            alert("لطفا رمز عبور را وارد نمایید.");
            return false;
        }
        if ($("#txb_repeatpasssword").val() == "") {
            alert("لطفا رمز عبور را تکرار نمایید.");
            return false;
        }
        if ($("#txb_City").val() == "") {
            alert("لطفا شهر را وارد نمایید.");
            return false;
        }

        return true;
    }

</script>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "عملیات ثبت نام با خطا موجه شد. لطفا اطلاعات وارد شده را تصحیح نمایید.")

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <aside id="div_title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 registerTitle">
            <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 registerheader" style="padding: 0px !important; padding-left:18PX !important;">عضویت</aside>
            <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 leftsideRegisterHeader"></aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 attentionsentence">
                <span class="attentionfield">فیلدهای ستاره دار اجباری می باشند.</span>
            </aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
            <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                <span class="attentionfield">*</span>  @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
            </aside>
            <aside class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control inputtextbox", @id = "txb_username" })
                @Html.ValidationMessageFor(m => m.UserName)
            </aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
            <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                <span class="attentionfield">*</span> @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            </aside>
            <aside class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control inputtextbox", @id = "txb_email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "redtext" })
            </aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
            <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                <span class="attentionfield">*</span> @Html.LabelFor(m => m.Name, new { @class = "control-label" })
            </aside>
            <aside class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control inputtextbox", @id = "txb_name" })
                @Html.ValidationMessageFor(m => m.Name)
            </aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
            <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                <span class="attentionfield">*</span>  @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
            </aside>
            <aside class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control inputtextbox", @id = "txb_lastname" })
                @Html.ValidationMessageFor(m => m.LastName)
            </aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 passwordattention">
            <span class="attentionfield">رمز عبور باید شامل حروف کوچک و بزرگ و اعداد باشد و حداقل 6 کارکتر داشته باشد</span>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
            <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                <span class="attentionfield">*</span> @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            </aside>
            <aside class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control twotextboxinside", @id = "txb_password" })
            </aside>
            <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                <span class="attentionfield">*</span>@Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            </aside>
            <aside class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control twotextboxinside", @id = "txb_repeatpassword" })
            </aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
            <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                <span class="attentionfield">*</span> @Html.LabelFor(m => m.City, new { @class = "control-label" })
            </aside>
            <aside class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                @Html.TextBoxFor(m => m.City, new { @class = "form-control twotextboxinside", @id = "txb_City"})
            </aside>
            <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                @Html.LabelFor(m => m.Phone, new { @class = "control-label" })
            </aside>
            <aside class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control twotextboxinside", @id = "txb_phone" })
            </aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
            <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                @Html.LabelFor(m => m.Address, new { @class = "control-label " })
            </aside>
            <aside class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control inputtextbox" })
            </aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
            <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                @Html.Label("آپلود عکس : ", htmlAttributes: new { @class = "control-label pull-right" })
            </aside>
            <aside class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
                <input type="file" name="ImageUploader" id="ImageUploader" /><br />
            </aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
            <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2"></aside>
            <aside class="col-md-9 col-lg-9 col-sm-9 col-xs-9" id="captchacontent">
                @Html.MathCaptcha()
                <br /> <p> @ViewBag.ErrorMessage </p>
            </aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
            <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2"></aside>
            <aside class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                <input type="submit" class="btn loginregisterButton registerbutton" style="line-height:20px;" value="ثبت نام" onclick="return CheckFields()" />
            </aside>
            <aside class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></aside>
        </aside>
    </aside>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
