﻿@{
    ViewBag.Title = "تایید بازیابی رمز عبور";
}
 
<aside>
    <aside>
        رمز عبور شما بازیابی شد. @Html.ActionLink("از طریق این لینک وارد شوید", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </aside>
</aside>
