﻿@model CGSilent.Models.AdvertizmentWithType

@{
    ViewBag.Title = "افزودن تبلیغات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .Typedll {
        color: #000;
    }

    .lableStyle {
        color: #c0d748;
        line-height: 32px;
        width: auto;
    }

    .ButtonStyle {
        background-color: #16a086;
        color: #000;
        width: 120px;
        height: 32px;
        line-height: 32px;
        padding: 0px;
        border: 0px;
        text-align: center;
        cursor: pointer;
    }
</style>
<h2>افزودن تبلیغات</h2>

@using (Html.BeginForm("AddAdvertizement", "Advertizement", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <span class=" lableStyle">تیتر :</span>
            </aside>
            <aside class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                @Html.EditorFor(model => model.Advertizement.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Advertizement.Title, "", new { @class = "text-danger" })
            </aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <span class=" lableStyle">
                    آدرس لینک :
                </span>
            </aside>
            <aside class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                @Html.EditorFor(model => model.Advertizement.LinkAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Advertizement.LinkAddress, "", new { @class = "text-danger" })
            </aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <span class=" lableStyle">
                    مکان تبلیغ :
                </span>
            </aside>
            <aside class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                @Html.DropDownListFor(x => x.Advertizement.Type, Model.Type, htmlAttributes: new { @class = "Typedll", @id = "ddl_searchtype", @name = "ddl_searchtype" })
                @Html.ValidationMessageFor(model => model.Advertizement.Type, "", new { @class = "text-danger" })
            </aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group ">
            <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                <span class=" lableStyle">
                    @Html.Label("آپلود عکس : ", htmlAttributes: new { @class = "lableStyle" })
                </span>
            </aside>
            <aside class="col-md-6 col-lg-6 col-sm-9 col-xs-9">
                <input type="file" name="ImageUploader" id="ImageUploader" /><br />
                @*@Html.TextBox("Image", "", new { type = "file" })*@
            </aside>
            <aside class="col-md-4 col-lg-4 col-sm-1 col-xs-1"></aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2"></aside>
            <aside class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <input type="submit" value="افزودن" class="btn btn-default ButtonStyle" />
            </aside>
        </aside>
    </aside>
}

<div>
    @Html.ActionLink("بازگشت", "Index")
</div>
