﻿@model CGSilent.Models.Advertizements

@{
    ViewBag.Title = "حذف تبلیغ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .lableStyle {
        color: #c0d748;
        line-height: 32px;
        width: auto;
    }

    .ButtonStyle {
        background-color: #16a086;
        color: #000;
        width: 120px;
        height: 32px;
        line-height: 32px;
        padding: 0px;
        border: 0px;
        text-align: center;
        cursor: pointer;
    }

    .advertizementimage {
        max-width: 200px;
        max-height: 200px;
        margin-bottom: 10px;
    }
</style>
<h3>آیا از حذف این تبلیغ اطمینان دارید?</h3>
<div>
    <hr />
    @Html.HiddenFor(model => model.ImageId)
    @Html.HiddenFor(model => model.ImageUrl)
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <aside class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <span class="lableStyle">تیتر  :</span>
            </aside>
            <aside class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                @Html.DisplayFor(model => model.Title)
            </aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <aside class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <span class="lableStyle">آدرس لینک :</span>
            </aside>
            <aside class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <a href="@Model.LinkAddress">@Model.LinkAddress</a>
            </aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <aside class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <span class="lableStyle">تصویر :</span>
            </aside>
            <aside class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <img src="@Model.ImageUrl" class="advertizementimage" />
            </aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <aside class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <span class="lableStyle">مکان :</span>
            </aside>
            <aside class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                @if (Model.Type == 1)
                {
                    <span>تبلیغات بالا</span>
                }
                else
                {
                    <span>تبلیغات پایین</span>
                }
            </aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <aside class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <span class="lableStyle">تاریخ ایجاد</span>
            </aside>
            <aside class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                @Html.DisplayFor(model => model.CreatedDate)
            </aside>
        </aside>
    </aside>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default ButtonStyle" /> |
            @Html.ActionLink("بازگشت", "Index")
        </div>
    }
</div>
