﻿@model CGSilent.Models.AdvertizmentWithType

@{
    ViewBag.Title = "ویرایش تبیلغات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .Typedll {
        color: #000;
    }

    .lableStyle {
        color: #c0d748;
        line-height: 32px;
        width: auto;
    }

    .ButtonStyle {
        background-color: #16a086;
        color: #000;
        width: 120px;
        height: 32px;
        line-height: 32px;
        padding: 0px;
        border: 0px;
        text-align: center;
        cursor: pointer;
    }

    .advertizementimage {
        max-width:200px;
        max-height:200px;
        margin-bottom:10px;
    }
</style>
@using (Html.BeginForm("EditAdvertizement", "Advertizement", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr />
        @Html.HiddenFor(x => x.Advertizement.Id)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(x => x.Advertizement.ImageUrl)
        @Html.HiddenFor(x => x.Advertizement.ImageId)
        @Html.HiddenFor(x => x.Advertizement.CreatedDate)

        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <span class=" lableStyle">  تیتر :</span>
            </aside>
            <aside class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                @Html.EditorFor(model => model.Advertizement.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Advertizement.Title, "", new { @class = "text-danger" })
            </aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <span class=" lableStyle">  آدرس لینک :</span>
            </aside>
            <aside class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                @Html.EditorFor(model => model.Advertizement.LinkAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Advertizement.LinkAddress, "", new { @class = "text-danger" })
            </aside>
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <span class=" lableStyle">
                    مکان تبلیغ :
                </span>
            </aside>
            <aside class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                @Html.DropDownListFor(x => x.Advertizement.Type, Model.Type, htmlAttributes: new { @class = "Typedll", @id = "ddl_searchtype", @name = "ddl_searchtype" })
                @Html.ValidationMessageFor(model => model.Advertizement.Type, "", new { @class = "text-danger" })
            </aside>
        </aside>
        <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12 div_articleManageItem_Seperat">
            <aside class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
                @Html.Label("آپلود عکس : ", htmlAttributes: new { @class = "lableStyle" })
            </aside>
            <aside class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
                <input type="file" name="ImageUploader" id="ImageUploader" /><br />
                @*@Html.TextBox("Image", "", new { type = "file" })*@
            </aside>
        </aside>
        <aside class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <img src="@Model.Advertizement.ImageUrl" class="text-center advertizementimage" />
        </aside>
        <br />
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <aside class="col-md-2 col-lg-2 col-sm-2 col-xs-2"></aside>
            <aside class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <input type="submit" value="ویرایش" class="btn btn-default ButtonStyle" />
            </aside>
        </aside>
    </aside>
}
<div>
    @Html.ActionLink("بازگشت", "Index")
</div>
