﻿@model IEnumerable<CGSilent.Models.Advertizements>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<style>
    .AdvImage {
        width: 100px;
        height: 100px;
        margin:0 auto;
    }
</style>
<h4>
    <img src="@Url.Content("~/Content/Images/Article/Add.png")" />
    @Html.ActionLink("افزودن", "AddAdvertizement")
</h4>
<br />
<table class="table text-center">
    <tr>
        <th class="text-center">
          تیتر
        </th>
        <th class="text-center">
            آدرس لینک
        </th>
        <th class="text-center">
            تبلیغات مربوط به
        </th>
        <th  class="text-center">
           تصویر
        </th>
        <th class="text-center">
            عملیات
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkAddress)
            </td>
            <td>
                @if (item.Type == 1)
                {
                    <span>تبلیغات بالای سایت</span>
                }
                @if (item.Type == 2)
                {
                    <span> تبلیغات پایین سایت</span>
                }
            </td>
            <td>
                <img class="img-responsive AdvImage" src="@item.ImageUrl" />
            </td>
            <td>
                @Html.ActionLink("ویرایش", "EditAdvertizement", new {  id=item.Id }) |
                @Html.ActionLink("نمایش", "DetailAdvertizement", new {  id=item.Id  }) |
                @Html.ActionLink("حذف", "DeleteAdvertizement", new {  id=item.Id  })
            </td>
        </tr>
    }

</table>
