﻿
<aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px !important;">  
    @if (ViewBag.AllData.AdvertizementBottom != null)
    {
        foreach (var item in ViewBag.AllData.AdvertizementBottom)
        {
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px !important; text-align:center;">
                <a class="btn-link" target="_blank" href="@item.LinkAddress">
                    <img src="@Url.Content(item.ImageUrl)" alt="تبلیغات بزرگترین سایت دانلود رایگان نرم افزار گرافیکی"
                         title="@Url.Content(item.Title)" class="advertizementBottom" />
                </a>
            </aside>
        }
    }
</aside>