﻿
<aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 advertizement" style="padding:0px !important;">

    @if (ViewBag.AllData.AdvertizementTop != null)
    {
        foreach (var item in ViewBag.AllData.AdvertizementTop)
        {
            <aside class="col-lg-6 col-md-6 col-sm-12 col-xs-12 advertizementContent" style="padding:0px !important; text-align:center;">
                <a class="btn-link" target="_blank" href="@item.LinkAddress">
                    <img src="@Url.Content(item.ImageUrl)" alt="تبلیغات بزرگترین سایت دانلود رایگان نرم افزار گرافیکی"
                         title="@Url.Content(item.Title)" class="advertizementImageRight" />
                </a>
            </aside>
        }
    }
</aside>