﻿
<script src="@Url.Content("~/Scripts/Vertical Carousel/verticalCarousel.js")"></script>
<style>
    .thin {
        /*max-width: 300px;*/
    }

    .carousel > .window {
        overflow: hidden;
        position: relative;
        height: 305px;
        margin: 0 auto;
    }

    /*
            This is the item wrapper,
            it will be animated.
        */
    .carousel ul {
        list-style: none;
        height: 10000px;
        top: 0;
        left: 0;
        position: absolute;
        padding: 0px;
    }

    /*
            These are the items
        */
    .carousel li {
        margin: 0px 0 0;
        /*width: 200px;*/
    }

    .prev, .next {
        cursor: pointer;
        width: 100%;
        position: relative;
    }

    .carousel li:first-child {
        margin: 0;
    }

    .glyphicon {
        font-family: 'Glyphicons Halflings' !important;
    }
</style>

<div class="col-md-12 col-md-12 col-sm-12 col-xs-12 container">
    <div class="">
        <div class="carousel thin text-center" style="height: 300px;">
            <a class="prev">
                <img src="@Url.Content("~/Content/Images/All/up.png")" class="glyphicon-chevron-up upgalary" style="margin-bottom:10px; margin-top:5px;" />
            </a>
            <div class="window">
                <ul class="clr" style="width:100%;">
                    @if (ViewBag.StoreDataForSlideShow != null)
                    {
                        if (ViewBag.StoreDataForSlideShow.Count > 0)
                        {
                            if (ViewBag.StoreDataForSlideShow.Count % 2 == 0)
                            {
                                for (var index = 0; index < ViewBag.StoreDataForSlideShow.Count - 1; index += 2)
                                {
                                    if (index % 2 == 0)
                                    {
                                        <li class="item" style="margin:3px 0px;">
                                            <a class="storeTitle" target="_blank" href=@Url.Action("DetailStore", "StoreAdmin", routeValues: new { area = "store", ViewBag.StoreDataForSlideShow[index].Id })>
                                                <img src="@Url.Content(ViewBag.StoreDataForSlideShow[index].ImagePath)" alt="بزرگترین سایت دانلود رایگان نرم افزار گرافیکی"
                                                     width="86" height="99" style="border:1px solid #fff;" />
                                            </a>
                                            @if (index < ViewBag.StoreDataForSlideShow.Count)
                                            {
                                                <a class="storeTitle" target="_blank" href=@Url.Action("DetailStore", "StoreAdmin", routeValues: new { area = "store", ViewBag.StoreDataForSlideShow[index+1].Id })>

                                                    <img src="@Url.Content(ViewBag.StoreDataForSlideShow[index + 1].ImagePath)" alt="بزرگترین سایت دانلود رایگان نرم افزار گرافیکی"
                                                         width="86" height="99" style="border:1px solid #fff; " />
                                                </a>
                                            }
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="item" style="margin:3px 0px;">
                                            <a class="storeTitle" target="_blank" href=@Url.Action("DetailStore", "StoreAdmin", routeValues: new { area = "store", ViewBag.StoreDataForSlideShow[index].Id })>

                                                <img src="@Url.Content(ViewBag.StoreDataForSlideShow[index].ImagePath)" alt="بزرگترین سایت دانلود رایگان نرم افزار گرافیکی"
                                                     width="86" height="99" style="border:1px solid #ffffff; " />
                                            </a>

                                        </li>
                                    }

                                }
                            }
                            else
                            {
                                for (var index = 0; index < ViewBag.StoreDataForSlideShow.Count - 1; index++)
                                {
                                    if (index % 2 == 0)
                                    {
                                        <li class="item" style="margin:3px 0px;">
                                            <a class="storeTitle" target="_blank" href=@Url.Action("DetailStore", "StoreAdmin", routeValues: new { area = "store", ViewBag.StoreDataForSlideShow[index].Id })>
                                                <img src="@Url.Content(ViewBag.StoreDataForSlideShow[index].ImagePath)" alt="بزرگترین سایت دانلود رایگان نرم افزار گرافیکی"
                                                     width="86" height="99" style="border:1px solid #fff;" />
                                            </a>
                                            @if (index < ViewBag.StoreDataForSlideShow.Count)
                                            {
                                                <a class="storeTitle" target="_blank" href=@Url.Action("DetailStore", "StoreAdmin", routeValues: new { area = "store", ViewBag.StoreDataForSlideShow[index+1].Id })>
                                                    <img src="@Url.Content(ViewBag.StoreDataForSlideShow[index + 1].ImagePath)" alt="بزرگترین سایت دانلود رایگان نرم افزار گرافیکی"
                                                         width="86" height="99" style="border:1px solid #fff; " />
                                                </a>
                                                index += 1;
                                            }
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="item" style="margin:3px 0px;">
                                            <a class="storeTitle" target="_blank" href=@Url.Action("DetailStore", "StoreAdmin", routeValues: new { area = "store", ViewBag.StoreDataForSlideShow[index].Id })>
                                                <img src="@Url.Content(ViewBag.StoreDataForSlideShow[index].ImagePath)" alt="بزرگترین سایت دانلود رایگان نرم افزار گرافیکی"
                                                     width="86" height="99" style="border:1px solid #ffffff; " />
                                            </a>
                                        </li>
                                    }

                                }
                            }
                        }
                    }
                    @*@for (var index = 0; index < ViewBag.ArticleDataForPageingAndView.Count; index++)
                        {
                            <li class="item" style="margin:3px 0px;">
                                <img src="@Url.Content( ViewBag.ArticleDataForPageingAndView[index].Article.ImagePath)" alt="بزرگترین سایت دانلود رایگان نرم افزار گرافیکی"
                                     width="86" height="99" style="border:1px solid #fff;">
                                <img src="@Url.Content( ViewBag.ArticleDataForPageingAndView[index+1].Article.ImagePath)" alt="بزرگترین سایت دانلود رایگان نرم افزار گرافیکی"
                                     width="86" height="99" style="border:1px solid #fff;">
                            </li>
                            if (ViewBag.ArticleDataForPageingAndView.Count > 1)
                            {
                                index = index + 1;
                            }
                        }*@
                </ul>
            </div> <!-- .window -->
            <a class="next">
                <img src="@Url.Content("~/Content/Images/All/down.png")"
                     class="glyphicon-chevron-down downgalary" style="margin-bottom:10px; margin-top:5px;" />
            </a>
        </div> <!-- .carousel -->
    </div>
</div>