﻿<script type="text/javascript">
    function ClickParent(index) {
        if ($("#child_" + index).css("display") == "none") {
            $("#child_" + index).slideDown("500");
        }
        else {
            $("#child_" + index).slideUp("500");
        }
    }
</script>
<aside>
    @{var index = 0; }
    @foreach (var item in ViewBag.AllData.TreeGroup)
    {
        if (item.ParentId.ToString() == "000000000000000000000000")
        {
            bool havechild = false;
            foreach (var gp in ViewBag.AllData.TreeGroup)
            {
                if (gp.ParentId == item.Id)
                {
                    havechild = true;
                    break;
                }
            }
            if (!havechild)
            {
                if (item.ImageName == null)
                {
                    <div class="div_withnochild" style="background-image: url('/content/Images/All/parent.png'); background-position:top right;
    background-size: auto;  background-repeat: no-repeat;">
                        <a style="line-height:30px;"  href=@Url.Action("ArticlesByGroup", "Home", routeValues: new { area = "", groupid = @item.Id })>@item.Name</a>
                    </div>
                }
                else
                {
                    if (item.ImageName != "")
                    {
                        <div class="div_withnochild" style="background-image: url('/content/Images/ArticleGroup/@item.ImageName');  background-size:30px; background-position:top right;
      background-repeat: no-repeat; padding-right:40px;">
                            <a style="line-height:30px;"  href=@Url.Action("ArticlesByGroup", "Home", routeValues: new { area = "", groupid = @item.Id })>@item.Name</a>
                        </div>
                    }
                    else
                    {
                        <div class="div_withnochild" style="background-image: url('/content/Images/All/parent.png'); background-position:top right;
    background-size: auto;  background-repeat: no-repeat;">
                            <a style="line-height:30px;"  href=@Url.Action("ArticlesByGroup", "Home", routeValues: new { area = "", groupid = @item.Id })>@item.Name</a>
                        </div>
                    }
                }
            }
            else
            {
                index = index + 1;
                if (item.ImageName == null)
                {
                    <div class="div_withchild" id="parent_@index"
                         style="background-image: url('/content/Images/All/parent.png'); background-position:top right; background-repeat: no-repeat;" onclick="return ClickParent(@index);">
                        <a style="line-height:30px;"  href=@Url.Action("ArticlesByGroup", "Home", routeValues: new { area = "", groupid = @item.Id })>@item.Name</a>
                    </div>
                }
                else
                {
                    if (item.ImageName != "")
                    {
                        <div class="div_withchild" id="parent_@index"
                             style="background-image: url('/content/Images/ArticleGroup/@item.ImageName'); background-size:30px; margin-left:3px ; padding-right:40px; background-position:top right; background-repeat: no-repeat;" onclick="return ClickParent(@index);">
                            <a  style="line-height:30px;" href=@Url.Action("ArticlesByGroup", "Home", routeValues: new { area = "", groupid = @item.Id })>@item.Name</a>
                        </div>
                    }
                    else
                    {
                        <div class="div_withchild" id="parent_@index"
                             style="background-image: url('/content/Images/All/parent.png'); background-position:top right;background-size: auto; background-repeat: no-repeat;" onclick="return ClickParent(@index);">
                            <a style="line-height:30px;"  href=@Url.Action("ArticlesByGroup", "Home", routeValues: new { area = "", groupid = @item.Id })>@item.Name</a>
                        </div>
                    }
                }
                @*<div class="div_withchild" id="parent_@index"
                         style="background-image: url('../Images/All/parent.png'); background-position: right;background-size: auto; background-repeat: no-repeat;" onclick="return ClickParent(@index);">
                        <a href=@Url.Action("ArticlesByGroup", "Home", routeValues: new { area = "", groupid = @item.Id })>@item.Name</a>
                    </div>*@
                <aside id="child_@index">
                    @foreach (var gp in ViewBag.AllData.TreeGroup)
                    {
                        if (gp.ParentId == item.Id)
                        {
                            if (gp.ImageName == null)
                            {
                                <div class="div_children" style="background-image: url('/content/Images/All/parent.png'); background-position:top right;background-size: auto; background-repeat: no-repeat;">
                                    <a style="line-height:30px;"  href=@Url.Action("ArticlesByGroup","Home",routeValues: new { area = "",groupid = gp.Id })>@gp.Name</a>
                                </div>
                            }
                            else
                            {
                                if (gp.ImageName != "")
                                {
                                   
                                    <div class="div_children" style="background-image: url('/content/Images/ArticleGroup/@gp.ImageName'); margin-left:3px ; background-size: 30px;  padding-right:40px; background-position:top right; background-repeat: no-repeat;">
                                        <a style="line-height:30px;"  href=@Url.Action("ArticlesByGroup","Home",routeValues: new { area = "",groupid = gp.Id })>@gp.Name</a>
                                    </div>
                                }
                                else
                                {
                                    <div class="div_children" style="background-image: url('/content/Images/All/parent.png'); background-position:top right;background-size: auto; background-repeat: no-repeat;">
                                        <a style="line-height:30px;" href=@Url.Action("ArticlesByGroup","Home",routeValues: new { area = "",groupid = gp.Id })>@gp.Name</a>
                                    </div>
                                }
                            }

                        }
                    }
                </aside>
            }
        }
    }
</aside>
