﻿
@model CGSilent.Controllers.HomeController.ArticleListComplete
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model.ArticleList)
{
    if (item.ArticleGroupsData.Count > 1 ||
        item.ArticleGroupsData[0].GroupId.ToString() != "5a526a33e290b819dc102a35")
    {
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ArticleHeader">
            @item.Article.Title
        </aside>
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ArticleBody ">
            <aside class="ArticleTitleBar">
                <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 Icon">
                    <img src="~/Content/Images/All/Author.png" class="ImageIcon" />
                    @item.Article.Author
                </aside>
                <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1 Icon">
                    <img src="~/Content/Images/All/Clock.png" class="ImageIcon" />
                    @item.Article.CreatedDate.Minute : @item.Article.CreatedDate.Hour
                </aside>
                <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 Icon">
                    <img src="~/Content/Images/All/Calender.png" class="ImageIcon" />
                    @item.Article.CreatedDate.Day / @item.Article.CreatedDate.Month / @item.Article.CreatedDate.Year
                </aside>
                <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1 Icon">
                    <img src="~/Content/Images/All/Sharp.png" class="ImageIcon" />
                    @item.Article.ArticleNumber
                </aside>
            </aside>
            <aside class="row" id="div_ArticleImage">
                <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1 "></aside>
                <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 ">
                    <img class="img-responsive ArticleImage" src="@Url.Content(item.Article.ImagePath)" />
                    <aside class="row summery" id="div_Summery">
                        @item.Article.Summery
                    </aside>
                </aside>
                <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1 "></aside>
            </aside>
            <aside class="groupdata" id="div_Group">
                <span class="grouptitle">دسته بندی : </span>
                <span class="groups">
                    @for (var i = 0; i < item.ArticleGroupsData.Count; i++)
                    {
                        for (int j = 0; j < Model.GroupList.Count; j++)
                        {
                            if (item.ArticleGroupsData[i].GroupId == Model.GroupList[j].Id &&
                                Model.GroupList[j].Id.ToString() != "5a526a33e290b819dc102a35")
                            {
                                if (i == item.ArticleGroupsData.Count - 1)
                                {
                                    <span>@Model.GroupList[j].Name </span>
                                }
                                else
                                {
                                    <span>@Model.GroupList[j].Name , </span>
                                }
                            }
                        }
                    }
                </span>
                <aside id="div_ArticleActivities" class="position-relative">
                    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divwithnopadding">
                        <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-left Detail">
                            <a class="btn-link" target="_blank" href="http://localhost:4925/Article/ArticleAdmin/DetailArticle/@item.Article.Id">
                                <div style="width:100%;">
                                    ادامه مطلب
                                </div>
                            </a>
                        </aside>
                        <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pull-left empty"></aside>
                        <aside class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-left Activities">
                            <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pull-right">
                                <img src="~/Content/Images/All/Comments.png" />
                                @item.ArticleComments.Count
                            </aside>
                            <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right">
                                <img src="~/Content/Images/All/Author2.png" />
                                @item.Article.Author
                            </aside>
                            <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pull-right">
                                <img src="~/Content/Images/All/dislike.png" />
                                @item.LikeDislike.DislikeCount
                            </aside>
                            <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pull-right">
                                <img src="~/Content/Images/All/Like.png" class="likeimage" />
                                @item.LikeDislike.LikeCount
                            </aside>
                        </aside>
                    </aside>
                </aside>
            </aside>
        </aside>
    }
}