﻿@*@model CGSilent.Models.LoginViewModel*@

<section id="loginForm">
    @using (Html.BeginForm("Login", "Account", new { area = "", ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <script type="text/javascript">
            $('#btn_Saerch').click(function () {
                $.ajax({
                    actionName: "SearchResult",
                    ContreollerName: "Home",
                    type: "GET",
                    data: {
                        UserName: "@ViewBag.UserName",
                        Password: "@ViewBag.Password",
                        RememberMe: "@ViewBag.RememberMe"
                    },
                    success: function () {
                    },
                    error: function () {
                    }
                });
            });
        </script>

        @Html.AntiForgeryToken()
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
        <div class="col-lg-0 col-md-10 col-sm-10 col-xs-10 lognitems">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pull-left">
                <img src="~/Content/Images/All/UserName.png" class="UserPassImage" />
            </div>
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 pull-right">
                @Html.TextBox("UserName", ViewBag.UserName as string, htmlAttributes: new { @class = "form-control userpasstextbox", placeholder = "نام کاربری" })
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 lognitems">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pull-left">
                <img src="~/Content/Images/All/password.png" class="UserPassImage" />
            </div>
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 pull-right">
                @Html.Password("Password", ViewBag.Password as string, new { @class = "form-control userpasstextbox", placeholder = "رمز عبور" })
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lognitems">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0px !important;">
                <input type="submit" value="ورود" class="btn btn-default form-control loginregisterButton" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <span style="font-size:9px !important;">مرا به خاطر بسپار</span>
                @Html.CheckBox("RememberMe", ViewBag.RememberMe == null ? false : true, htmlAttributes: new { @class = "remembercheckbox" })
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lognitems">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0px !important;">
                <a href="/Account/Register" class="form-control loginregisterButton linkbutton">عضویت</a>
                @*@Html.ActionLink("عضویت", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "form-control loginregisterButton linkbutton" })*@
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right">
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lognitems">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <a href="/Account/ForgotPassword" class="ForgotPassword">رمز عبور خود را فراموش کرده ام</a>

                @*  @Html.ActionLink("رمز عبور خود را فراموش کرده ام", "ForgotPassword", "Account", routeValues: null, htmlAttributes: new { @class = "ForgotPassword" })*@
            </div>
        </div>
    }
</section>