﻿
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")"></script>

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>

    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-rtl.min.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/Style/HoverMenu.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Style/Master.css")" rel="stylesheet" /> 
    <link href="@Url.Content("~/Content/Style/Home.css")" rel="stylesheet" />

    <title>@ViewBag.Title | بزرگترین مرجع تخصصی گرافیک رایانه ای</title>

</head>

<body dir="rtl" class="container">
    <aside class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 div_AllContent" style="padding:0px !important;">
        <aside class="row Menu">
            <table dir="rtl" class="tab-content" cellpadding="0" style="width:100%;">
                <tr>
                    <td style="height:50px;"> </td>
                    <td rowspan="2">
                        <aside class="pull-left">
                            <img src="~/Content/Images/Master/header.png" />
                        </aside>
                    </td>
                </tr>
                <tr>
                    <td style="height:50px;">
                        @Html.Partial("_Menu")
                    </td>
                </tr>
            </table>
        </aside> 
    </aside>
    <aside class="row Menu">
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 spliter"></aside>
    </aside>
    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px !important;">
        <div class="container body-content">
            <aside class="row">
                <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">                     
                    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="div_Content">
                       @RenderBody()
                    </aside>
                    <aside id="paging"></aside>
                </aside>                
            </aside>
            <aside class="row">
                <aside class="sol-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <footer>
                        <aside class="footerText">Copyright@2014 CGSilent.ir All Rights Reserved</aside>
                    </footer>
                </aside>
            </aside>  
        </div>
    </aside>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
            $('.dropdown-submenu a.test').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });
    </script>
</body>
</html>
