﻿<link href="@Url.Content("~/Content/Style/SiteManagement.css")" rel="stylesheet" />
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <ul class="nav nav-tabs tabpanel" style="margin-bottom:10px;">
        <li>
            <ul class="nav nav-tabs tabpanel col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center tabStyle">
                    <a href="@Url.Content("~/Article/ArticleAdmin/AddArticle")" class="manageLink" title="ثبت خبر">
                        <span class="managementtabtext">  ثبت خبر</span>
                    </a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center tabStyle">
                    <a href="@Url.Content("~/Management/Admin/ArticleByNumber")" class="manageLink" title="مدیریت اخبار">
                        <span class="managementtabtext">مدیریت اخبار </span>
                    </a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center tabStyle">
                    <a href="@Url.Content("~/Management/Admin/ManageVIPUsers")" class="manageLink" title="مدیریت کاربران">
                        @*<a href="#UserManagement" class="manageLink" title="مدیریت کاربران">*@
                        <span class="managementtabtext"> مدیریت کاربران </span>
                    </a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center tabStyle">
                    <a href="@Url.Content("~/Management/Admin/GroupManagement")" class="manageLink" title="مدیریت گروه ها">
                        <span class="managementtabtext">مدیریت گروه ها </span>
                    </a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center tabStyle">
                    <a href="@Url.Content("~/Management/Admin/BasketManagement")" class="manageLink" title="مدیریت درخواست ها">
                        <span class="managementtabtext">مدیریت درخواست ها </span>
                    </a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center tabStyle">
                    <a href="@Url.Content("~/Management/Admin/SiteStatics")" class="manageLink" title="مدیریت درخواست ها">
                        <span class="managementtabtext">آمار سایت </span>
                    </a>
                </li>

            </ul>             
        </li>
        <li>
            <di class="nav nav-tabs tabpanel col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center tabStyle">
                    <a href="@Url.Content("~/Advertizement/Advertizement/Index")" class="manageLink" title="ثبت خبر">
                        <span class="managementtabtext">مدیریت تبلیغات</span>
                    </a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center tabStyle">
                    <a href="@Url.Content("~/Management/Admin/DeletedArticles")" class="manageLink" title="مدیریت خبرهای حذف شده">
                        <span class="managementtabtext">خبرهای حذف شده</span>
                    </a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center tabStyle">
                    <a href="@Url.Content("~/Management/Admin/ManageComment")" class="manageLink" title="مدیریت نظرات">
                        <span class="managementtabtext">مدیریت نظرات</span>
                    </a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center tabStyle">
                    <a href="@Url.Content("~/Management/Admin/VIPPlan")" class="manageLink" title="مدیریت VIP">
                        <span class="managementtabtext">مدیریت VIP</span>
                    </a>
                </li>
                <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                </li>
            </di>
        </li>
    </ul>
}
else
{
    <aside class="row">
        <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <aside style="height:50px; font-size:12px; color:#c0d846; font-weight:bold; text-align:center;">
                صفحه مورد نظر یافت نشد
            </aside>
        </aside>
    </aside>
}