﻿<aside class="navbar navbar-default navbar-inverse" role="navigation">
    <aside class="container-fluid" id="navfluid">
        <aside class="navbar-header">
            <button type="button" class="navbar-toggle collapsed menuButton" data-toggle="collapse" data-target="#myMenu" style="float:right; margin-right:20px;">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </aside>
        <aside class="navbar-collapse collapse" id="myMenu">
            <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="nav navbar-nav pull-right second">
                    <li class="nav-item  menulist">
                        <a style="font-size:12px;" class="@Html.IsSelected(controller: "Home",action: "Index")" tabindex="-1" href="@Url.Content("~/Home/Index")">صفحه ی اصلی</a>
                    </li>
                    <li class="nav-item menulist ">
                        <a style="font-size:12px;" class="@Html.IsSelected(controller:"VIPaccount" ,action: "BuyVipAcount")" tabindex="-1" href="@Url.Content("~/VIPaccount/BuyVipAcount")">اکانت vip</a>
                    </li>
                    <li class="nav-item">
                        <a class="@Html.IsSelected(controller: "StoreAdmin", action: "Index",area: "Store")" style="font-size:12px;" tabindex="-1" href="@Url.Content("~/Store/StoreAdmin/Index")">فروشگاه</a>
                    </li>
                    <li class="nav-item ">
                        <a tabindex="-1" class="@Html.IsSelected(controller: "RequestAdmin", action: "RequestList")" style="font-size:12px; text-align: center;" href="@Url.Content("~/Request/RequestAdmin/RequestList")">ثبت درخواست</a>
                    </li>
                    <li class="nav-item ">
                        <a class="@Html.IsSelected(controller:"Home",action: "Rendering")" style="font-size:12px;" tabindex="-1" href="@Url.Content("~/Home/Rendering")">امور رندرینگ</a>
                    </li>
                    <li class="nav-item">
                        <a class="@Html.IsSelected(controller:"Home",action: "Project")" style="font-size:12px;" tabindex="-1" href="@Url.Content("~/Home/Project")">انجام پروژه</a>
                    </li>
                    <li class="nav-item ">
                        <a class="@Html.IsSelected(controller:"Home",action: "About")" style="font-size:12px;" tabindex="-1" href="@Url.Content("~/Home/About")">درباره ما</a>
                    </li>
                    <li class="nav-item ">
                        <a class="@Html.IsSelected(controller:"Home",action: "Contact")" style="font-size:12px;" tabindex="-1" href="@Url.Content("~/Home/Contact")">تماس با ما</a>
                    </li>
                    <li class="nav-item ">
                        <a class="@Html.IsSelected(controller:"Home",action: "Rules")" style="font-size:12px;" tabindex="-1" href="@Url.Content("~/Home/Rules")">قوانین و مقررات</a>
                    </li>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="nav-item ">
                            <a class="@Html.IsSelected(controller:"Admin",action: "Index")" tabindex="-1" style="width: 80px;text-align: right; font-size:12px;" href="@Url.Content("~/Management/Admin/Index")">مدیریت</a>
                        </li>
                        @*<li class="dropdown-submenu" style="width:100px;">
                                <a class="btn mybtn dropdown-toggle dropdown-custom btn_TextAlign" data-toggle="dropdown" aria-expanded="true"
                                   href="@Url.Content("~/Management/Admin/Index")" tabindex="-1" id="Management">
                                    مدیریت
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu Management" aria-labelledby="Management">
                                    <li>
                                        <a tabindex="-1" style="width: 80px;text-align: right;" href="@Url.Content("~/Management/Admin/Index")">مدیریت</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" style="width: 50px;text-align: right;" href="@Url.Content("~/Article/ArticleAdmin/Index")">اخبار</a>
                                    </li>
                                    <li><a tabindex="-1" href="@Url.Content("~/Article/Group/Index")">درج گروه خبری</a></li>
                                    <li><a tabindex="-1" href="@Url.Content("~/RolesAdmin/Index")">مدیریت نقشها</a></li>
                                    <li><a tabindex="-1" href="@Url.Content("~/UsersAdmin/Index")">مدیریت کاربران</a></li>
                                </ul>
                            </li>*@
                    }
                </ul>
            </aside>
        </aside>
    </aside>
</aside>