﻿


<link href="~/Content/Style/Home.css" rel="stylesheet" />
@using (Html.BeginForm("Search", "Home", new { ReturnUrl = ViewBag.ReturnUrl, role = "form" }, FormMethod.Post, null))
{
    <script type="text/javascript">
        $('#btn_Saerch').click(function () {
            debugger;
            $.ajax({
                actionName: "Search",
                ContreollerName: "Home",
                type: "POST",
                data: {
                    SearchWord: "@ViewBag.SearchWord"
                },
                success: function () {
                },
                error: function () {
                }
            });
        });
    </script>

    @Html.AntiForgeryToken()
    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
    <div class="form-horizontal">
        <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10" style="padding:0px !important;"> 
            @Html.TextBox("SearchWord", ViewBag.SearchWord as string, htmlAttributes: new { @class = "form-control searchTextBox", placeholder = "جستجو" })
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center" style="padding:0px !important;">
            <input type="submit" id="btn_Saerch" class="searchicon" />
        </div>
    </div>
}
