﻿<link href="@Url.Content("~/Content/Style/CaruselCustomStyle.css")" rel="stylesheet" />

<div id="myCarousel" class="carousel slide carousel-fade mainCarusel" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators myIndicator">
        @if (ViewBag.AllData.ArticleSlideShowList != null)
        {
            for (int i = 0; i < ViewBag.AllData.ArticleSlideShowList.Count; i++)
            {
                if (i < 6)
                {
                    if (i == 0)
                    {
                        <li data-target="#myCarousel" data-slide-to="@i" class="active col-lg-1 col-md-1 col-sm-1 col-xs-1 arrowkey"></li>
                    }
                    else
                    {
                        <li data-target="#myCarousel" data-slide-to="@i" class="col-lg-1 col-md-1 col-sm-1 col-xs-1 arrowkey"></li>
                    }
                }
                else
                {
                    break;
                }
            }
        }
    </ol>
    <a class="left carousel-control arrowwithnobackground" href="#myCarousel" data-slide="prev">
        <img src="@Url.Content("~/Content/Images/All/prev.png")" class="glyphicon-chevron-left nextcarusel" />
        <span class="sr-only">قبلی</span>
    </a>
    <div class="carousel-inner">
        @{var first = false;
            var ind = 0; }
        @if (ViewBag.AllData.ArticleSlideShowList != null)
        {
            foreach (var item in ViewBag.AllData.ArticleSlideShowList)
            {
                if (ind < 6)
                {
                    if (!first)
                    {
                    <div class="item active col-lg-12 col-md-12 col-sm-12 col-xs-12 imageContent">
                        <img src="@Url.Content(item.ImagePath)" alt="بزرگترین سایت دانلود رایگان نرم افزار گرافیکی"
                             title=@item.Title class="img-responsive imagecarusel">
                        <div class="carousel-caption myCaption">
                            <h5 class="teitleCarusel caruselText">
                                <a class="btn-link" target="_blank" href=@Url.Action("DetailArticle", "ArticleAdmin", routeValues: new { area = "Article", item.Id })>
                                    @item.Title
                                </a>
                            </h5>
                            @*<p class="summerycarusel caruselText">@item.Summery</p>*@
                        </div>
                    </div>
                        first = true;
                    }
                    else
                    {
                    <div class="item col-lg-12 col-md-12 col-sm-12 col-xs-12 imageContent">
                        <img src="@Url.Content(item.ImagePath)" alt="بزرگترین سایت دانلود رایگان نرم افزار گرافیکی"
                             title=@item.Title class="img-responsive imagecarusel">
                        <div class="carousel-caption myCaption">
                            <h5 class="teitleCarusel caruselText">
                                <a class="btn-link" target="_blank" href=@Url.Action("DetailArticle", "ArticleAdmin", routeValues: new { area = "Article", item.Id })>
                                    @item.Title
                                </a>
                            </h5>
                            @*<p class="summerycarusel caruselText">@item.Title</p>*@
                        </div>
                    </div>
                    }
                }
                ind = ind + 1;
            }
        }
    </div>
    <!-- Left and right controls -->

    <a class="right carousel-control arrowwithnobackground" href="#myCarousel" data-slide="next">
        <img src="@Url.Content("~/Content/Images/All/nect.png")" class="glyphicon-chevron-right previuscarusel" style="margin-right:0px !important;" />
        <span class="sr-only">بعدی</span>
    </a>
</div>
