﻿
@using Microsoft.AspNet.Identity

@using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
    @Html.AntiForgeryToken()

    <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 lognitems">
            <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-left">
                @{
                    Html.RenderAction("UserImage", "Account", new { area = "" });
                }
            </aside>
            <aside class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right">
                <span class="usernamelable">@User.Identity.GetUserName()</span>
                <br /> <br />
                @if (ViewBag.VipDays != null)
                {
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        اکانت VIP
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                         style="border-radius:30px; text-align:center; background-color:#0ab491; border:2px solid #fff; ">
                        @if (ViewBag.VipDays.ToString() == "0")
                        {
                        <span>
                            روز آخر
                        </span>
                        }
                        else
                        {
                            <span>@ViewBag.VipDays </span>
                        }
                    </div>
                }
            </aside>
        </aside>
        <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 lognitems">
            پیام های خوانده نشده
        </aside>
        <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 lognitems">
            @Html.ActionLink("علاقه مندی ها", "FavoritArticles", "Home")
            <span> : @ViewBag.LikeCount</span>

        </aside>
        <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 lognitems">
            @Html.ActionLink("مشاهده پروفایل", "Index", "Manage", routeValues: new { area = "" }, htmlAttributes: new { title = "Manage" })
        </aside>
        <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 lognitems">
            <a href="@Url.Content("~/Manage/ManageUserBasket")">
                مشاهده سبد خرید
                @ViewBag.Basket
            </a>
        </aside>
        <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 lognitems">
            اخبار جدید
        </aside>
        <aside class="col-lg-10 col-md-10 col-sm-10 col-xs-10 lognitems">
            <a href="javascript:document.getElementById('logoutForm').submit()">خروج</a>
        </aside>
    </aside>
}
